<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.darryring.dao.Dr_shopcarMapper">

    <select id="selProById" resultType="Dr_shopcar">
        select * from dr_shopcar s,dr_user u where s.uid = u.userId and s.uid = #{uid}
    </select>
    <insert id="addPro">
        insert into dr_shopcar(pid,uid,xtotal,num) values(#{pid},#{uid},#{xtotal},#{num})
    </insert>
    <update id="upPro">
        update dr_shopcar set `xtotal` = #{xtotal},`num` = #{num} WHERE `uid` = #{uid}
         <if test="pid!=null and pid!=''" >
             and pid = #{pid}
         </if>
    </update>
    <delete id="delPro">
        delete from dr_shopcar where uid = #{uid} and pid = #{pid}
    </delete>
</mapper>