<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.darryring.dao.Dr_user_areaMapper">

    <select id="queryAllSheng" resultType="Dr_user_area">
        select * from dr_user_area where parentId = 0
    </select>

    <select id="queryShiBySheng" resultType="Dr_user_area">
        select * from dr_user_area where parentId = #{shengId}
    </select>

    <select id="queryQuByShi" resultType="Dr_user_area">
        select * from dr_user_area where parentId = #{shiId}
    </select>

</mapper>