.checkstand, .shoppingcart {
    color: #666
}

a {
    color: #8b766c
}

table a:link {
    color: #8b766c
}

table a:hover {
    color: #8b766c
}

table a:visited {
    color: #8b766c
}

.cart_head .dr_member-left .drtojoin {
    background: #8b766c;
    color: #fff
}

a.link_btn1 {
    display: inline-block;
    padding: 6px 10px;
    color: #8b766c;
    border: 1px solid #8b766c;
    font-size: 12px;
    margin-right: 10px
}

a.link_btn1:hover, a.link_btn3:hover {
    color: #fff;
    background: #8b766c
}

a.link_btn2:hover {
    background: #8b766c
}

.dr_footer a {
    color: #666
}

.checkstand {
    margin: 40px auto 0;
    position: relative
}

.checkstand_head h3 {
    border-left: 2px solid #97847b;
    font-size: 18px;
    color: #333;
    padding-left: 15px;
    display: inline-block;
    float: left
}

.shopping_steps div {
    width: 198px;
    float: left;
    text-align: center;
    color: #cbcbcb;
    font-size: 12px
}

.shopping_steps span {
    display: block;
    /*width: 100%;
    height: 100%;*/
    line-height: 23px;
    color: #fff;
    letter-spacing: -2px;
    margin-bottom: 10px;
    background: #cbcbcb url(//res.darryring.com/webimg/cart/steps_bg.png) center no-repeat
}

.sp_steps1 span {
    background-position: left center
}

.sp_steps3 span {
    background-position: right center
}

.shopping_steps .steps_active span {
    background-color: #8b766c
}

.shopping_steps .steps_active p {
    color: #8b766c
}

.shopping_steps .steps_selected span {
    background-color: #8b766c
}

.shopping_steps .steps_selected p {
    color: #8b766c
}

.checkstand_con {
    border: 1px solid #f1f1f1;
    padding: 20px;
    margin-top: 20px
}

.order_info {
    position: relative;
    border-bottom: 2px solid #F1F1F1;
    padding-bottom: 12px
}

.order_info h4 {
    display: inline;
    color: #333;
    font-size: 16px;
    font-family: "寰蒋闆呴粦"
}

.pay_money span {
    color: #ff5d5b;
    font-weight: 700;
    font-size: 13px
}

.order_detail {
    margin: 60px 0;
    text-align: center;
    line-height: 30px;
    font-size: 12px
}

.order_detail h3 {
    font-size: 18px;
    font-family: "寰蒋闆呴粦";
    color: #493428;
    font-weight: 700;
    margin-bottom: 10px
}

.toggle_detail {
    background: url(//res.darryring.com/webimg/cart/right.png) right center no-repeat;
    padding-right: 12px;
    color: #8b766c;
    margin-left: 10px
}

.toggle_detail.active {
    background: url(//res.darryring.com/webimg/cart/bottom.png) right center no-repeat
}

.order_detail p span {
    color: #ff5d5b
}

.order_detailInfo {
    display: inline-block;
    min-width: 460px;
    margin: 15px auto;
    margin-bottom: 0;
    padding: 15px 0;
    text-align: left;
    border-top: 2px dashed #e4e4e4;
    background: #fafafa
}

.order_detailInfo p {
    margin: 0 30px
}

.detail_hide {
    display: none;
    margin-bottom: 10px
}

.detail_hide p span {
    color: #666;
    margin: 0 20px
}

.tab {
    border-bottom: 1px solid #c6c6c6;
    padding-left: 20px;
    font-size: 12px
}

.tab .fr {
    margin-top: 12px;
    margin-right: 12px
}

.tab_select {
    display: inline-block;
    padding: 10px 18px;
    margin-right: 3px;
    background: #f1f0f0;
    color: #ababab;
    font-size: 14px;
    border: 1px solid #C6C6C6;
    border-bottom: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    cursor: default
}

.tab_select.active {
    background: #fff;
    border-bottom: 1px solid #fff;
    font-weight: 700;
    color: #666;
    margin-bottom: -1px
}

#tab_content2 {
    display: none
}

.tab_contents {
    padding: 30px 20px;
    font-size: 12px;
    padding-right: 0;
    margin-right: -20px
}

.pay_way {
    margin-bottom: 10px;
    z-index: 1;
    clear: both
}

.pay_way label {
    float: left;
    margin-top: 18px
}

.pay_way ul {
    margin-left: 100px;
    z-index: 1;
    position: relative
}

.pay_way ul li {
    display: inline-block;
    width: 150px;
    float: left;
    margin-bottom: 20px;
    margin-right: 18px;
    position: relative;
    z-index: 1
}

.pay_way li a {
    display: block;
    width: 152px;
    height: 50px;
    position: relative
}

.pay_way li div {
    width: 150px;
    height: 48px;
    text-align: center;
    background: #fff;
    border: 1px solid #cbcbcb;
    overflow: hidden
}

.pay_way li a:hover div {
    position: relative;
    left: -25px;
    top: -18px;
    width: 200px;
    height: 84px;
    background: #fff;
    border: 2px solid #8b766c;
    box-shadow: 0 0 5px #cbcbcb
}

.pay_way li:hover {
    z-index: 2
}

.pay_way li a:hover img {
    margin-top: 10px
}

.pay_way1 li a:hover img {
    margin-top: 20px
}

.pay_way li a:hover p {
    display: block;
    line-height: 18px;
    margin-top: -8px
}

.pay_way p {
    display: none
}

.pay_way li div.bank_selected {
    border: 2px solid #8b766c;
    background: url(//res.darryring.com/webimg/ringbuy/right.png) right bottom no-repeat
}

.pay_now {
    height: 50px;
    text-align: right;
    background: #f8f8f8;
    border: 1px solid #f1f1f1;
    border-top: 0;
    border-right: 0
}

.pay_bottom {
    width: 100%;
    position: initial
}

.pay_float {
    position: fixed;
    left: 50%;
    bottom: 0;
    margin-left: -680px;
    z-index: 7
}

.pay_now p {
    display: inline;
    margin-right: 30px
}

.pay_now a {
    display: inline-block;
    width: 160px;
    letter-spacing: 1px;
    font-weight: 700;
    line-height: 50px;
    background: #a98f83;
    color: #fff;
    text-align: center
}

.ordersuccess {
    margin: 40px auto
}

.orderSuccess_tips {
    border: 1px solid #f1f1f1;
    background: #fafafa;
    padding: 60px 90px;
    position: relative
}

.orderSuccess_tips div {
    padding-left: 52px;
    font-size: 12px
}

.success_tips {
    background: url(//res.darryring.com/webimg/ringbuy/dagou.png) left 12px no-repeat
}

.success_tips h2 {
    font-size: 18px;
    font-weight: 700;
    font-family: "寰蒋闆呴粦";
    color: #9b745c;
    margin-bottom: 15px
}

.success_link {
    margin: 20px 0
}

.success_link a {
    display: inline-block;
    padding: 6px 10px;
    margin-right: 15px;
    border: 1px solid #9b745c
}

.success_share .comShare {
    width: 215px;
    font-size: 12px;
    padding: 10px 0;
    border: 1px solid #e7dbd4;
    border-left: 0;
    border-right: 0
}

.success_share .comShare a {
    margin: 0;
    vertical-align: middle
}

.qrCode {
    position: absolute;
    top: 62px;
    left: 360px;
    text-align: center
}

.qrCode p {
    line-height: 18px;
    color: #666;
    font-size: 12px
}

.qrCode .img-box {
    margin-bottom: 5px;
    height: 100%;
    padding: 0 35px;
    border-left: 1px dashed #cbcbcb
}

.app_QRcode {
    position: absolute;
    right: 140px;
    bottom: 0;
    z-index: 2
}

.sucess_adv {
    font-size: 0
}

.ordersuccess_ad {
    margin: 40px 0;
    text-align: center
}

.ordersuccess_ad img {
    max-width: 100%
}

.ordersuccess_ad ul li {
    display: inline-block;
    margin-left: 20px;
    float: left;
    text-align: center
}

.ordersuccess_ad ul li:first-child {
    margin-left: 0
}

.ordersuccess_ad li a {
    display: block;
    font-size: 16px;
    font-family: "寰蒋闆呴粦";
    color: #000;
    margin-bottom: 15px
}

.ordersuccess_ad li:hover a {
    opacity: .8;
    filter: alpha(opacity=80);
    color: #d49e85
}

.shoppingcart {
    margin: 40px auto 0
}

.shoppingcart_table {
    width: 100%;
    border: 0;
    margin: 20px 0;
    font-size: 12px;
    border: 1px solid #e0e0e0
}

.shoppingcart_table thead {
    background: #f3f3f3;
    border: 1px solid #e0e0e0
}

.shoppingcart_table .thead-tr td {
    line-height: 1;
    background: #f3f3f3;
    border-bottom: 1px solid #e0e0e0
}

.shoppingcart_table tbody {
    background: #fcfcfc;
    border: 1px solid #e0e0e0
}

.shoppingcart_table tr td {
    padding: 15px 0
}

.shoppingcart_table tbody tr td {
    line-height: 30px
}

.scfoot_left input, .shoppingcart_table .thead-tr input, .shoppingcart_table thead input {
    margin: 0 4px 0 0 !important;
    vertical-align: middle;
    position: relative;
    top: -1px
}

.shoppingcart_tbody input[type=checkbox] {
    margin-top: 40px
}

.nopadding {
    padding: 0 !important
}

.nopad_left {
    padding-left: 0 !important
}

.padleft_20 {
    padding-left: 20px !important
}

.border_dashed {
    border-bottom: 1px dashed #e0e0e0
}

.tr-dashed td {
    border-bottom: 1px dashed #e0e0e0
}

.shoppingcart_table strong {
    margin-right: 20px
}

.ring_detail div, .ring_detail strong {
    display: inline-block;
    vertical-align: text-top;
    line-height: 20px
}

.ring_detail p {
    color: #999
}

.ringdetail_hide {
    width: 200px
}

.ringdetail_hide div {
    display: none
}

.ringdetail_show {
    background: url(//res.darryring.com/webimg/cart/right.png) right center no-repeat;
    padding-right: 10px
}

.ringdetail_show.active {
    background: url(//res.darryring.com/webimg/cart/bottom.png) right center no-repeat
}

.shoppingcart_pay {
    position: initial;
    width: 1360px;
    height: 50px;
    background: #f8f8f8;
    border: 1px solid #f1f1f1;
    font-size: 12px;
    margin-top: 10px
}

.shoppingcart_pay p {
    display: inline-block;
    margin-right: 15px;
    line-height: 50px
}

.scfoot_left {
    float: left;
    padding-left: 20px
}

.scfoot_right {
    float: right
}

.scfoot_left a {
    color: #666
}

.scfoot_left a:hover {
    color: #8b766c
}

.scfoot_right strong {
    color: #ff5d5b;
    margin: 0 1px;
    font-size: 13px
}

.scfoot_right a {
    display: inline-block;
    width: 160px;
    letter-spacing: 1px;
    font-size: 14px;
    font-weight: 700;
    line-height: 50px;
    background: #a98f83;
    color: #fff;
    text-align: center;
    margin-left: 30px
}

.scfoot_right .unclick {
    background: #c4c4c4
}

.scfoot_right .unclick:hover {
    background: #c4c4c4
}

.shopping_security {
    font-size: 12px;
    text-align: right
}

.shopping_security span {
    display: inline-block;
    height: 20px;
    line-height: 20px;
    margin-left: 20px;
    padding-left: 25px;
    background: url(//res.darryring.com/webimg/cart/ico-service.png) 0 0 no-repeat
}

.shopping_security span.security2 {
    background-position: 0 -36px
}

.shopping_security span.security3 {
    background-position: 0 -70px
}

.shoppingcart_none {
    margin: 40px 0;
    background: #fafafa;
    border: 1px solid #f1f1f1
}

.shoppingcart_none div {
    width: 400px;
    height: 90px;
    margin: 95px auto;
    background: url(//res.darryring.com/webimg/cart/ico-cart.png) left center no-repeat;
    padding-left: 90px
}

.shoppingcart_none div p {
    padding: 15px 0
}

.order_address {
    margin-top: 20px;
    margin-bottom: 60px;
    position: relative
}

.order_address .confirm_btn a {
    font-family: "寰蒋闆呴粦";
    font-size: 14px
}

.order_address .confirm_btn .link_btn1 {
    padding: 8px 25px
}

.address_lists {
    display: none
}

.address_list {
    width: 600px;
    padding-left: 70px;
    font-size: 12px;
    color: #404040;
    line-height: 22px;
    position: relative
}

.address_list .sendto {
    position: absolute;
    left: 8px;
    top: 4px;
    background: url(//res.darryring.com/webimg/cart/ico-location.png) left top no-repeat;
    color: #9b745c;
    padding-left: 20px;
    display: none
}

.address_list input[type=radio] {
    float: left
}

.address_list p {
    line-height: 24px;
    margin-left: 25px
}

.order_address a {
    font-size: 12px
}

.address_list.select {
    border: 1px solid #ffbe78;
    background: #fff8ef url(//res.darryring.com/webimg/cart/ico-select1.png) right bottom no-repeat;
    font-size: 14px;
    padding: 5px;
    padding-left: 70px;
    margin-bottom: 5px
}

.address_list.select .sendto {
    display: block;
    font-weight: 700;
    font-size: 12px
}

.address_list.select div {
    width: 500px;
    font-weight: 700
}

.address_list span {
    font-size: 12px;
    color: grey;
    font-weight: 400
}

.address_list span.address_phone {
    color: #666
}

.address_list.select span.address_phone {
    font-weight: 700;
    margin-right: 20px
}

.address_list a {
    display: none
}

.address_list.select a {
    position: absolute;
    right: 8px;
    top: 5px;
    display: block;
    float: right
}

.address_hide {
    display: none
}

.address_other {
    display: inline-block
}

.address_option {
    margin-left: 95px;
    margin-top: 5px
}

.address_option a {
    margin-right: 10px
}

.delivery_notic {
    position: absolute;
    right: 0;
    top: 0;
    width: 230px;
    font-size: 12px
}

.delivery_notic h3 {
    color: #FFBE78;
    font-weight: 700;
    border-bottom: 1px dashed #e4e4e4;
    padding-bottom: 12px;
    margin-bottom: 8px
}

.delivery_notic p {
    margin-bottom: 8px
}

.delivery_notic input[type=text] {
    width: 142px;
    height: 24px;
    line-height: 24px;
    margin-left: 20px;
    margin-right: 5px;
    font-size: 12px;
    color: #666;
    padding: 0 2px;
    border: 1px solid #c9c9c9
}

.delivery_notic label {
    margin-left: 20px
}

.msg_o {
    display: none
}

.order_info h4 span {
    font-size: 12px;
    margin-left: 20px;
    font-family: "瀹嬩綋"
}

.confirm_info .order_info a {
    font-size: 12px;
    float: right;
    line-height: 20px
}

.confirmInfo_table {
    width: 100%;
    border: 1px solid #e0e0e0;
    font-size: 12px;
    margin: 20px 0;
    text-align: center
}

.confirmInfo_table p {
    color: #666;
    line-height: 22px
}

.confirmInfo_table p span {
    color: #999
}

.confirmInfo_table .pad6 td {
    padding: 6px 0
}

.confirmInfo_table .mag38 p {
    margin-left: 38px
}

.Toquestion {
    display: inline-block;
    background: url(//res.darryring.com/webimg/cart/question.png) no-repeat;
    width: 14px;
    height: 14px;
    vertical-align: middle;
    margin-left: 4px
}

.confirmInfo_table thead {
    background: #f3f3f3;
    line-height: 40px;
    text-align: center;
    border-bottom: 1px solid #e0e0e0
}

.confirmInfo_table img {
    float: left;
    margin-left: 40px
}

.confirmInfo_table tbody tr {
    margin: 0 20px
}

.confirmInfo_table tbody td {
    position: relative;
    border-top: 1px dashed #e0e0e0
}

.confirmInfo_table .haveSolid {
    border-top: 1px solid #e0e0e0;
    background: #fafafa;
    height: 34px
}

.confirmInfo_table span {
    margin-left: 38px
}

.confirmInfo_table i {
    color: #689acd
}

.confirmInfo_table tbody div {
    display: block;
    text-align: left;
    margin-left: 150px;
    padding-top: 20px
}

.confirmInfo_table tbody .firmInfo_mg {
    margin-right: 48px;
    padding: 0;
    text-align: right;
    margin-left: 0
}

.confirmInfo_table tbody div p {
    line-height: 20px
}

.confirmInfo_table strong {
    color: #FF5D5B;
    font-size: 13px
}

.confirmInfo_table tbody .HaveDr {
    border-bottom: 1px solid #fff
}

.HaveDr p {
    color: #c57d5c;
    font-size: 14px;
    padding: 4px 40px;
    text-align: left
}

.address_popup {
    width: 560px;
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: -300px;
    margin-top: -190px;
    background: #fff;
    border: 2px solid #f2e3dc;
    padding: 20px;
    font-size: 12px;
    color: #404040;
    z-index: 10;
    display: none
}

.address_edit {
    font-size: 12px
}

.address_edit h4 {
    color: #fc6210;
    margin-bottom: 20px
}

.address_edit div {
    margin-bottom: 15px
}

.address_edit label {
    width: 80px;
    display: inline-block;
    text-align: right;
    margin-right: 5px
}

.address_edit label span {
    color: #ff5d5b;
    margin-right: 3px
}

.address_edit input {
    height: 20px;
    width: 165px;
    line-height: 24px;
    padding: 2px;
    border: 1px solid #e6e6e6
}

.address_edit select {
    height: 26px;
    width: 98px;
    padding: 2px;
    color: #666;
    border: 1px solid #e6e6e6
}

input.width300 {
    width: 300px
}

input.width46 {
    width: 46px
}

input.width126 {
    width: 126px
}

.confirm_btn {
    padding-left: 92px;
    margin-top: 20px
}

.confirm_btn a {
    margin-right: 20px
}

input[type=text].error_info {
    border: 1px solid #fe8c8c
}

span.error_info {
    color: #fe8c8c
}

.love_agreement_bg {
    background: url(//res.darryring.com/webimg/cart/bg_xy.jpg) left top;
    background-size: 100% 100%;
    padding: 20px;
    margin: 60px -20px
}

.love_agreement_con {
    padding: 20px;
    background: #fff
}

.love_agreement {
    min-height: 675px;
    background: #fff;
    font-size: 12px;
    border: 3px solid #dbc8ba
}

.aggreement_logo {
    text-align: center;
    padding: 30px
}

.aggreement_title {
    height: 60px;
    background: #dbc8ba;
    margin-top: 20px;
    position: relative
}

.aggreement_title img {
    position: absolute;
    left: 50%;
    top: -20px;
    margin-left: -60px
}

.have_read {
    text-align: center;
    margin-top: 40px
}

.have_read input {
    vertical-align: middle;
    margin-right: 5px
}

.aggreement_con {
    padding: 0 30px;
    padding-top: 30px;
    color: #404040
}

.aggreement_left {
    float: left;
    width: 50%
}

.aggreement_right {
    margin-left: 50%
}

.aggreement_left label {
    display: inline-block;
    width: 80px;
    padding-right: 20px;
    text-align: right
}

.aggreement_left label span {
    color: #ff5d5b
}

.aggreement_left div {
    margin-bottom: 30px
}

.aggreement_left input {
    height: 25px;
    line-height: 24px;
    width: 216px;
    padding: 0 2px
}

.aggreement_left div strong {
    color: #c57d5c;
    font-family: "寰蒋闆呴粦"
}

.aggreement_right p {
    text-indent: 2em;
    line-height: 22px
}

.aggreement_con2 {
    border-top: 1px dashed #e4e4e4
}

.aggreement_con2 .aggreement_right p {
    text-indent: 0
}

.aggreement_con2 .aggreement_right h4 {
    margin-top: 20px;
    margin-bottom: 2px;
    font-size: 14px;
    color: #c57d5c;
    font-family: "寰蒋闆呴粦";
    font-weight: 700
}

div.anniversary {
    margin-bottom: 0
}

.anniversary label {
    float: left;
    padding-top: 5px
}

.anniversary div {
    margin-left: 110px;
    margin-bottom: 5px
}

input.anniversary_time {
    width: 90px
}

input.anniversary_name {
    width: 110px
}

.add_anniversary {
    display: block;
    margin-left: 110px;
    margin-bottom: 30px
}

.add_input {
    margin-right: 6px
}

input.datatime {
    background: url(//res.darryring.com/webimg/cart/ico-calendar.png) 201px center no-repeat;
    padding-right: 20px;
    width: 196px;
    cursor: pointer
}

input.datatime.anniversary_time {
    width: 70px;
    background-position: 75px center
}

.order_remark {
    margin-top: 50px;
    margin-bottom: 20px
}

.order_remark textarea {
    width: 1010px;
    height: 108px;
    line-height: 20px;
    padding: 5px;
    margin: 20px;
    margin-left: 0;
    border-color: #e6e6e6;
    resize: none;
    float: left;
    border: 1px solid #e6e6e6;
    overflow: auto
}

.remark_right {
    margin-top: 25px;
    font-size: 12px;
    color: #404040;
    line-height: 22px
}

.remark_right a {
    margin-left: 20px
}

input[type=checkbox], input[type=radio] {
    border: none
}

.morePay {
    text-align: center;
    position: relative;
    margin-bottom: 30px
}

.morePay p {
    font-size: 14px;
    color: #333;
    margin-bottom: 18px
}

.morePay em, .morePay strong {
    vertical-align: middle
}

.morePay em {
    color: #e60012;
    margin-right: 6px
}

.morePay input {
    padding: 4px 0;
    text-indent: 24px;
    width: 238px;
    border: 1px solid #e6e6e6
}

.morePay i {
    position: absolute;
    font-size: 14px;
    top: 37px;
    left: 548px
}

.pay_money {
    margin-left: 40px
}

.pay_money p {
    font-size: 12px
}

.pay_money i {
    margin-left: 14px
}

.havejf {
    display: inline-block;
    background: url(//res.darryring.com/webimg/cart/jf.png) no-repeat left center;
    padding-left: 24px;
    color: #f59820
}

.detail_jf em {
    color: #999
}

.detail_jf a {
    color: #689acd;
    margin-left: 6px
}

.confirmInfo_table tbody .gift_select {
    position: relative;
    width: 114px;
    height: 18px;
    line-height: 18px;
    margin-left: 10px;
    padding: 0;
    border: 1px solid #e6e6e6;
    background: #fff url(//res.darryring.com/webimg/common/bottom.png) no-repeat 94% center;
    padding-left: 10px
}

.gift_select select {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: .01;
    filter: Alpha(Opacity=.01);
    margin: 0
}

.gift_select em {
    display: inline-block;
    white-space: nowrap;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    overflow: hidden;
    width: 96px
}

.thegifts {
    position: absolute;
    background: #ddb09b;
    width: 16px;
    height: 16px;
    text-align: center;
    line-height: 16px;
    font-size: 12px;
    border-radius: 5px;
    top: 6px;
    left: 80px;
    color: #fff
}

.ringbuy_Choose-four {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none;
    user-select: none;
    font-size: 0;
    display: inline-block
}

.ringbuy_Choose-four em, .ringbuy_Choose-four i, .ringbuy_Choose-four span {
    font-size: 12px;
    vertical-align: middle
}

.ringbuy_Choose-four i {
    display: inline-block;
    width: 27px;
    height: 27px;
    line-height: 27px;
    background: #fff;
    font-size: 18px;
    color: #666;
    border: 1px solid #b0b0b0;
    cursor: pointer;
    text-align: center;
    font-weight: 700
}

.ringbuy_Choose-four .Toreduce {
    border-radius: 3px 0 0 3px
}

.ringbuy_Choose-four .Toadd {
    border-radius: 0 3px 3px 0
}

.ringbuy_Choose-four em {
    display: inline-block;
    border: 1px solid #b0b0b0;
    border-left: none;
    border-right: none;
    background: #fff;
    width: 30px;
    text-align: center;
    height: 27px;
    line-height: 27px;
    font-size: 12px
}

.ringbuy_Choose-third {
    display: inline-block;
    position: relative;
    font-size: 0;
    width: 240px;
    border: 1px solid #b0b0b0;
    border-radius: 3px;
    background: #fff;
    height: 28px;
    line-height: 28px
}

.ringbuy_Choose-third.error {
    border: 1px solid #ff8b8a
}

.ringbuy_Choose-third em, .ringbuy_Choose-third i, .ringbuy_Choose-third input, .ringbuy_Choose-third span {
    font-size: 12px;
    vertical-align: middle
}

.ringbuy_Choose-four span, .ringbuy_Choose-third span {
    color: #666;
    font-weight: 700;
    margin-right: 10px
}

.ringbuy_Choose-third input {
    padding: 7px 0 7px 4px;
    width: 146px;
    border: none;
    background: 0 0
}

.ringbuy_Choose-btn {
    height: 100%;
    position: absolute;
    right: 2px;
    top: 0;
    z-index: 6
}

.ringbuy_Choose-third i {
    display: inline-block;
    width: 25px;
    border-left: 1px solid #afafb0;
    font-size: 16px;
    color: #8b766c;
    text-align: center;
    cursor: pointer
}

.ringbuy_Choose-btn a {
    display: inline-block;
    font-size: 12px;
    color: #8b766c;
    vertical-align: middle;
    border-left: 1px solid #afafb0;
    width: 36px;
    text-align: center
}

.checkLoveValue input {
    vertical-align: middle
}

.checkLoveValue label {
    color: #666
}

.checkLoveValue label em {
    color: #69c
}

.checkLoveValue.disabled label {
    color: #999
}

.love_agr_bg {
    position: relative;
    width: 958px;
    height: 650px;
    margin: 0 auto;
    background: url(//res.darryring.com/webimg/cart/agrBg.jpg) no-repeat top left;
    text-align: center
}

.love_agr_subTitle {
    position: absolute;
    top: 110px;
    left: 0;
    width: 100%;
    color: #333;
    line-height: 22px
}

.love_agr_desc {
    position: absolute;
    top: 230px;
    right: 106px;
    width: 300px;
    text-align: left;
    color: #999;
    font-size: 12px;
    font-family: "寰蒋闆呴粦", "Microsoft YaHei";
    line-height: 21px
}

.love_agr_desc p {
    padding: 3px 0
}

.love_agr_Info {
    position: absolute;
    top: 412px;
    left: 232px;
    width: 182px
}

.love_agr_Info input {
    display: inline-block;
    height: 24px;
    width: 63px;
    padding: 0 4px;
    color: #666;
    background: 0 0;
    border: none
}

.love_agr_Info input.lai_tName {
    margin-left: 38px;
    width: 56px
}

.love_agr_Info input#lai_yDate {
    margin: 0 0 0 58px;
    width: 118px
}

.love_agr_Info p {
    margin-top: 12px;
    color: #9b745c;
    font-family: "microsoft yahei";
    line-height: 18px
}

.love_agr_Info span {
    font-size: 12px;
    font-family: "microsoft yahei";
    line-height: 18px
}

.myDay_phoneNum {
    width: 360px;
    float: left;
    margin-left: 36px
}

.myDay_phoneNum .mbicon_yzm {
    width: 94px
}

.myDay_getPhone {
    padding-left: 50px
}

.myDay_getPhone .mysame_input p {
    margin-left: 0
}

.myDay_phoneNum .button_sure {
    height: 36px;
    line-height: 36px;
    width: 248px;
    border-radius: 3px;
    margin-bottom: 10px
}

.myDay_phoneNum .tips {
    color: #c9c9c9;
    font-size: 12px;
    text-align: center;
    line-height: 16px
}

.myDay_surePhone {
    padding: 12px 10px 12px 0;
    margin-bottom: 10px;
    border: 1px solid #e6e6e6;
    border-radius: 3px;
    text-indent: 36px;
    font-size: 12px;
    background: url(//res.darryring.com/webimg/MyDr/gray_phone.png) no-repeat 14px center;
    display: none
}

.myDr_edit a {
    margin: 0 5px
}

.myDay_list {
    margin-right: 60px
}

.myDay_listHead {
    height: 30px;
    line-height: 30px
}

.myDay_listHead label {
    display: inline-block;
    padding-left: 15px;
    color: #666;
    font-size: 12px;
    background: url(//res.darryring.com/webimg/MyDr/ico-ring.png) left center no-repeat;
    line-height: 30px
}

.myDay_addDay {
    display: inline-block;
    width: 140px;
    height: 28px;
    font-size: 12px;
    color: #c57d5c;
    border: 1px solid #c57d5c;
    text-align: center;
    line-height: 28px
}

.myDay_addDay:hover {
    color: #d49e85;
    border: 1px solid #d49e85
}

.myDay_table {
    margin-top: 10px
}

.myDay_table th {
    height: 36px;
    font-size: 12px;
    font-weight: 700;
    color: #666;
    background: #f1f1f1;
    border: 1px solid #ececec
}

.myDay_table td {
    height: 32px;
    padding: 0 5px;
    font-size: 12px;
    color: #666;
    border: 1px solid #ececec;
    text-align: center;
    line-height: 20px
}

.myDay_table td input {
    width: 130px;
    border: 1px solid #e6e6e6;
    border-radius: 3px;
    text-align: center;
    padding: 3px 0
}

.Verifica_setPhone, .Verifica_setnewdata {
    text-align: center;
    padding: 60px 0 100px
}

.Verifica_setPhone img, .Verifica_setnewdata img {
    display: block;
    margin: 0 auto
}

.Verifica_setPhone .toright, .Verifica_setnewdata .toright, .mypassword_sucess .toright {
    background: url(//res.darryring.com/webimg/ringbuy/dagou.png) no-repeat left center;
    display: inline-block;
    height: 34px;
    line-height: 34px;
    padding-left: 44px;
    font-size: 24px;
    color: #c57d5c;
    margin: 30px 0 10px;
    font-weight: 700
}

.Verifica_setPhone i, .Verifica_setnewdata i {
    color: #ff5d5b
}

.Verifica_setnewdata p {
    margin: 30px 0 0;
    line-height: 24px
}

.Verifica_delDay, .Verifica_delPhone, .Verifica_only, .Verifica_repeat, .Verifica_setDay {
    padding: 40px 0
}

.Verifica_delDay img, .Verifica_delPhone img, .Verifica_only img, .Verifica_repeat img, .Verifica_setDay img {
    display: block;
    margin: 0 auto;
    margin-bottom: 35px
}

.Verifica_input {
    margin-left: 95px;
    margin-bottom: 10px
}

.Verifica_input input {
    height: 28px;
    padding: 0 5px;
    color: #d7d7d7
}

.myDay_DayName input {
    width: 190px
}

.myDay_DayData input {
    width: 50px;
    height: 30px;
    margin-right: 1px
}

.Verifica_button a {
    width: 80px;
    margin: 35px 5px 0 5px
}

.Verifica_delTips {
    font-size: 12px;
    text-align: center;
    line-height: 20px
}

.color_warn {
    color: #c57d5c
}

.Popup_close {
    z-index: 2
}

.mysame_tips {
    text-align: center;
    font-size: 14px;
    color: #666;
    line-height: 20px;
    padding-bottom: 22px
}

.myEmail_begin .mysame_input, .myphone_begin .mysame_input {
    margin-left: 192px
}

.mysame_input {
    height: 60px;
    font-size: 0
}

.mysame_input input {
    padding: 12px 0;
    border: 1px solid #e6e6e6;
    border-radius: 3px;
    padding-left: 36px;
    font-size: 12px;
    vertical-align: middle
}

.mysame_input p {
    display: none;
    color: #ff7373;
    font-size: 12px;
    margin-top: 4px;
    margin-left: 74px
}

.mysame_input i {
    display: inline-block;
    width: 60px;
    text-align: right;
    font-size: 12px;
    color: #404040;
    margin-right: 10px
}

.mysame_input em {
    color: #ff5d5b;
    margin-right: 2px
}

.mbicon_phone {
    width: 212px;
    background: url(//res.darryring.com/webimg/MyDr/gray_phone.png) no-repeat 14px center
}

.mbicon_yzm {
    width: 96px;
    background: url(//res.darryring.com/webimg/MyDr/gray_yzm.png) no-repeat 8px center
}

.tohave_yzm {
    display: inline-block;
    width: 105px;
    height: 40px;
    background: url(//res.darryring.com/webimg/MyDr/getCodeBtn.png) no-repeat;
    border: none;
    color: #c57d5c;
    text-align: center;
    font-size: 12px;
    line-height: 40px;
    margin-left: 12px;
    vertical-align: middle
}

.tohave_yzm:hover {
    background-position: 0 -40px;
    color: #d49e85
}

.tohave_yzm.sending {
    background-position: 0 -80px;
    color: #999
}

.tohave_yzm.sending:hover {
    background-position: 0 -80px;
    color: #999
}

.myEmail_begin .button_sure, .myemail_newwrite .button_sure, .myemail_write .button_sure, .mypassword_cort .button_sure, .myphone_begin .button_sure, .myphone_write .button_sure {
    height: 36px;
    line-height: 36px;
    width: 248px;
    border-radius: 3px;
    margin-left: 260px;
    margin-bottom: 20px
}

.mysame_wrong input {
    border: 1px solid #ff7373
}

.mysame_wrong .mbicon_phone {
    background: url(//res.darryring.com/webimg/MyDr/red_phone.png) no-repeat 14px center
}

.mysame_wrong .mbicon_yzm {
    background: url(//res.darryring.com/webimg/MyDr/red_yzm.png) no-repeat 8px center
}

.mysame_wrong .mbicon_email {
    background: url(//res.darryring.com/webimg/MyDr/red_email.png) no-repeat 8px center
}

.mysame_wrong .mbicon_lock {
    background: url(//res.darryring.com/webimg/MyDr/red_lock.png) no-repeat 12px center
}

.mysame_wrong p {
    display: block
}

.myemail_sucess, .myemail_sucessbind, .myemailchange_sucess, .myphone_sucess, .myphonechange_sucess {
    text-align: center;
    padding: 80px 0 20px
}

.myemail_sucess img, .myemail_sucessbind img, .myemailchange_sucess, .myphone_sucess img, .myphonechange_sucess img {
    margin-bottom: 8px
}

.myemail_sucess p, .myemail_sucessbind p, .myemailchange_sucess p, .myphone_sucess p, .myphonechange_sucess p {
    font-size: 12px;
    color: #666;
    margin-top: 10px
}

.button_sure {
    display: inline-block;
    background: #fff;
    font-size: 14px;
    border: 1px solid #c57d5c;
    color: #c57d5c;
    width: 138px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    font-family: "microsoft yahei"
}

.myDay_Title {
    padding: 24px 0 30px;
    color: #d29c83;
    line-height: 24px;
    text-align: center
}

.myDay_Title p {
    font-size: 12px
}

.pCancelcomment {
    text-align: center;
    padding: 50px 0
}

.success_tips p {
    line-height: 18px
}

.success_tips .qx {
    margin-top: 12px
}

.success_tips .red, .success_tips .time {
    color: #e60012
}

a.help_fenqi {
    margin-right: 26px;
    color: #333;
    font-size: 14px
}

a.help_fenqi:hover {
    color: #c57d5c
}

.drUseDis {
    margin-bottom: 20px
}

.drUseDis h3 {
    margin-bottom: 10px;
    color: #404040;
    font-size: 16px;
    font-family: "microsoft yahei";
    line-height: 34px
}

.drUseDis h3 p {
    display: inline-block;
    cursor: pointer
}

.drUseDis h3 i {
    display: inline-block;
    width: 18px;
    height: 34px;
    margin-right: 7px;
    vertical-align: middle;
    background: url(//res.darryring.com/webimg/common/icon_down.png) no-repeat center 10px
}

.drUseDis.active h3 i {
    background: url(//res.darryring.com/webimg/common/icon_up.png) no-repeat center 10px
}

.drud_tabs {
    display: none;
    height: 42px;
    background: #f3f3f3;
    border: 1px solid #e0e0e0
}

.drud_tabs .drud_tabsBtn {
    display: inline-block;
    width: 132px;
    color: #666;
    font-size: 12px;
    text-align: center;
    line-height: 42px
}

.drud_tabs .drud_tabsBtn.active {
    color: #c57d5c;
    font-weight: 700
}

.drud_tabs .drud_tabsLink {
    float: right;
    display: inline-block;
    color: #666;
    font-size: 12px;
    margin-right: 16px;
    line-height: 42px
}

.drud_tabView {
    display: none;
    border: 1px solid #e0e0e0;
    border-top: none
}

.drud_tabItem {
    position: relative;
    display: none;
    font-size: 12px;
    min-height: 115px
}

.drud_tabItem.active {
    display: block
}

.drud_con {
    padding: 18px 0 18px 40px;
    line-height: 42px
}

.drud_con .check-dom {
    position: relative;
    top: -2px;
    margin-right: 5px;
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 1;
    font-size: 0;
    background: url(//res.darryring.com/webimg/icons/check_false.png) no-repeat;
    vertical-align: middle;
    cursor: pointer
}

.drud_con .check-dom.checked {
    background: url(//res.darryring.com/webimg/icons/check_true.png) no-repeat
}

.drud_con .deductionVolumeNum-dom:disabled {
    color: #999
}

.drud_con .b {
    font-weight: 700
}

.drud_con .ml6 {
    margin-left: 6px
}

.drud_con .ml10 {
    margin-left: 10px
}

.drud_con .ml30 {
    margin-left: 30px
}

.drud_con i {
    color: #ff5d5b;
    font-size: 13px;
    font-weight: 700
}

.drud_con input {
    width: 78px;
    height: 24px;
    padding: 0 10px;
    border: 1px solid #e6e6e6;
    line-height: 24px
}

.drud_con .fr {
    margin-right: 40px
}

.drud_tips {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 34px;
    background: #f3f3f3;
    border-top: 1px solid #f3f3f3;
    color: #999;
    line-height: 34px
}

.drud_tips p {
    padding-left: 40px
}

.drud_tips i {
    color: red
}

.drud_con select {
    width: 260px;
    height: 20px;
    padding: 0 6px;
    border: 1px solid #a9a9a9;
    vertical-align: middle;
    line-height: 20px
}

a.drud_help {
    display: inline-block;
    width: 14px;
    height: 14px;
    background: url(//res.darryring.com/webimg/common/icon_help.png) no-repeat center center;
    margin-left: 6px;
    vertical-align: middle
}

.drUseDis.active .drud_tabView, .drUseDis.active .drud_tabs {
    display: block
}

span.errorMsg {
    display: none;
    color: #ff8b8a;
    margin-top: 8px;
    line-height: 12px
}

span.errorMsg.active {
    display: inline-block
}

.shoppingcart_pay.pay_float {
    position: fixed
}

.gift_agr_bg {
    position: relative;
    width: 958px;
    height: 650px;
    margin: 0 auto;
    background: url(//res.darryring.com/webimg/cart/agrBg2.jpg) no-repeat top left;
    text-align: center
}

.gift_agr_bg .love_agr_subTitle {
    top: 92px
}

.gift_agr-left {
    position: absolute;
    width: 299px;
    height: 418px;
    left: 185px;
    top: 172px
}

.gift_agr-left span {
    position: absolute;
    font-size: 12px;
    color: #000;
    height: 12px;
    line-height: 12px
}

.gift_agr-left .gift_man {
    width: 50px;
    left: 38px;
    top: 125px
}

.gift_agr-left .gift_ks {
    width: 100px;
    right: 38px;
    top: 125px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
}

.gift_agr-left .gift_woman {
    width: 56px;
    left: 71px;
    top: 143px
}

.gift_agr-left .gift_buy {
    width: 66px;
    left: 38px;
    top: 180px
}

.gift_agr-left .gift_year {
    width: 25px;
    left: 130px;
    top: 180px
}

.gift_agr-left .gift_month {
    width: 23px;
    left: 179px;
    top: 180px
}

.gift_agr-left .gift_date {
    width: 23px;
    left: 224px;
    top: 180px
}

.gift_agr-left .gift_num {
    width: 28px;
    left: 52px;
    top: 200px
}

.gift_agr-left .gift_thing {
    width: 75px;
    left: 123px;
    top: 200px
}

.gift_agr-left .giftDate_sp {
    position: absolute;
    z-index: 2;
    width: 120px;
    height: 16px;
    left: 130px;
    top: 178px
}

.gift_agr-left .a01 {
    position: absolute;
    top: 354px;
    left: 157px;
    display: inline-block;
    width: 104px;
    height: 26px
}

.gift_agr-right {
    position: absolute;
    width: 334px;
    height: 144px;
    top: 281px;
    right: 90px
}

.gift_agr-right textarea {
    width: 308px;
    height: 128px;
    padding: 8px 13px;
    line-height: 22px;
    font-size: 12px;
    color: #333;
    outline: 0;
    resize: none;
    border: none;
    background: 0 0
}

.gift_agr-right i, .gift_agr-right span {
    position: absolute;
    font-size: 12px
}

.gift_agr-right span {
    color: #999;
    left: 12px;
    top: 12px
}

.gift_agr-right i {
    color: #cecece;
    right: 10px;
    bottom: 6px
}

.thetc_tips {
    font-family: "microsoft yahei"
}

.thetc_tips p {
    margin-bottom: 20px;
    color: #666
}

.thetc_tips span {
    font-size: 12px;
    color: #999
}

.thetc_tips .dr_sametcView {
    padding: 54px 0
}

.showEwm_zone {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 6
}

.showEwmzoneCort {
    position: absolute;
    width: 190px;
    height: 220px;
    left: 50%;
    top: 50%;
    margin-left: -161px;
    margin-top: -155px;
    padding: 52px 66px 38px;
    background: #fff;
    text-align: center;
    font-size: 14px;
    color: #666;
    z-index: 4
}

.showEwmzoneCort img {
    width: 192px;
    margin: 0 auto 14px
}

.Theclose {
    cursor: pointer;
    position: absolute;
    width: 14px;
    height: 14px;
    background: url(//res.darryring.com/webimg/common/close.png) no-repeat;
    right: 18px;
    top: 18px
}

.Theclose:hover {
    background-position: 0 -14px
}

.DillTile {
    font-size: 16px;
    color: #404040;
    font-family: "microsoft yahei";
    padding-top: 16px;
    position: relative
}

.DillTile a, .DillTile span {
    font-size: 12px;
    color: #d29b84
}

.DillTile a {
    text-decoration: underline;
    margin-left: 4px
}

.DillTile i {
    display: inline-block;
    background: url(//res.darryring.com/webimg/cart/yw.png) no-repeat;
    width: 14px;
    height: 14px;
    vertical-align: middle;
    margin: 0 6px
}

.DillTips {
    display: none;
    position: absolute;
    font-family: simsun;
    padding: 18px 20px;
    background: #fff;
    line-height: 26px;
    font-size: 12px;
    color: #333;
    width: 470px;
    z-index: 5;
    box-shadow: 0 0 3px #666;
    top: 46px;
    left: 162px
}

.giveDill_list {
    overflow: hidden;
    margin: 16px 0
}

.giveDill_list li {
    float: left;
    cursor: pointer;
    position: relative;
    width: 468px;
    height: 228px;
    margin-left: 21px
}

.giveDill_list li:first-child {
    margin: 0
}

.giveDill_list .Dill_hbz {
    background-image: url(//res.darryring.com/webimg/cart/card_hbz.png)
}

.giveDill_list .Dill_hz {
    background-image: url(//res.darryring.com/webimg/cart/card_hz.png)
}

.giveDill_list .Dill_bz {
    background-image: url(//res.darryring.com/webimg/cart/card_bz.png)
}

.giveDill_list a {
    display: none;
    width: 468px;
    height: 228px;
    background: url(//res.darryring.com/webimg/cart/border_active.png) no-repeat 4px 4px
}

.giveDill_list p {
    position: absolute;
    width: 100%;
    height: 42px;
    line-height: 42px;
    font-size: 12px;
    color: #73778e;
    text-align: center;
    left: 0;
    bottom: 2px
}

.giveDill_list li.active a {
    display: block
}

.giveDill_list li.active p {
    color: #c57d5c
}

.xycard {
    height: 12px;
    border: 1px solid #e0e0e0;
    margin-bottom: 40px;
    padding: 15px 20px
}

.xycard .xycheck {
    display: inline-block;
    width: 10px;
    height: 10px;
    padding: 1px;
    border: 1px solid #c57d5c;
    cursor: pointer;
    vertical-align: middle
}

.xycard .xycheck img {
    width: 100%
}

.xycard span {
    font-size: 12px;
    color: #666
}

.xycard span em {
    color: #999
}

.delivery_notic02 {
    margin-top: 40px
}

.delivery_notic02 .p01 {
    margin-bottom: 18px;
    color: #fc6210;
    font-size: 12px
}

.delivery_notic02 .p02 .txt {
    margin-right: 4px;
    display: inline-block;
    width: 82px;
    line-height: 26px;
    text-align: right;
    color: #404040;
    font-size: 12px;
    vertical-align: middle
}

.delivery_notic02 .p02 .inp-txt {
    width: 144px;
    height: 24px;
    line-height: 24px;
    padding: 0 10px;
    color: #333;
    font-size: 12px;
    border: 1px solid #e6e6e6;
    vertical-align: middle
}

.address_lists02 .address_list {
    width: auto;
    padding-right: 118px;
    padding-left: 70px
}

.address_lists02 .address_list.select div {
    width: auto
}

.address_lists02 .address_list.select span.address_phone {
    color: grey;
    font-size: 14px
}

.address_lists02 .address_list.select a {
    right: 16px
}

.address_lists02 .address_list.select .a01 {
    right: 62px
}

.address_edit .Popup_close02 {
    position: absolute;
    width: 14px;
    height: 14px;
    background: url(//res.darryring.com/webimg/common/close.png) no-repeat;
    right: 26px;
    top: 26px;
    display: none
}

.address_popup .Popup_close02 {
    display: block
}

.add-addressForm {
    padding: 20px 20px 76px;
    border-bottom: 1px solid #d9d9d9;
    margin-bottom: 20px
}

.add-addressForm .formTable td {
    padding: 10px
}

.add-addressForm .inp01 {
    width: 458px;
    padding: 0 20px
}

.add-addressForm .select-part .custom-select {
    float: left;
    width: 160px
}

.add-addressForm .submit-box {
    margin-top: 30px;
    text-align: center
}

.add-addressForm .submit-box .btn01 {
    display: inline-block;
    width: 200px
}

.index-main {
    padding-top: 20px
}

.main {
    margin: 0 auto;
    width: 1000px
}

.shopCart-header {
    height: 54px;
    line-height: 54px
}

.shopCart-header h1 {
    margin-right: 20px;
    display: inline-block;
    font-size: 14px;
    font-weight: 700
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

.formTable .last-tr td {
    border-bottom: 0
}

.formTable .tdr {
    text-align: right;
    color: #000;
    font-family: 'Microsoft YaHei'
}

.formTable td, .formTable th {
    line-height: 22px;
    font-size: 14px
}

.formTable .tdl {
    text-align: left
}

.inp01 {
    height: 42px;
    line-height: 42px;
    font-size: 14px
}

.inline-block {
    display: inline-block
}

.mar-l20 {
    margin-left: 20px
}

.warn-tips {
    line-height: 20px;
    color: #e21212
}

.mar-b10 {
    margin-bottom: 10px
}

.warn-tips .icon {
    margin-right: 8px
}

.icon-warn_error {
    display: inline-block;
    vertical-align: middle;
    background: url(//res.darryring.com/webimg/cart/warn.png) 0 0 no-repeat;
    background-size: 100%;
    width: 20px;
    height: 20px
}

.warn-tips .txt {
    font-size: 14px;
    vertical-align: middle
}

.custom-select {
    line-height: 16px;
    padding: 12px 3px;
    color: #666;
    font-size: 14px
}

.cl {
    clear: both;
    overflow: hidden;
    height: 0;
    line-height: 0;
    font-size: 0
}

.mar-r10 {
    margin-right: 10px
}

.red {
    color: #ff0015
}

.order-progress {
    position: relative;
    width: 1000px;
    height: 170px;
    background: url(//res.darryring.com/webimg/cart/progressbg.png) center 35px no-repeat #f6f6f6;
    margin-bottom: 60px
}

.order-progress div {
    width: 60px;
    height: 61px;
    text-align: center;
    font-family: 'Microsoft YaHei'
}

.order-progress .earnest {
    position: absolute;
    left: 68px;
    top: 38px;
    background: url(//res.darryring.com/webimg/cart/earnest.png) 0 0 no-repeat;
    z-index: 4
}

.order-progress .earnest span {
    display: inline-block;
    color: #2a2a2a;
    font-size: 14px;
    margin-top: 66px
}

.order-progress .finalpay {
    position: absolute;
    left: 477px;
    top: 38px;
    background: url(//res.darryring.com/webimg/cart/finalpay.png) 0 0 no-repeat;
    z-index: 4
}

.order-progress .finalpay span {
    display: inline-block;
    color: #888;
    font-size: 14px;
    margin-top: 66px
}

.order-progress .finalpay.active {
    position: absolute;
    left: 477px;
    top: 38px;
    background: url(//res.darryring.com/webimg/cart/finalpayactive.png) 0 0 no-repeat
}

.order-progress .finalpay.active span {
    color: #2a2a2a
}

.order-progress .shipments {
    position: absolute;
    left: 874px;
    top: 38px;
    background: url(//res.darryring.com/webimg/cart/shipments.png) 0 0 no-repeat;
    z-index: 4
}

.order-progress .shipments span {
    display: inline-block;
    color: #888;
    font-size: 14px;
    margin-top: 66px
}

.order-progress .shipments.active {
    position: absolute;
    left: 874px;
    top: 38px;
    background: url(//res.darryring.com/webimg/cart/shipmentsactive.png) 0 0 no-repeat
}

.order-progress .shipments.active span {
    color: #2a2a2a
}

.order-progress .line {
    position: absolute;
    top: 68px;
    border-top: 2px solid #b8b8b8;
    width: 363px;
    z-index: 3
}

.order-progress .left-line {
    left: 120px
}

.order-progress .right-line {
    left: 525px
}

.drBindTc {
    position: fixed;
    top: 20%;
    left: 50%;
    margin-left: -260px;
    width: 505px;
    height: 355px;
    background: #fff;
    z-index: 10;
    padding: 15px
}

.drBindTc .bindBox {
    position: relative;
    width: 100%;
    height: 100%;
    border: 2px solid #000;
    text-align: center
}

.drBindTc .logo {
    margin-top: 60px
}

.drBindTc .close_bind {
    cursor: pointer;
    position: absolute;
    background: url(//res.darryring.com/webimg/MyDr/close.png) no-repeat;
    width: 14px;
    height: 14px;
    right: 25px;
    top: 25px
}

.drBindTc2 h3 {
    font-size: 24px;
    color: #c57d5c;
    margin-top: 40px;
    font-family: '瀹嬩綋'
}

.drBindTc2 p {
    font-size: 12px;
    color: #666;
    margin-top: 20px;
    font-family: '瀹嬩綋'
}

.drBindTc2 .btnbox {
    margin-top: 50px
}

.drBindTc2 .btnbox .surebtn {
    display: inline-block;
    width: 110px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    border: 1px solid #c57d5c;
    font-size: 14px;
    color: #c57d5c
}

.drBindTc2 .btnbox .cancelbtn {
    display: inline-block;
    width: 110px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    border: 1px solid #c57d5c;
    font-size: 14px;
    color: #c57d5c
}

.drBindTc3 h3 {
    font-size: 24px;
    color: #c57d5c;
    margin-top: 40px;
    font-family: '瀹嬩綋'
}

.drBindTc3 .btnbox {
    margin-top: 50px
}

.drBindTc3 .btnbox .surebtn {
    display: inline-block;
    width: 110px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    border: 1px solid #c57d5c;
    font-size: 14px;
    color: #c57d5c
}

.drBindTc4 h3 {
    font-size: 24px;
    color: #c57d5c;
    margin-top: 40px;
    font-family: '瀹嬩綋'
}

.drBindTc4 .btnbox {
    margin-top: 50px
}

.drBindTc4 .btnbox .surebtn {
    display: inline-block;
    width: 110px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    border: 1px solid #c57d5c;
    font-size: 14px;
    color: #c57d5c
}

.travel-tip {
    padding: 90px 0 100px;
    text-align: center;
    font-size: 18px;
    color: #c57d5c;
    font-family: 'Microsoft YaHei'
}

.payresult_box {
    margin-top: 71px;
    text-align: center;
    margin-bottom: 100px
}

.payresult_box .statue-ico {
    width: 83px;
    height: 83px;
    margin: 0 auto;
    margin-bottom: 29px
}

.payresult_box .statue-ico img {
    width: 100%
}

.payresult_box .payStatue {
    font-size: 18px;
    font-family: 'Microsoft YaHei';
    color: #c57d5c;
    margin-bottom: 15px
}

.payresult_box p {
    font-size: 12px;
    font-family: '瀹嬩綋';
    color: #666;
    margin-bottom: 12px
}

.payresult_box .lookorder {
    display: inline-block;
    margin-top: 14px;
    width: 68px;
    height: 24px;
    line-height: 24px;
    border: 1px solid #c57d5c;
    text-align: center;
    color: #c57d5c;
    font-size: 12px;
    font-family: '瀹嬩綋'
}

.payresult_box .continuepay {
    display: inline-block;
    margin-top: 14px;
    width: 68px;
    height: 24px;
    line-height: 24px;
    background: #c57d5c;
    text-align: center;
    color: #fff;
    font-size: 12px;
    font-family: '瀹嬩綋'
}

.payresult_box .partbtn {
    margin-right: 64px
}

.payresult_box .againsend {
    display: inline-block;
    margin-top: 14px;
    width: 68px;
    height: 24px;
    line-height: 24px;
    border: 1px solid #c57d5c;
    text-align: center;
    color: #c57d5c;
    font-size: 12px;
    font-family: '瀹嬩綋'
}

.order_info .tit-ic {
    display: inline-block;
    width: 14px;
    height: 14px;
    cursor: pointer;
    background: url(//res.darryring.com/webimg/cart/ic_problem.png) no-repeat
}

.problem-tips {
    position: absolute;
    top: 20px;
    left: 102px;
    display: none;
    line-height: 20px;
    padding: 6px 26px;
    color: #afafaf;
    font-size: 14px;
    white-space: nowrap;
    background: #fff;
    border: 1px solid #cfcfcf
}

.order-jn {
    padding: 25px 20px;
    border: 1px solid #cfcfcf;
    border-top: 0
}

.order-jn .li-box {
    padding: 10px 0
}

.order-jn .li-box .ti {
    float: left;
    width: 110px;
    line-height: 20px;
    padding: 5px 0;
    color: #666;
    font-size: 14px
}

.order-jn .li-box .de {
    margin-left: 110px
}

.order-jn .li-box .inp-txt {
    width: 216px;
    height: 28px;
    line-height: 28px;
    padding: 0 32px 0 14px;
    border: 1px solid #cfcfcf;
    background: url(//res.darryring.com/webimg/cart/ic_date.png) 235px 1px no-repeat
}

.dr_sametc_btn {
    margin-top: 44px;
    text-align: center
}

.dr_sametc_btn .a01 {
    margin: 0 15px;
    display: inline-block;
    width: 154px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: #8b766c;
    font-size: 14px;
    background: #fff;
    border: 1px solid #8b766c
}

.dr_sametc_btn .a02 {
    margin: 0 15px;
    display: inline-block;
    width: 154px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: #fff;
    font-size: 14px;
    background: #8b766c;
    border: 1px solid #8b766c
}

.dr_sametcView .dr_sametcInfo .loveDate {
    margin-top: 16px;
    font-weight: 600;
    line-height: 30px;
    color: red
}