.dr_banner {
    height: 620px;
    position: relative
}

.dr_bannerul {
    position: relative;
    width: 100%;
    margin: 0 auto
}

.dr_bannerul li {
    position: absolute;
    top: 0;
    width: 100%;
    height: 620px;
    overflow: hidden;
    display: none
}

.dr_bannerul img {
    position: absolute;
    top: 0;
    left: 0
}

.dr_bannerul li:first-child {
    display: block
}

.dr_banner li a {
    display: block;
    height: 620px
}

.dr_banner a.drbanBtn {
    position: absolute;
    display: none;
    top: 50%;
    margin-top: -22.5px;
    width: 24px;
    height: 45px;
    background: url(//res.darryring.com/webimg/index/ico-bannerBtn.png) no-repeat;
    z-index: 4
}

.dr_banner a.drprevBtn {
    left: 50px
}

.dr_banner a.drnextBtn {
    right: 50px;
    background-position: -25px 0
}

.dr_banner a.drprevBtn:hover {
    background-position: 0 -45px
}

.dr_banner a.drnextBtn:hover {
    background-position: -25px -45px
}

.dr_banner:hover a.drbanBtn {
    display: block
}

.drlove_search {
    margin-top: 42px;
    overflow: hidden
}

.lovesearch_left {
    width: 628px;
    height: 462px;
    position: relative
}

.lovesearch_right {
    position: relative;
    background: #f5f1ee;
    width: 717px;
    height: 462px;
    text-align: center
}

.lovesearch_right img {
    margin-top: 54px
}

.lovesearch_word {
    margin-top: 30px;
    font-size: 18px;
    color: #493428;
    line-height: 40px
}

.lovesearch_word .line {
    border-bottom: 2px solid #8f7e74;
    width: 33px;
    margin: 10px auto 0
}

.lovesearch_right .drmember_yz {
    width: 280px;
    top: 340px;
    right: 50%;
    margin-right: -140px
}

.lovesearch_right .drmember_yzborder input, .lovesearch_right .drmember_yzborder input:focus {
    border: none;
    background: 0 0
}

.lovesearch_right .drmember_yzborder input {
    padding: 15px 0;
    color: #fff;
    text-align: center
}

.lovesearch_right .drmember_yzborder input::placeholder {
    color: #fff
}

.lovesearch_right .drmember_yz-word {
    right: 50%;
    margin-right: -173px;
    background: url(//res.darryring.com/webimg/common/yzts_word2.png) no-repeat
}

.lovesearch_right .drmember_yz-wrong {
    background: url(//res.darryring.com/webimg/common/icon_wrong.png) no-repeat left center
}

.lovesearch_right .drmember_yzborder {
    background: #8b776c
}

.lovesearch_right .drmember_yzborder i {
    background: url(//res.darryring.com/webimg/common/ico-wseach.png) no-repeat center center;
    right: 16px
}

.dr_indexAdv {
    margin-top: 42px;
    overflow: hidden
}

.indexAdv_left {
    width: 694px
}

.indexAdv_right {
    width: 650px
}

.dr_indexAdvItem {
    position: relative;
    text-align: center;
    overflow: hidden;
    margin-bottom: 16px
}

.dr_indexAdvItem a {
    position: relative;
    display: block
}

.dr_indexAdvItem img {
    position: relative;
    width: 100%;
    transition: transform .5s;
    transform: translateZ(0);
    z-index: 1
}

.dr_indexAdvItem a:hover {
    transform: scale(1.1)
}

.dr_indexAdvItem p {
    position: absolute;
    bottom: 38px;
    right: 40px;
    color: #333;
    font-size: 18px;
    line-height: 28px;
    z-index: 2
}

.indexAdv_first p {
    right: auto;
    left: 40px
}

.dr_indexAdv2 {
    margin-top: 16px;
    overflow: hidden
}

.indexAdv2_Item {
    position: relative;
    float: left;
    margin-left: 12px
}

.indexAdv2_Item:first-child {
    margin: 0
}

.indexAdv2_Item p {
    position: absolute;
    width: 100%;
    height: 18px;
    text-align: center;
    font-size: 18px;
    color: #fff;
    left: 0;
    top: 50%;
    margin-top: -9px
}

.dr_dring {
    overflow: hidden
}

.drindex_morecp {
    font-size: 14px;
    text-align: right;
    margin: 15px 20px 0 0
}

.drlife .drindex_morecp {
    position: absolute;
    text-align: right;
    top: -14px;
    right: 0
}

.drindex_morecp a {
    display: inline-block;
    height: 23px;
    line-height: 23px;
    padding: 0 12px;
    color: #959595;
    border: 1px solid #959595
}

.drindex_morecp a:hover {
    color: #dbc7ba;
    border: 1px solid #dbc7ba
}

.drlife {
    text-align: center;
    padding: 6px 0 10px 0;
    position: relative
}

.same_bg-two {
    position: relative;
    text-align: center;
    background: #dfcbc5;
    height: 90px;
    margin: 28px 0 32px
}

.same_bg-two img {
    margin-top: -22px
}

.drsame_img-right {
    margin-top: -20px
}

.drsame_img-right a {
    display: block
}

.drsame_img-right .dr_ring-cort {
    margin: 20px 0 0 20px
}

.drother_img a {
    margin-left: 18px
}

.drsame_img-left .dr_ring-cort {
    margin: 0 20px 20px 0
}

.same_bg-two p {
    position: absolute;
    top: 0;
    left: 6px;
    width: 100%;
    font-size: 18px;
    font-family: "microsoft yahei";
    text-align: center;
    line-height: 90px
}

.same_bg-two p a {
    color: #fff
}

.same_bg-two p a:hover {
    color: #c57d5c
}

.addFurture {
    padding: 40px 0;
    overflow: hidden
}

.addFurture-top {
    overflow: hidden;
    border-bottom: 2px solid #606060;
    padding-bottom: 12px
}

.addFurture-cortsame, .addFurture-topsame {
    width: 500px;
    text-align: center
}

.addFurture-cortsame {
    padding-top: 4px
}

.addFurture-cortsame:first-child {
    border-right: 1px solid #606060;
    width: 499px
}

.addFurture-cortsame p {
    font-size: 12px;
    color: #797979;
    line-height: 40px
}

.addFurture-cortsame i {
    color: #c57d5c
}

.addFurture-cortsame a {
    color: #797979;
    display: block
}

.addFurture-cortsame img, .addFurture-cortsame span {
    vertical-align: middle;
    margin: 0 4px
}

.addFurture-cortsame span:hover {
    color: #dcb19d
}

.addFurture-cort {
    overflow: hidden;
    padding-bottom: 10px
}

.dr_banPlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(//res.darryring.com/webimg/index/ico-play.png) no-repeat center center;
    z-index: 3;
    cursor: pointer
}

.dr_shopList {
    padding: 12px 0;
    text-align: center
}

.dr_shopList a {
    display: inline-block;
    padding: 0 15px;
    border-left: 1px solid #bcbcbc;
    color: #666;
    font-size: 20px;
    line-height: 20px
}

.dr_shopList a:first-child {
    border: none
}

.dr_shopList a:hover {
    color: #c57d5c
}

.dr_shopShow {
    position: relative;
    float: left;
    width: 795px;
    height: 500px;
    background: #f1f0f1;
    overflow: hidden
}

.dr_shopShowUl li {
    float: left;
    width: 809px;
    height: 500px;
    position: absolute;
    left: 0;
    top: 0
}

.dr_shopShow-index {
    position: absolute;
    left: 0;
    bottom: 26px;
    width: 100%;
    text-align: center
}

.dr_shopShow-index ul {
    display: inline-block
}

.dr_shopShow-index li {
    float: left;
    width: 10px;
    height: 10px;
    background: url(//res.darryring.com/webimg/index/ico-bd.png) no-repeat left 1px;
    margin: 0 9px;
    cursor: pointer
}

.dr_shopShow-index li.active {
    background-position: left -18px
}

.dr_shopOrdered {
    float: right;
    position: relative;
    width: 551px;
    height: 500px;
    background: #ded8d2;
    text-align: center
}

.dr_shopOrdered img {
    margin-top: 80px
}

.dr_shopOrdActive {
    position: relative;
    width: 336px;
    height: 30px;
    padding: 6px 14px;
    background: #8b776c;
    font-size: 14px;
    line-height: 30px;
    margin: 56px auto 0;
    text-align: left
}

.dr_shopOrdActive input {
    width: 160px;
    color: #ded8d2;
    height: 30px;
    padding-left: 20px;
    border: none;
    background: url(//res.darryring.com/webimg/index/ico-gps1.png) no-repeat left center;
    line-height: 30px
}

.dr_shopOrdActive input::placeholder {
    color: #ded8d2
}

.dr_shopOrdActive span {
    display: inline-block;
    width: 116px;
    text-align: center;
    color: #ded8d2;
    cursor: pointer
}

.dr_shopOrdActive a {
    position: absolute;
    top: 50%;
    margin-top: -11px;
    right: 20px;
    display: inline-block;
    width: 22px;
    height: 22px;
    background: url(//res.darryring.com/webimg/common/ico-wseach.png) no-repeat center center
}

a.dr_shopOrdBtn {
    display: block;
    width: 360px;
    height: 44px;
    background: #eee8e2;
    font-size: 14px;
    color: #8b776c;
    text-align: center;
    line-height: 44px;
    margin: 29px auto 0
}

a.dr_shopOrdBtn:hover {
    background: #9b745c;
    color: #fff
}

.same_bg-oneNew {
    position: relative;
    background: url(//res.darryring.com/webimg/common/sbg1.jpg) repeat-x;
    height: 68px;
    margin: 34px 0 20px;
    font-family: "microsoft yahei";
    font-size: 18px;
    line-height: 82px;
    text-indent: 32px
}

.same_bg-oneNew a.sameLink {
    color: #626262
}

.same_bg-oneNew a:hover {
    color: #c57d5c
}

.same_bg-oneNew a.same_more {
    position: absolute;
    top: 14px;
    right: 36px;
    color: #c57d5c;
    font-size: 14px;
    line-height: 54px
}

.same_bg-oneNew a.same_more:hover {
    color: #c57d5c
}

.video_tc {
    display: none;
    z-index: 9;
    position: fixed;
    left: 50%;
    top: 20%;
    margin-left: -600px;
    width: 1200px
}

.spclose {
    background: url(//res.darryring.com/webimg/common/sp_close.jpg) no-repeat;
    width: 40px;
    height: 40px;
    position: absolute;
    right: 0;
    top: -40px;
    cursor: pointer
}