<%@ page language="java" import="java.util.*" pageEncoding="UTF-8"%>
<%@ taglib uri="http://java.sun.com/jsp/jstl/core" prefix = "c" %>
<%
String path = request.getContextPath();
String basePath = request.getScheme()+"://"+request.getServerName()+":"+request.getServerPort()+path+"/";
%>


<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
 
<head>
    <meta name="baidu-site-verification" content="l0c5KddqRr" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta itemprop="name" content="Darry Ring(DR)戒指|戴瑞珠宝|求婚钻戒-Darry Ring官网"/>
    <meta itemprop="image" content="http://static.darryring.com/comm/drlogo.png" /> 
    <meta name="renderer" content="webkit">
    <title>个人资料</title>
    <meta content="telephone=no" name="format-detection" />
    <meta name="Description" content="" />
    <meta name="Keywords" content="" />
	<script type="text/javascript" src="js/common.js" id='aws_mjs' aws-account='DarryRing-PC'></script>
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="css/common.css" />
    <link rel="stylesheet" href="css/MyDr.css" />
    <link rel="stylesheet" type="text/css" href="css/datetimepicker.css"/> 
    <script type="text/javascript" src="<%=basePath %>qian/js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="<%=basePath %>qian/js/indexJQ.js"></script>
    <script type="text/javascript">
       $(function(){
    	   //显示个人中心
   	    $(".dr_member-left").mouseover(function (){
   	    	$(".loginIn").show();
   	    }).mouseout(function () {
   	    	$(".loginIn").hide();
   	    });
    	   
    	   //登录验证
   	 $.post("../UserServlet?action=islogin",callBack);
		function callBack(data){
			if(data=="false"){
				alert("你还未登录，请先登录!");
				location.href="login.html";
			}
		}
		
		$(".button_sure").click(function(){
			 $.post("../UserServlet?action=islogin",callBack);
				function callBack(data){
					if(data=="false"){
						alert("你还未登录，请先登录!");
						location.href="login.html";
					}
				}
		});
       });
    </script> 
</head>
<body>
	<div class="w1360">
    <!--头部-->
<!--黑色透明遮罩-->
<div class="dr_blackwall"></div>
<!--黑色透明遮罩end-->
<!--头部导航-->

<div class="acitve_show w1360">
    <div class="leftLogo">
        <a href="/">
            <img src="<%=basePath %>qian/images/indexPic/logo.png"/>
        </a>
    </div>
    <div class="rightNav">
        <div class="searchRing fl">
            <input type="text" placeholder="男戒" value="" />
            <a href="javascript:;"></a>
        </div>     
    	        <a href="/user">
            <div class="themeber fl"></div>
    	    </div>
</div>
<!--头部-->
<div class="dr_header">
    <div class="fix">
        <div class="dr_logo fl">
            <a href="/">
                <img src="<%=basePath %>qian/images/indexPic/logo.png"/>
            </a>
        </div>
        <!--店铺定位-->
        <div class="drmember_shop fl">
       	 	<a class="drmember_gps">全国</a>
            <a class="drmember_shopBtn" href="/shopyd">全国店铺 ></a>
        </div>
        <!--店铺定位 end-->
        <div class="dr_member fr">
            <div class="drmember_sec">
                <c:choose>
                    <c:when test="${empty user}">
                        <div class="dr_member-left fl" id="long_status">
                            <a href="<%=basePath %>qian/login.jsp">登录</a>
                            <a href="<%=basePath %>qian/register.jsp" class="drtojoin">注册</a>
                        </div>
                   </c:when>
                   <c:otherwise>
                   <div class="dr_member-left fl" id="loginInInfo">
                    <a href="/user" class="userName">欢迎${user.loginName}</a>
                    <div class="loginIn fix" id="loginInaAtion">
                        <a href="<%=basePath %>Dr_ProductServlet?method=findOr&value=1">我的订单</a>
                        <a href="usercart.html">购物车</a>
                        <a href="/user/collect">我的收藏</a>
                        <a href="user.html">个人中心</a>
                        <a href="/logout?forword=">退出</a>
                    </div>
                  </div>
                  </c:otherwise>
                  </c:choose>
                <ul class="dr_member-right drLang fl" id="dr-country">
                    <li>
                        <a href="/">中文(简体)</a>
                    </li>
                    <li id="dr-english">
                        <a href="https://www.darryring.com/en">English</a>
                        <a href="https://www.darryring.com/hk">中文(繁體)</a>
                    </li>
                </ul>
                <div class="dr_member-left fl">
					<i>
						<img src="<%=basePath %>qian/images/indexPic/phone.png"/>
						400 01 13520
					</i>
				</div>
                <div class="dr_member-left drnobk fl">
                    <a href="https://detail.tmall.com/item.htm?id=554127196978&amp;sku_properties=9066257:3979774">天猫旗舰店</a>
                </div>
            </div>
            
            <!--验证框-->
            <form method="post" name="form1" class="aspnetForm" action="/love/query/result" >
                <input type="hidden" name="cskey" value="hczrcjXm">
                <div class="drmember_yz">
                    <!--提示-->
                    <div class="drmember_yz-word index_yz-word" id="dr_sfwrong" style="display: none;">
                        <p>Darry Ring严格规定男士凭身份证一生仅能定制一枚，象征男人一生真爱的最高承诺。输入身份证号码即可查询购买记录。</p>
                    </div>
                    <!--提示end-->
                    <!--报错(把drmember_yz-wrong的样式加到上面的提示就是报错了)-->
                    <div class="drmember_yz-wrong">
                        <p>身份证有误，请重新输入。</p>
                    </div>
                    <!--报错end-->
                    <div class="drmember_yzborder">
                        <input type="text" placeholder="请输入身份证号验证真爱承诺" name="identity" value="" class="txtIDCardw"/>
                        <input type="text" value="" style="display:none">
                        <i class="trueLoveSeach"></i>
                    </div>
                </div>
            </form>
            <!--验证框end-->
        </div>
    </div>	
</div>
<!--头部end-->
<!--头部end-->
<!--导航-->
<div class="dr_navbk fix">
    <ul class="dr_nav">
        <li >
            <a href="/user">我的Darry Ring</a>
        </li>
        <li >
            <a href="/user/anniversary">我们的纪念日</a>
        </li>
        <li  style="display: none">
            <a href="/user/certificate">我的真爱证书</a>
        </li>
       	        	<li  style="display: none">
                        <a href="https://home.darryring.com/index/index/mid/MTgyNTAwMg==">专属空间</a>
                </li>
                     
        
    </ul>
</div><!--导航end-->
<!--个人中心区域-->
<div class="mydr_cort fix">
	<!--左边公共区域-->
	<div class="mydr_left fl">
	<ul class="mydr_leftNav">
		<li>
			<h4>
				<span class="myicon_shop">购物</span>
			</h4>
			<ul class="mydrnav_show">
				<li>
					<a href="usercart.html">我的购物车</a>
				</li>
				<li>
					<a href="/user/giftlist">我的礼物清单</a>
				</li>
				<li>
					<a href="/user/collect" >我的收藏</a>
				</li>
				<li>
					<a href="/user/pink/reserve" >我的粉钻预约</a>
				</li>
				<li>
					<a href="/user/shop/reserve" >我的进店预约</a>
				</li>
                                			</ul>
		</li>
		<li>
			<h4>
				<span class="myicon_detail">订单中心</span>
			</h4>
			<ul class="mydrnav_show">
				<li>
					<a href="<%=basePath %>Dr_ProductServlet?method=findOr&value=1" >我的订单</a>
				</li>
				<li>
					<a href="/user/comment" >评价/晒单</a>
				</li>
			</ul>
		</li>
		<li>
			<h4>
				<span class="myicon_people">客户服务</span>
			</h4>
			<ul class="mydrnav_show">
				<li>
					<a href="/user/return">退换货办理</a>
				</li>
			</ul>
		</li>
		<li>
			<h4>
				<span class="myicon_member">DR真爱俱乐部</span>
			</h4>
			<ul class="mydrnav_show">
				<li>
					<a href="/user/club" >我的会员</a>
				</li>
				<li>
					<a href="http://gift.darryring.com/">礼品商城</a>
				</li>
				<li>
					<a href="/user/points" >我的积分</a>
				</li>
				<li>
					<a href="/user/card" >我的卡包</a>
				</li>
				<li>
					<a href="/user/anniversary" >纪念日管理</a>
				</li>
                				<li  style="display: none">
					<a href="http://home.darryring.com/index/index/mid/MTgyNTAwMg==">专属空间</a>
				</li>
 
                                 				<li  style="display: none">
					<a href="/user/certificate" >我的真爱证书</a>
				</li>
			</ul>
		</li>
		<li>
			<h4>
				<span class="myicon_set">账户设置</span>
			</h4>
			<ul class="mydrnav_show">
				<!-- <li>
					<a href="javascript:;">账户设置</a>
				</li> -->
				<li >
					<a href="usershow.html" class = 'active'>个人资料</a>
				</li>
				<li style="display: none">
					<a href="/user/account" >帐号管理</a>
				</li>
				<!-- <li>
					<a href=" /user/bingMobile" >绑定手机</a>
				</li>
				<li>
					<a href="/user/bingEmail" >绑定邮箱</a>
				</li> -->
				<li>
					<a href="/user/account/protocols" >绑定账号</a>
				</li>
				<li >
					<a href="/user/resetPwd" >修改密码</a>
				</li>
				<li>
					<a href="useraddress.html" >地址管理</a>
				</li>
			</ul>
		</li>
		<li>
			<h4>
				<span class="myicon_news">系统消息</span>
			</h4>
		</li>
	</ul>
</div>	<!--左边公共区域end-->
	<!--右边部分-->
	<div class="mydr_right fr">
		<!--个人资料-->
		<div class="Mydata_cort pd20">
			<h4>个人资料</h4>
			<form method="post" enctype="multipart/form-data" id="inform" action="<%=basePath%>UserServlet?action=improve">
			<ul class="Mydata_list">	
				<li>
					<em>头像</em>
					<a href="javascript:;" class="myDRTX">
						<img src="<%=basePath %>${user.touRoute}" id="bgSurface" />
						<input type="file" id="upload" name="picPath"/>
						<input type="hidden" name="avatar" class="bgSurface"/>
						<span>编辑</span>
					</a>
					<i>支持 JPG、PNG 格式</i>
				</li>
				<li>
					<em><i>*</i>会员昵称：</em>
					<input type="text" class="Mydata_txt" value="${user.loginName}" id="nickname" name="nickname" />
					<i>4-16位字符</i>
				</li>
				<li>
					<em><i>*</i>真实姓名：</em>
					<input type="text" class="Mydata_txt" value="${user.userName}" id="realname" name="realname"/>
					<i>4-16位字符</i>
				</li>
				<li id="gender">
					<em>性别：</em>
					<input type="radio"  name="sex" value="男" checked="checked"/><em>男</em>
					<input type="radio"  name="sex" value="女" /><em>女</em>
				</li>
				<li id="feeling">
					<em><i>*</i>身份证号：</em>
					<input type="text" class="Mydata_txt" value="${user.identityCode}" id="identityCode" name="identityCode"/>
					<input type="hidden"  name="data[feeling]" />
					<i>15-18位数字</i>
				</li>
				<li>
					<em><i>*</i>邮箱：</em>
					<input type="text" class="Mydata_txt" value="${user.email}" id="realname" name="email"/>
					<i>4-16位字符</i>
				</li>
				<li class="loveWord textarea">
					<em>真爱宣言：</em>
					<textarea name ='lovesign' id="sign" >${user.loveWord}</textarea>
					<i>不超过100字</i>
				</li>
			</ul>
			<div class="thesubit" >
			<input type="submit" class="button_sure" id="edit_info" value="提交" style="cursor:pointer;"/>
			</div>
			</form>
		</div>
		<!--个人资料end-->
	</div>
	<!--右边部分end-->
</div>
<!--个人中心区域end-->
<!--弹框begin-->
<div class="dr_sametc" id="dr_sametc">
	<!--关闭按钮-->
	<a href="javascript:;" class="Popup_close"></a>
	<!--关闭按钮end-->
	<div class="dr_sametcborder">
		<!--设置手机提醒成功-->
		<div class="Verifica_all Verifica_setnewdata" >
			<img src="//res.darryring.com/webimg/ringbuy/dr_logo.png" />
			<span class="toright">个人资料修改成功</span>
			<div class="Verifica_word">
				<p id="countDown"><i>3秒后</i>，关闭窗口</p>
			</div>
		</div>
		<!--设置手机提醒成功end-->
	</div>
</div>
<!--JS begin-->
<!--底部-->
<div class="dr_footer">
	<div class="dr_footer-top"></div>
	<!--底部图标-->
	<ul class="dr_footer-icon w1000">
		<li>
			<a href="/help/28">
				<i class="footer-icon1"></i>
				<span>专业认证</span>
			</a>
		</li>
		<li>
			<a href="/help/42">
				<i class="footer-icon2"></i>
				<span>一钻双证</span>
			</a>
		</li>
		<li>
			<a href="/help/41">
				<i class="footer-icon3"></i>
				<span>终生保养</span>
			</a>
		</li>
		<li>
			<a href="/help/43">
				<i class="footer-icon4"></i>
				<span>以小换大</span>
			</a>
		</li>
		<li>
			<a href="/help/45">
				<i class="footer-icon5"></i>
				<span>15天退换</span>
			</a>
		</li>
		<li>
			<a href="/help/36">
				<i class="footer-icon6"></i>
				<span>全国免运费</span>
			</a>
		</li>
		<li>
			<a href="/help/44">
				<i class="footer-icon7"></i>
				<span>全程保险</span>
			</a>
		</li>
	</ul>
	<!--底部图标end-->
	<!--灰色区域end-->
	<!--黑色区域-->
	<div class="dr_tint">
		<div class="w1000">
			<!--服务-->
			<ul class="dr_servie">
				<li>
					<h4>关于我们</h4>
					<a href="/help/28">专业认证</a>
					<a href="/help/30">合作专区</a>
					<a href="/help/148">公司简介</a>
				</li>
				<li>
					<h4>购物指南</h4>
					<a href="/help/34">购买流程</a>
					<a href="/help/35">支付方式</a>
					<a href="/help/36">配送流程</a>
				</li>
				<li>
					<h4>售后服务</h4>
					<a href="/help/37">退货流程</a>
					<a href="/help/38">办理售后</a>
					<a href="/help/45">15天退换</a>
				</li>
				<li>
					<h4>帮助中心</h4>
					<a href="/help/33">注册流程</a>
					<a class="droline_showkf" href="javascript:;">联系客服</a>
					<a href="/drmap">网站地图</a>
				</li>
				<li>
					<h4>服务条款</h4>
					<a href="/help/41">终生保养</a>
					<a href="/help/46">注册协议</a>
					<a href="/help/47">隐私声明</a>
				</li>
				<li>
					<h4>DR资讯</h4>
					<a href="/news">资讯中心</a>
					<a href="/brand">品牌专题</a>
					<a href="/tags">DR标签</a>
				</li>
			</ul>
			<!--服务end-->
			<!--关注我们-->
			<div class="drfocus">
				<h3>关注我们</h3>
				<p>一个让你相信真爱的地方，给你实用的情感指南，为你的爱情终身服务。</p>
				<a href="javascript:;" class="wechat">
					<img src="//res.darryring.com/webimg/common/gzh_wx.png" />
				</a>
				<a href="https://weibo.com/2249451585/" class="weibo" target="_blank"></a>
			</div>
     	</div>	
		<!--中英文切换，网站声明-->
		<div class="dr_declare fix">
			<div class="w1360">
				<div class="dr_langues fl">
					<span>选择站点</span>
					<p class="dr_langueBtn"><a href="javascript:void(0);">简体</a></p>
					<div class="dr_langueList" id="langueList">
						<a class="active" href="/">简体</a>
						<a href="/hk">繁体</a>
						<a href="/en">English</a>
						<p><label>简体</label></p>
					</div>
					<a href="/help/47">隐私政策</a>
					<a href="/drmap">网站地图</a>
					<a href="/links">友情链接</a>
				</div>
				<div class="dr_decItem fr">
					<a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=44030302000934" target="_blank"><img src="//res.darryring.com/webimg/common/icon_police.png"/>粤公网安备 44030302000934号/</a>
					<span><a href="http://www.miitbeian.gov.cn" target="_blank">粤ICP备11012085号-2</a>/Copyright©2006-2018 www.darryring.com 戴瑞珠宝 All Rights Reserved. </span>
					<img src="/bundles/acmefrontend/img/kxzd.png" alt="" />
				</div>
			</div>
		</div>
		<!--中英文切换，网站声明end-->
	</div>
	<!--黑色区域end-->
</div>
<!--底部end-->
<!--右边漂浮件-->
<div class="dr_quickservice" id="dr-quickservice">
	<!--在线客服-->
	<div class="droline_kf droline_showkf" >
		<!--客服提示文字-->
		<div class="droline_kfword">
			<span></span>
			<p>
				想了解更多钻石知识<br />我们有专业在线客服给您解答
			</p>
		</div>
		<!--客服提示文字end-->
		<!--温馨提示(1228)-->
		<!--<div class="dr_Reminder">
			<span></span>
			<h3>温馨提示</h3>
			<p>亲爱的DR族，在春节和<br />情人节繁忙期间，为了<br />确保您定制的Darry <br />Ring可以及时送达，建<br />议您提前选购商品哦。<br />详情请咨询客服。</p>
		</div>-->
		<!--温馨提示(1228)end-->
		<img src="//res.darryring.com/webimg/common/zxkf.gif" />
		<span>
			在线<br/>客服
		</span>
		<em class="droline_yleft"></em>
		<em class="droline_yright"></em>
	</div>
	<!--在线客服end-->
	<div class="dr_quick-cort">
		<a href="/shopbk" target="_blank" class="dr_quick8"></a>
		<p>预约</p>
		<div class="dr_quick-word em4">
			预约进店
		</div>
	</div>
	<div class="dr_quick-cort">
		<a href="/cart" class="dr_quick2"></a>
		<p>购物车</p>
		<div class="dr_quick-word em3">
			购物车
		</div>
	</div>
	<div class="dr_quick-cort">
		<a href="/user/order" class="dr_quick3"></a>
		<p>订单</p>
		<div class="dr_quick-word">
			我的订单
		</div>
	</div>
	<div class="dr_quick-cort">
		<a href="/user/collect" class="dr_quick4"></a>
		<p>收藏</p>
		<div class="dr_quick-word">
			我的收藏
		</div>
	</div>
		<!--二维码-->
	<div class="dr_quick-cort">
		<a href="javascript:;" class="dr_quick6"></a>
		<p>APP</p>
		<div class="dr_quick-word dr_quick-ewm">
			<img src="//res.darryring.com/webimg/common/ewm.jpg" alt="移动版二维码" />
		</div>
	</div>
	<!--二维码end-->
	<div class="dr_quick-cort">
		<a href="javascript:;" class="dr_quick7"></a>
		<p>分享</p>
		<div class="dr_quick-word comShare">
					<a class="shareWeibo" rel="nofollow" href="javascript:;"></a>
			<a class="shareQzone" rel="nofollow" href="javascript:;"></a>
			<a class="shareQweibo" rel="nofollow" href="javascript:;"></a>
			<a class="shareRenren" rel="nofollow" href="javascript:;"></a>
			<a class="shareDouban" rel="nofollow" href="javascript:;"></a>
				</div>
	</div>
	<div class="dr_quick-cort">
		<a href="javascript:;" class="dr_totop"></a>
		<div class="dr_quick-word">
			返回顶部
		</div>
	</div>
</div>

</div>
</body>
</html>