<!DOCTYPE >
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>戴瑞珠宝官网会员注册登录_Darry Ring求婚钻戒价格 戴瑞珠宝官网</title>
    <meta content="Darry Ring钻戒价格,Darry Ring钻戒图片" name="Keywords" />
    <meta content="Darry Ring官网会员注册登录唯一入口，Darry Ring是求婚钻戒品牌，想了解Darry Ring实体店、Darry Ring哪里有卖等相关Darry Ring资讯就先进入戴瑞珠宝官网注册吧！" name="Description" />
    <meta property="qc:admins" content="26403151123072464122121676375" />
    <meta name="save" content="history">
    <link rel="stylesheet" type="text/css" href="css/logAndReg.css">
    <script type="text/javascript" src="js/jquery-1.8.3.min.js"></script>
    <!--<script type="text/javascript" src="js/indexJQ.js"></script>-->
</head>
<script type="text/javascript">
    $(function(){
        $(".usePhone").click(function () {
            $("#loginform").hide();
            $("#msgform").show();
        })
        $(".usePassWord").click(function () {
            $("#loginform").show();
            $("#msgform").hide();
        })
    	$(".ipTxt").blur(function(){
    		var name = $("#txtName").val();
    		var pwd = $("#txtPwd").val();
    		if((name == null || name == "")||(pwd == null || pwd == "")){
    			$("#prError").show().html("手机号或密码不能为空！");
    		}else{
    			$("#prError").hide().html("");
    		}
    	   });
    	});

 </script>
<body >
<div class="w1360">
    <header class="cart_head">
        <div class="dr_logo fl">
            <a href="index.html" /><img src="//pkquutas9.bkt.clouddn.com/logo.png" alt=""></a>
        </div>
        <div class="dr_member fr">
            <div class="drmember_sec">
                <div class="dr_member-left fl">
                    <a th:href="@{/login}">登录</a>
                    <a th:href="@{/regist}" class="drtojoin">注册</a>
                </div>
                <div class="dr_member-left fl">
                    <i>
                        <img src="//pkquutas9.bkt.clouddn.com/phone.png">
                        400 01 13520
                    </i>
                </div>
                <div class="dr_member-left fl">
                    <a href="https://www.darryring.com/help" target="_blank" class="help-right">帮助中心<span></span></a>
                </div>
            </div>
        </div>
    </header>
    <div class="dr_banner">
    <!--通行证操作区-->
    <div class="dr_actionMain">
        <div class="login-wrap">
            <div class="login-png"></div>
            <div class="dr_passprt dr_passprtFirst login-box">
                <form id="loginform" action="login" method="post" style="display: block">
                    <h3>DR族-登录</h3>
                    <div class="errorMsg" id="prError" style="" ></div>
                    <div class="dr_form phone_dl">
                        <div class="dr_minAction">
                            <input type="text" class="ipTxt ico-user" style="behavior:url(#default#savehistory)" value="" id="txtName1" name="phone" placeholder="请输入您的邮箱/手机号码" required pattern="(13[0-9]|14[5|7]|15[0|1|2|3|5|6|7|8|9]|18[0|1|2|3|5|6|7|8|9])\d{8}" />
                            <input type="password" class="ipTxt ico-pwd" value="" id="txtPwd1" name="password" placeholder="请输入密码" required pattern="\w{5,17}" />
                        </div>
                        <p class=" "><a class="fr" href="/forget?lang=cn">忘记密码?</a><input id="isRemember1" type="checkbox"  name='remember' vlaue='1' /><label for="isRemember">记住密码</label></p>
                        <p class="actionwd_same">使用<a href="javascript:;" class="usePhone">手机验证码登录</a></p>
                    </div>
                    <!--常规登录end-->
                    <div id="login" class="dr_Btns">
                        <input type="submit" class="defaultBtn focus" id="mobile_log" value="登录" />
                    </div>
                    <div class="dr_otherLogin">
                        <h4>第三方账户登录</h4>
                        <a class="qqdl" href="/syncLogin/qq" target="_blank"></a>
                        <a class="wxdl" href="/syncLogin/weixin" target="_blank"></a>
                        <a class="wbdl" href="/syncLogin/weibo" target="_blank"></a>
                        <a class="zfbdl" href="/syncLogin/alipay" target="_blank"></a>
                    </div>
                </form>
                <form id="msgform" action="msglogin" method="post" style="display: none">
                    <h3>DR族-登录</h3>
                    <div class="errorMsg" id="prError1" style="" ></div>
                    <!--手机验证码登录-->
                    <div class="dr_form phone_dl">
                        <div class="dr_minAction">
                            <input type="hidden" name="type" value="1">
                            <input type="text" class="ipTxt ico-user" id="cphone" name="phone" placeholder="请输入您的手机号码" />
                            <div class="fix"><input type="text" name="veryCode" class="ipTxt ico-send inputCode" placeholder="请输入验证码" />
                                <a class="getCodeBtn" id='getSmsCode' href="javascript:;" data-type="1">获取短信验证码</a>
                            </div>
                            <p class="actionwd_same" style="margin-bottom: 25px;margin-top: 5px">使用<a href="javascript:;" class="usePassWord">密码登录</a></p>
                        </div>
                        <!-- 注册协议 -->
                        <div class="checkTerms" style="text-align: center;">
                            <input type="checkbox" name="mobile_check" id="phoneCheck" checked="checked" /><label for="phoneCheck">同意Darry Ring用户</label><a href="//www.darryring.com/">注册协议</a>和<a href="//www.darryring.com/">隐私条款</a>
                        </div>
                    </div>
                    <!--手机验证码登录end-->
                    <!--常规登录end-->
                    <div id="logins" class="dr_Btns">
                        <input type="submit" class="defaultBtn focus" id="mobile_log1" value="登录" />
                    </div>
                    <div class="dr_otherLogin">
                        <h4>第三方账户登录</h4>
                        <a class="qqdl" href="/syncLogin/qq" target="_blank"></a>
                        <a class="wxdl" href="/syncLogin/weixin" target="_blank"></a>
                        <a class="wbdl" href="/syncLogin/weibo" target="_blank"></a>
                        <a class="zfbdl" href="/syncLogin/alipay" target="_blank"></a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!--通行证操作区 end-->
    <!-- banner -->
    <div class="dr-stBanner">
        <img src="//pkquutas9.bkt.clouddn.com/login_bg.jpg" alt="" class="img01" />
    </div>
    <!-- banner -->
</div>
    <div class="dr_footer">
        <div class="dr_footer-top"></div>
        <!--底部图标-->
        <ul class="dr_footer-icon w1000">
            <li>
                <a href="https://www.darryring.com/help/28">
                    <i class="footer-icon1"></i>
                    <span>权威认证</span>
                </a>
            </li>
            <li>
                <a href="https://www.darryring.com/help/42">
                    <i class="footer-icon2"></i>
                    <span>一钻双证</span>
                </a>
            </li>
            <li>
                <a href="https://www.darryring.com/help/41">

                    <i class="footer-icon3"></i>
                    <span>终生保养</span>
                </a>
            </li>
            <li>
                <a href="https://www.darryring.com/help/43">
                    <i class="footer-icon4"></i>
                    <span>以小换大</span>
                </a>
            </li>
            <li>
                <a href="https://www.darryring.com/help/45">
                    <i class="footer-icon5"></i>
                    <span>15天退换</span>
                </a>
            </li>
            <li>
                <a href="https://www.darryring.com/help/36">
                    <i class="footer-icon6"></i>
                    <span>全国免运费</span>
                </a>
            </li>
            <li>
                <a href="https://www.darryring.com/help/44">
                    <i class="footer-icon7"></i>
                    <span>全程保险</span>
                </a>
            </li>
        </ul>
        <!--底部图标end-->
        <!--黑色区域-->
        <div class="dr_tint">
            <div class="w1000">
                <!--服务-->
                <ul class="dr_servie">
                    <li>
                        <h4>关于我们</h4>
                        <a href="https://www.darryring.com/help/28" target="_blank">权威认证</a>
                        <a href="https://www.darryring.com/help/30" target="_blank">合作专区</a>
                        <a href="https://www.darryring.com/help/32" target="_blank">加入我们</a>
                    </li>
                    <li>
                        <h4>购物指南</h4>
                        <a href="https://www.darryring.com/help/34" target="_blank">购买流程</a>
                        <a href="https://www.darryring.com/help/27" target="_blank">支付方式</a>
                        <a href="https://www.darryring.com/help/36" target="_blank">配送流程</a>
                    </li>
                    <li>
                        <h4>售后服务</h4>
                        <a href="https://www.darryring.com/help/37" target="_blank">退货流程</a>
                        <a href="https://www.darryring.com/help/38" target="_blank">办理售后</a>
                        <a href="https://www.darryring.com/help/45" target="_blank">15天退换</a>
                    </li>
                    <li>
                        <h4>帮助中心</h4>
                        <a href="https://www.darryring.com/help/33" target="_blank">注册流程</a>
                        <a href="javascript:;" class="udeskkefu" target="_blank">联系客服</a>
                        <a href="https://www.darryring.com/help/78" target="_blank">网站地图</a>
                    </li>
                    <li>
                        <h4>服务条款</h4>
                        <a href="https://www.darryring.com/help/41" target="_blank">终生保养</a>
                        <a href="https://www.darryring.com/help/46" target="_blank">注册协议</a>
                        <a href="https://www.darryring.com/help/47" target="_blank">隐私声明</a>
                    </li>
                    <li>
                        <h4>DR资讯</h4>
                        <a href="https://www.darryring.com/news/10807.html" target="_blank">钻石百科</a>
                        <a href="https://www.darryring.com/news/10747.html" target="_blank">产品百科</a>
                        <a href="https://www.darryring.com/news/10742.html" target="_blank">求婚指南</a>
                    </li>
                </ul>
                <!--关注我们-->
                <div class="drfocus">
                    <h3>关注我们</h3>
                    <p>一个让你相信真爱的地方，给你实用的情感指南，为你的爱情终身服务。</p>
                    <a href="javascript:;" class="wechat">
                        <img src="//res.darryring.com/webimg/common/gzh_wx.png" />
                    </a>
                    <a href="https://weibo.com/2249451585/" class="weibo" target="_blank"></a>
                </div>
                <!--服务end-->
            </div>
            <!--中英文切换，网站声明-->
            <div class="dr_declare fix">
                <div class="w1360">
                    <div class="dr_langues fl">
                        <span>选择站点</span>
                        <p class="dr_langueBtn"><a href="javascript:;">简体</a></p>
                        <div class="dr_langueList" id="langueList">
                            <a href="/login?lang=cn" class="active">简体</a>
                            <a href="/login?lang=hk">繁体</a>
                            <a href="/login?lang=en">English</a>
                            <p><label>简体</label></p>
                        </div>
                        <a href="https://www.darryring.com/help/47">隐私政策</a>
                        <a href="javascript:;">网站地图</a>
                        <a href="javascript:;">友情链接</a>
                    </div>
                    <div class="dr_decItem fr">
                        <a href="//www.beian.gov.cn/portal/registerSystemInfo?recordcode=44030302000934"><img src="//res.darryring.com/webimg/common/icon_police.png"/>粤公网安备 44030302000934号/</a>
                        <span>粤ICP备11012085号-2/Copyright©2006-2018 www.darryring.com 戴瑞珠宝 All Rights Reserved. </span>
                        <img src="https://www.darryring.com/bundles/acmefrontend/img/kxzd.png" alt="" />
                    </div>
                </div>
            </div>
            <!--中英文切换，网站声明end-->
        </div>
        <!--黑色区域end-->
    </div>
</div>
</body>
<script th:inline="javascript">
    $(function () {
        $("#getSmsCode").click(function () {
            Load();
            $.post("getCode",{"phone":$("#cphone").val()},function (data) {
                if (data=="true"){
                    alert("获取验证码成功，请留意您的手机短信！");
                } else{
                    alert("获取验证码失败，请重试！");
                }
            })
        });
    })
    var secs = 60; //倒计时的秒数
    var t;
    function Load() {
        for (var i = secs; i >= 0; i--) {
            t=window.setTimeout('doUpdate(' + i + ')', (secs - i) * 1000);
        }
    }
    function doUpdate(num) {
        document.getElementById('getSmsCode').innerHTML = '<i style="color:red">' + num + '秒</i>后重新获取';
        $("#getSmsCode").attr("disabled",true).css("pointer-events","none");
        if (num == 0) {
            $("#getSmsCode").html("获取短信验证码");
            clearTimeout(t);
            $("#getSmsCode").attr("disabled",false).css("pointer-events","auto");
        }
    }
</script>
</html>