<!DOCTYPE>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="baidu-site-verification" content="l0c5KddqRr" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta itemprop="name" content="Darry Ring(DR)戒指|戴瑞珠宝|求婚钻戒-Darry Ring官网"/>
    <meta itemprop="image" content="http://static.darryring.com/comm/drlogo.png" />
    <meta name="renderer" content="webkit">
    <title>收银台</title>
    <meta content="telephone=no" name="format-detection" />
    <meta name="Description" content="" />
    <meta name="Keywords" content="" />
    <script type="text/javascript" src="js/common.js" id='aws_mjs' aws-account='DarryRing-PC'></script>
    <link rel="stylesheet" href="css/common.css" />
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="stylesheet" href="css/drcarts.css" />
    <script type="text/javascript" src="js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="js/indexJQ.js"></script>
    <style type="text/css">
    .pay_way li div.bank_selected{
        border: 2px solid #8b766c;
        background: url(//pkquutas9.bkt.clouddn.com/right.png) right bottom no-repeat;
    }
    </style>
    <script type="text/javascript">
    $(function(){
 	   //显示个人中心
	    $(".dr_member-left").mouseover(function (){
	    	$(".loginIn").show();
	    }).mouseout(function () {
	    	$(".loginIn").hide();
	    });
	//登录验证
	   	 $.post("../UserServlet?action=islogin",callBack);
			function callBack(data){
				if(data=="false"){
					alert("你还未登录，请先登录!");
					location.href="login.html";
				}
			} 
			
			 $(".pay_way li").click(function () {
	                var index = $(this).index();
	                $(".pay_way li:eq("+index+") div").addClass("bank_selected");
	                $(".pay_way li:not(:eq("+index+")) div").removeClass("bank_selected");
	            });
    });
    </script>

</head>
<body>
<div class="w1360">
    <div class="cart_head fix">
        <div class="dr_logo fl">
            <a th:href="@{index}">
                <img src="//pkquutas9.bkt.clouddn.com/logo.png" alt="" /></a>
        </div>
        <div class="dr_member fr">
            <div class="drmember_sec">
                <div class="dr_member-left fl" id="long_status" th:if="${session.user==null}">
                    <a th:href="@{login}">登录</a>
                    <a th:href="@{regist}" class="drtojoin">注册</a>
                </div>
                <div class="dr_member-left fl" id="loginInInfo" th:unless="${session.user==null}">
                    <a th:href="@{usershow}" class="userName">欢迎<span th:text="${user.loginName}"></span></a>
                    <div class="loginIn fix" id="loginInaAtion">
                        <a href="Dr_ProductServlet?method=findOr&value=1">我的订单</a>
                        <a href="usercart.html">购物车</a>
                        <a href="/user/collect">我的收藏</a>
                        <a th:href="@{usershow}">个人中心</a>
                        <a href="/logout?forword=">退出</a>
                    </div>
                </div>
                <div class="dr_member-left fl">
                    <i>
                        <img src="//pkquutas9.bkt.clouddn.com/phone.png"/>
                        400 01 13520
                    </i>
                </div>
                <div class="dr_member-left fl">
                    <a href="/help" class="help-right">帮助中心<span></span></a>
                </div>
            </div>
        </div>
    </div>
    <!--主体内容-->
    <div class="checkstand">
        <!--购物车标题流程-->
        <div class="checkstand_head clearfix">
            <h3>支付完成</h3>
            
        </div>
        <!--购物车标题流程 end-->
        <div class="checkstand_con">
            <div class="order_detail">
                <h3 id="ShowDiv"></h3> 
            </div>
        </div>
    </div> 

    <!--底部-->
    <!--底部-->
    <div class="dr_footer">
        <div class="dr_footer-top"></div>
        <!--底部图标-->
        <ul class="dr_footer-icon w1000">
            <li>
                <a href="/help/28">
                    <i class="footer-icon1"></i>
                    <span>专业认证</span>
                </a>
            </li>
            <li>
                <a href="/help/42">
                    <i class="footer-icon2"></i>
                    <span>一钻双证</span>
                </a>
            </li>
            <li>
                <a href="/help/41">
                    <i class="footer-icon3"></i>
                    <span>终生保养</span>
                </a>
            </li>
            <li>
                <a href="/help/43">
                    <i class="footer-icon4"></i>
                    <span>以小换大</span>
                </a>
            </li>
            <li>
                <a href="/help/45">
                    <i class="footer-icon5"></i>
                    <span>15天退换</span>
                </a>
            </li>
            <li>
                <a href="/help/36">
                    <i class="footer-icon6"></i>
                    <span>全国免运费</span>
                </a>
            </li>
            <li>
                <a href="/help/44">
                    <i class="footer-icon7"></i>
                    <span>全程保险</span>
                </a>
            </li>
        </ul>
        <!--底部图标end-->
        <!--灰色区域end-->
        <!--黑色区域-->
        <div class="dr_tint">
            <div class="w1000">
                <!--服务-->
                <ul class="dr_servie">
                    <li>
                        <h4>关于我们</h4>
                        <a href="/help/28">专业认证</a>
                        <a href="/help/30">合作专区</a>
                        <a href="/help/148">公司简介</a>
                    </li>
                    <li>
                        <h4>购物指南</h4>
                        <a href="/help/34">购买流程</a>
                        <a href="/help/35">支付方式</a>
                        <a href="/help/36">配送流程</a>
                    </li>
                    <li>
                        <h4>售后服务</h4>
                        <a href="/help/37">退货流程</a>
                        <a href="/help/38">办理售后</a>
                        <a href="/help/45">15天退换</a>
                    </li>
                    <li>
                        <h4>帮助中心</h4>
                        <a href="/help/33">注册流程</a>
                        <a class="droline_showkf" href="javascript:;">联系客服</a>
                        <a href="/drmap">网站地图</a>
                    </li>
                    <li>
                        <h4>服务条款</h4>
                        <a href="/help/41">终生保养</a>
                        <a href="/help/46">注册协议</a>
                        <a href="/help/47">隐私声明</a>
                    </li>
                    <li>
                        <h4>DR资讯</h4>
                        <a href="/news">资讯中心</a>
                        <a href="/brand">品牌专题</a>
                        <a href="/tags">DR标签</a>
                    </li>
                </ul>
                <!--服务end-->
                <!--关注我们-->
                <div class="drfocus">
                    <h3>关注我们</h3>
                    <p>一个让你相信真爱的地方，给你实用的情感指南，为你的爱情终身服务。</p>
                    <a href="javascript:;" class="wechat">
                        <img src="//res.darryring.com/webimg/common/gzh_wx.png" />
                    </a>
                    <a href="https://weibo.com/2249451585/" class="weibo" target="_blank"></a>
                </div>
            </div>
            <!--中英文切换，网站声明-->
            <div class="dr_declare fix">
                <div class="w1360">
                    <div class="dr_langues fl">
                        <span>选择站点</span>
                        <p class="dr_langueBtn"><a href="javascript:void(0);">简体</a></p>
                        <div class="dr_langueList" id="langueList">
                            <a class="active" href="/">简体</a>
                            <a href="/hk">繁体</a>
                             <a href="/en">English</a>
                            <p><label>简体</label></p>
                        </div>
                        <a href="/help/47">隐私政策</a>
                        <a href="/drmap">网站地图</a>
                        <a href="/links">友情链接</a>
                    </div>
                    <div class="dr_decItem fr">
                        <a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=44030302000934" target="_blank"><img src="//res.darryring.com/webimg/common/icon_police.png"/>粤公网安备 44030302000934号/</a>
                        <span><a href="http://www.miitbeian.gov.cn" target="_blank">粤ICP备11012085号-2</a>/Copyright©2006-2018 www.darryring.com 戴瑞珠宝 All Rights Reserved. </span>
                        <img src="//pkquutas9.bkt.clouddn.com/kxzd.png" alt="" />
                    </div>
                </div>
            </div>
            <!--中英文切换，网站声明end-->
        </div>
        <!--黑色区域end-->
    </div>
    <!--底部end-->
</div>

<script language='javascript' type='text/javascript'>
       $(function(){
	       Load("../CategoryServlet?method=qianCategory");
       });
         var secs = 5; //倒计时的秒数 
         var URL;
         function Load(url) {
             URL = url;
             for (var i = secs; i >= 0; i--) {
                 window.setTimeout('doUpdate(' + i + ')', (secs - i) * 1000);
             }
         }
         function doUpdate(num) {
             document.getElementById('ShowDiv').innerHTML = '您好您的商品已经购买成功，请等待工作人员的审核...<br><span style="color:red">' + num + '</span>秒后自动离开本页面';
             if (num == 0) { window.location = URL; }
         } 
    </script>
</body>
</html>