<%@ page language="java" import="java.util.*" pageEncoding="UTF-8"%>
<%@ taglib uri="http://java.sun.com/jsp/jstl/core" prefix = "c" %>
<%
String path = request.getContextPath();
String basePath = request.getScheme()+"://"+request.getServerName()+":"+request.getServerPort()+path+"/";
%>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta name="baidu-site-verification" content="l0c5KddqRr" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta itemprop="name" content="Darry Ring(DR)戒指|戴瑞珠宝|求婚钻戒-Darry Ring官网"/>
    <meta itemprop="image" content="http://static.darryring.com/comm/drlogo.png" />
    <meta name="renderer" content="webkit">
    <title>购物车</title>
    <meta content="telephone=no" name="format-detection" />
    <meta name="Description" content="" />
    <meta name="Keywords" content="" />
    <script type="text/javascript" src="<%=basePath %>qian/js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="<%=basePath %>qian/js/indexJQ.js"></script>
    <script type="text/javascript" src="<%=basePath %>qian/js/common.js" id='aws_mjs' aws-account='DarryRing-PC'></script>
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="stylesheet" href="<%=basePath %>qian/css/common.css" />
    <link rel="stylesheet" href="<%=basePath %>qian/css/drcarts.css" />
    <link rel="stylesheet" href="<%=basePath %>qian/css/MyDr.css" />
     <script type="text/javascript">
    $(function(){
    	//显示个人中心
   	    $(".dr_member-left").mouseover(function (){
   	    	$(".loginIn").show();
   	    }).mouseout(function () {
   	    	$(".loginIn").hide();
   	    });
   	    $.post("../UserServlet?action=islogin",callBack);
		function callBack(data){
			if(data=="false"){
				alert("你还未登录，请先登录!");
				location.href="login.html";
			}
		}
    })
         
    </script>
</head>
<body>
<div class="w1360">
    <div class="cart_head fix">
        <div class="dr_logo fl">
            <a href="/"><img src="//res.darryring.com/webimg/common/logo.png" alt="" /></a>
        </div>
        <div class="dr_member fr">
            <div class="drmember_sec">
                 <c:choose>
                    <c:when test="${empty user}">
                        <div class="dr_member-left fl" id="long_status">
                            <a href="<%=basePath %>qian/login.jsp">登录</a>
                            <a href="<%=basePath %>qian/register.jsp" class="drtojoin">注册</a>
                        </div>
                   </c:when>
                   <c:otherwise>
                   <div class="dr_member-left fl" id="loginInInfo">
                    <a href="/user" class="userName">欢迎${user.loginName}</a>
                    <div class="loginIn fix" id="loginInaAtion">
                        <a href="<%=basePath %>Dr_ProductServlet?method=findOr&value=1">我的订单</a>
                        <a href="usercart.html">购物车</a>
                        <a href="/user/collect">我的收藏</a>
                        <a href="/user">个人中心</a>
                        <a href="/logout?forword=">退出</a>
                    </div>
                  </div>
                  </c:otherwise>
                  </c:choose>
                <div class="dr_member-left fl">
                    <i>
                        <img src="//res.darryring.com/webimg/common/phone.png"/>
                        400 01 13520
                    </i>
                </div>
                <div class="dr_member-left fl">
                    <a href="/help" class="help-right">帮助中心<span></span></a>
                </div>
            </div>
        </div>
    </div>
    <!--主体内容-->
    <div class="shoppingcart">
        <!--购物车标题流程-->
        <div class="checkstand_head clearfix">
            <h3>购物车</h3>
            <div class="shopping_steps fr">
                <!--已操作步骤class=steps_selected,当前步骤class=steps_active-->
                <div class="sp_steps1 steps_active">
                    <span>1</span>
                    <p>1.我的购物车</p>
                </div>
                <div class="sp_steps2">
                    <span>2</span>
                    <p>2. 填写订单信息</p><!--首次购买订单流程-->
                    <!--<p>2. 填写订单信息 </p>再次购买订单流程-->
                </div>
                <div class="sp_steps3">
                    <span>3</span>
                    <p>3.付款 完成购买</p>
                </div>
            </div>
        </div>
        <!--购物车标题流程 end-->
        <c:choose>
        <c:when test="${empty shops}">
        <div class="shoppingcart_none">
		<div>
		<img src="<%=basePath %>/qian/images/pay/ico-cart.png" alt="" style="float:left;margin:20px 50px;"/>
			<p>您的购物车内暂无商品,去看看心仪的商品吧</p>
			<a href="<%=basePath %>CategoryServlet?method=qianCategory" class="link_btn1">返回首页</a>
		</div>
	   </div>
	   </c:when>
	   <c:otherwise>
        <!--购物车 无-->
        <div class="shoppingcart_list">
            <input type="hidden"  id="is_check_jewelry" value="1">
            <table class="shoppingcart_table" border="1" cellpadding="10">
                <thead>
                <tr>
                    <td width="150px" class="padleft_20"><input type="checkbox" name="" id="" value="" checked="checked" class="check_all" />全选</td>
                    <td width="240px" align="center">商品</td>
                    <td width="330px" align="center">价格</td>
                    <td width="290px" align="center">数量</td>
                    <td width="157px" align="center">小计</td>
                    <td width="175px" align="center" class="padright_20">操作</td>
                </tr>
                </thead>
            </table>
            <!-- 人气组合 -->
            <c:forEach items="${shops}" var="sl">
            <table class="shoppingcart_table shoppingcart_tbody" border="1" cellpadding="10">
                <tbody>
                <tr>
                    <td width="30px" rowspan="2" class="padleft_20" valign="top"><input type="checkbox" name="" data-price="31219.00" data-id="67035" id="67035" value="1" checked="checked" class="cbox" /></td>
                    <td width="120px" rowspan="2" valign="top"><img src="<%=basePath %>qian/${sl.dp.imageRoute}" alt="" width="100" height="100" /></td>
                    <td width="245px" class="nopad_left border_dashed" align="center">
                        <strong>
                            <a href="/goods-jewelry-155">
                                ${sl.dp.shopName}
                            </a>
                        </strong></td>
                    <td width="330px" class="border_dashed pay_money" align="center"><span>&yen;${sl.dp.price}</span></td>
                    <td width="294px" class="nopad_left border_dashed" align="center">
                       <a href="<%=basePath %>Dr_ProductServlet?method=jian&pid=${sl.dp.productId}"><input type="button" class='jian' value="-"></a>
                        <input type="text" class='quantity' value="${sl.number}" />
                       <a href="<%=basePath %>Dr_ProductServlet?method=jia&pid=${sl.dp.productId}"><input type="button" class='jia' value="+"></a>
                    </td>
                    <td width="157px" class="border_dashed pay_money" align="center"><span>&yen;${sl.xTotal}</span></td>
                    <td width="175px" class="border_dashed" align="center">
                        <a href="<%=basePath %>Dr_ProductServlet?method=del&pid=${sl.dp.productId}" class="car-del" data-id="67035" onclick="return confirm('你确定要删除该商品吗？')">删除</a>
                    </td>
                </tr>
                <tr>
                    <td class="nopad_left ring_detail" colspan="3">
                        <strong>戒指信息</strong>
                        <div class="ringdetail_hide">
                            <p>戒托材质：分色18K金</p>
                            <div>
                                <p>手寸大小：客定</p>
                                <p>主钻形状：圆形</p>
                            </div>
                        </div>
                        <strong class="padleft_20">主石副石信息</strong>
                        <div class="ringdetail_hide">
                            <p>主钻净度：SI1</p>
                            <div>
                                <p>主钻切工：VG</p>
                                <p>主石数量：1</p>
                                <p>副石重量：22-28分</p>
                                <p>副石数量：90</p>
                            </div>
                        </div>
                    </td>
                    <td align="center" valign="top" class="padright_20"></td>
                    <td align="center" valign="top" class="padright_20"><a href="javascript:;" class="ringdetail_show">展开查看详情</a></td>
                </tr>
                </tbody>
            </table>
         </c:forEach>
            <div class="shopping_security">
                <span class="security1">支持全球配送，实体店取货</span>
                <span class="security2">全程保价 无风险</span>
                <span class="security3">支付安全保障 安全支付系统采用SSL加密</span>
            </div>
            <div class="shoppingcart_pay clearfix pay_bottom">
                <div class="scfoot_left">
                    <p><input type="checkbox" name="" id="" value="" checked="checked" class="check_all" />全选</p>
                    <p><a href="<%=basePath %>CategoryServlet?method=qianCategory">继续购物</a></p>
                    <p><a href="<%=basePath %>Dr_ProductServlet?method=clearAll" onclick="return confirm('你确定要清空所有商品吗？')">清空购物车</a></p>
                </div>
                <div class="scfoot_right">
                    <p id="cart-number">已选<strong>${num}</strong>件商品</p>
                    <p id="cart-amount">总价：<strong>&yen;${sumPrice}</strong></p>
                    <p>免运费</p>
                    <a href="<%=basePath %>AddressServlet?action=adds&id=1" id="cart-post" class="link_btn2">立即结算</a>
                </div>
            </div>
        </div>
        </c:otherwise>
     </c:choose>
    </div>
    <!--主体内容end-->
    <!--底部-->
    <div class="dr_footer">
        <div class="dr_footer-top"></div>
        <!--底部图标-->
        <ul class="dr_footer-icon w1000">
            <li>
                <a href="/help/28">
                    <i class="footer-icon1"></i>
                    <span>专业认证</span>
                </a>
            </li>
            <li>
                <a href="/help/42">
                    <i class="footer-icon2"></i>
                    <span>一钻双证</span>
                </a>
            </li>
            <li>
                <a href="/help/41">
                    <i class="footer-icon3"></i>
                    <span>终生保养</span>
                </a>
            </li>
            <li>
                <a href="/help/43">
                    <i class="footer-icon4"></i>
                    <span>以小换大</span>
                </a>
            </li>
            <li>
                <a href="/help/45">
                    <i class="footer-icon5"></i>
                    <span>15天退换</span>
                </a>
            </li>
            <li>
                <a href="/help/36">
                    <i class="footer-icon6"></i>
                    <span>全国免运费</span>
                </a>
            </li>
            <li>
                <a href="/help/44">
                    <i class="footer-icon7"></i>
                    <span>全程保险</span>
                </a>
            </li>
        </ul>
        <!--底部图标end-->
        <!--灰色区域end-->
        <!--黑色区域-->
        <div class="dr_tint">
            <div class="w1000">
                <!--服务-->
                <ul class="dr_servie">
                    <li>
                        <h4>关于我们</h4>
                        <a href="/help/28">专业认证</a>
                        <a href="/help/30">合作专区</a>
                        <a href="/help/148">公司简介</a>
                    </li>
                    <li>
                        <h4>购物指南</h4>
                        <a href="/help/34">购买流程</a>
                        <a href="/help/35">支付方式</a>
                        <a href="/help/36">配送流程</a>
                    </li>
                    <li>
                        <h4>售后服务</h4>
                        <a href="/help/37">退货流程</a>
                        <a href="/help/38">办理售后</a>
                        <a href="/help/45">15天退换</a>
                    </li>
                    <li>
                        <h4>帮助中心</h4>
                        <a href="/help/33">注册流程</a>
                        <a class="droline_showkf" href="javascript:;">联系客服</a>
                        <a href="/drmap">网站地图</a>
                    </li>
                    <li>
                        <h4>服务条款</h4>
                        <a href="/help/41">终生保养</a>
                        <a href="/help/46">注册协议</a>
                        <a href="/help/47">隐私声明</a>
                    </li>
                    <li>
                        <h4>DR资讯</h4>
                        <a href="/news">资讯中心</a>
                        <a href="/brand">品牌专题</a>
                        <a href="/tags">DR标签</a>
                    </li>
                </ul>
                <!--服务end-->
                <!--关注我们-->
                <div class="drfocus">
                    <h3>关注我们</h3>
                    <p>一个让你相信真爱的地方，给你实用的情感指南，为你的爱情终身服务。</p>
                    <a href="javascript:;" class="wechat">
                        <img src="//res.darryring.com/webimg/common/gzh_wx.png" />
                    </a>
                    <a href="https://weibo.com/2249451585/" class="weibo" target="_blank"></a>
                </div>
            </div>
            <!--中英文切换，网站声明-->
            <div class="dr_declare fix">
                <div class="w1360">
                    <div class="dr_langues fl">
                        <span>选择站点</span>
                        <p class="dr_langueBtn"><a href="javascript:void(0);">简体</a></p>
                        <div class="dr_langueList" id="langueList">
                            <a class="active" href="/">简体</a>
                            <a href="/hk">繁体</a>
                            <a href="/en">English</a>
                            <p><label>简体</label></p>
                        </div>
                        <a href="/help/47">隐私政策</a>
                        <a href="/drmap">网站地图</a>
                        <a href="/links">友情链接</a>
                    </div>
                    <div class="dr_decItem fr">
                        <a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=44030302000934" target="_blank"><img src="//res.darryring.com/webimg/common/icon_police.png"/>粤公网安备 44030302000934号/</a>
                        <span><a href="http://www.miitbeian.gov.cn" target="_blank">粤ICP备11012085号-2</a>/Copyright©2006-2018 www.darryring.com 戴瑞珠宝 All Rights Reserved. </span>
                        <img src="/bundles/acmefrontend/img/kxzd.png" alt="" />
                    </div>
                </div>
            </div>
            <!--中英文切换，网站声明end-->
        </div>
        <!--黑色区域end-->
    </div>
    <!--底部end-->
</div>
</body>
</html>