<%@ page language="java" import="java.util.*,com.darryring.pojo.*"
	pageEncoding="UTF-8"%>
<%@ taglib uri="http://java.sun.com/jsp/jstl/core" prefix="c"%>
<%@taglib prefix="fmt" uri="http://java.sun.com/jsp/jstl/fmt"%>
<%
	String path = request.getContextPath();
	String basePath = request.getScheme() + "://"
			+ request.getServerName() + ":" + request.getServerPort()
			+ path + "/";
%>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta name="baidu-site-verification" content="l0c5KddqRr" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta itemprop="name" content="Darry Ring(DR)戒指|戴瑞珠宝|求婚钻戒-Darry Ring官网" />
<meta itemprop="image"
	content="http://static.darryring.com/comm/drlogo.png" />
<meta name="renderer" content="webkit">
<title>我的订单</title>
<meta content="telephone=no" name="format-detection" />
<meta name="Description" content="" />
<meta name="Keywords" content="" />
<script type="text/javascript" src="<%=basePath%>qian/js/common.js"
	id='aws_mjs' aws-account='DarryRing-PC'></script>
<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
<link rel="stylesheet" href="<%=basePath%>qian/css/common.css" />
<link rel="stylesheet" href="<%=basePath%>qian/css/MyDr.css" />
<script type="text/javascript"
	src="<%=basePath%>qian/js/jquery-1.8.3.min.js"></script>
<script type="text/javascript">
	$(function() {
		//显示个人中心
		$(".dr_member-left").mouseover(function() {
			$(".loginIn").show();
		}).mouseout(function() {
			$(".loginIn").hide();
		});

		//登录验证
		$.post("../UserServlet?action=islogin", callBack);
		function callBack(data) {
			if (data == "false") {
				alert("你还未登录，请先登录!");
				location.href = "login.html";
			}
		}

		$(".Mymember_Othernav li").click(function() {
			$(this).addClass("activate").siblings().removeClass("activate");
		});

		$(".subReceive").click(function() {
			$(".dr_sametc :eq(0)").show();
			$(".dr_sametc :eq(0)>.Popup_close").show();
		});

		$(".dr_sametc :eq(0)>.Popup_close").click(function() {
			$(".dr_sametc :eq(0)").hide();
		});

		$(".deleteCOrder").click(function() {
			$(".dr_sametc :eq(1)").show();
			$("#delCOrderTips").show();
		});

		$(".btn_cancle").click(function() {
			$(".dr_sametc :eq(1)").hide();
			$("#delCOrderTips").hide();
		});

	});
</script>
</head>
<body>
	<div class="w1360">
		<div class="dr_blackwall"></div>
		<div class="acitve_show w1360">
			<div class="leftLogo">
				<a href="/"> <img
					src="//res.darryring.com/webimg/common/logo.png" />
				</a>
			</div>
			<div class="rightNav">
				<div class="searchRing fl">
					<input type="text" placeholder="男戒" value="" /> <a
						href="javascript:;"></a>
				</div>
				<a href="/user">
					<div class="themeber fl"></div>
			</div>
		</div>
		<!--头部-->
		<div class="dr_header">
			<div class="fix">
				<div class="dr_logo fl">
					<a href="/"> <img
						src="//res.darryring.com/webimg/common/logo.png" />
					</a>
				</div>
				<!--店铺定位-->
				<div class="drmember_shop fl">
					<a class="drmember_gps">全国</a> <a class="drmember_shopBtn"
						href="/shopyd">全国店铺 ></a>
				</div>
				<!--店铺定位 end-->
				<div class="dr_member fr">
					<div class="drmember_sec">
						<c:choose>
							<c:when test="${empty user}">
								<div class="dr_member-left fl" id="long_status">
									<a href="<%=basePath%>qian/login.jsp">登录</a> <a
										href="<%=basePath%>qian/register.jsp" class="drtojoin">注册</a>
								</div>
							</c:when>
							<c:otherwise>
								<div class="dr_member-left fl" id="loginInInfo">
									<a href="/user" class="userName">欢迎${user.loginName}</a>
									<div class="loginIn fix" id="loginInaAtion">
										<a href="<%=basePath %>Dr_ProductServlet?method=findOr&value=1">我的订单</a>
										<a href="/cart">购物车</a> <a href="/user/collect">我的收藏</a> <a
											href="/user">个人中心</a> <a href="/logout?forword=">退出</a>
									</div>
								</div>
							</c:otherwise>
						</c:choose>
						<ul class="dr_member-right drLang fl" id="dr-country">
							<li><a href="/">中文(简体)</a></li>
							<li id="dr-english"><a href="https://www.darryring.com/en">English</a>
								<a href="https://www.darryring.com/hk">中文(繁體)</a></li>
						</ul>
						<div class="dr_member-left fl">
							<i> <img src="//res.darryring.com/webimg/common/phone.png" />
								400 01 13520
							</i>
						</div>
						<div class="dr_member-left drnobk fl">
							<a
								href="https://detail.tmall.com/item.htm?id=554127196978&amp;sku_properties=9066257:3979774">天猫旗舰店</a>
						</div>
					</div>

					<!--验证框-->
					<form method="post" name="form1" class="aspnetForm"
						action="/love/query/result">
						<input type="hidden" name="cskey" value="RIX8P5Kh">
						<div class="drmember_yz">
							<!--提示-->
							<div class="drmember_yz-word index_yz-word" id="dr_sfwrong"
								style="display: none;">
								<p>Darry
									Ring严格规定男士凭身份证一生仅能定制一枚，象征男人一生真爱的最高承诺。输入身份证号码即可查询购买记录。</p>
							</div>
							<!--提示end-->
							<!--报错(把drmember_yz-wrong的样式加到上面的提示就是报错了)-->
							<div class="drmember_yz-wrong">
								<p>身份证有误，请重新输入。</p>
							</div>
							<!--报错end-->
							<div class="drmember_yzborder">
								<input type="text" placeholder="请输入身份证号验证真爱承诺" name="identity"
									value="" class="txtIDCardw" /> <input type="text" value=""
									style="display:none"> <i class="trueLoveSeach"></i>
							</div>
						</div>
					</form>
					<!--验证框end-->
				</div>
			</div>
		</div>
		<!--头部end-->
		<!--头部end-->
		<!--导航-->
		<div class="dr_navbk fix">
			<ul class="dr_nav">
				<li><a href="/user">我的Darry Ring</a></li>
				<li><a href="/user/anniversary">我们的纪念日</a></li>
				<li style="display: none"><a href="/user/certificate">我的真爱证书</a>
				</li>
				<li style="display: none"><a
					href="https://home.darryring.com/index/index/mid/MTgyNTAwMg==">专属空间</a>
				</li>
			</ul>
		</div>
		<!--导航end-->
		<!--个人中心区域-->
		<div class="mydr_cort fix">
			<!--左边公共区域-->
			<div class="mydr_left fl">
				<ul class="mydr_leftNav">
					<li>
						<h4>
							<span class="myicon_shop">购物</span>
						</h4>
						<ul class="mydrnav_show">
							<li><a href="usercart.html">我的购物车</a></li>
							<li><a href="/user/giftlist">我的礼物清单</a></li>
							<li><a href="/user/collect">我的收藏</a></li>
							<li><a href="/user/pink/reserve">我的粉钻预约</a></li>
							<li><a href="/user/shop/reserve">我的进店预约</a></li>
						</ul>
					</li>
					<li>
						<h4>
							<span class="myicon_detail">订单中心</span>
						</h4>
						<ul class="mydrnav_show">
							<li><a href="<%=basePath %>Dr_ProductServlet?method=findOr&value=1" class='active' id="myorder">我的订单</a>
							</li>
							<li><a href="/user/comment">评价/晒单</a></li>
						</ul>
					</li>
					<li>
						<h4>
							<span class="myicon_people">客户服务</span>
						</h4>
						<ul class="mydrnav_show">
							<li><a href="/user/return">退换货办理</a></li>
						</ul>
					</li>
					<li>
						<h4>
							<span class="myicon_member">DR真爱俱乐部</span>
						</h4>
						<ul class="mydrnav_show">
							<li><a href="/user/club">我的会员</a></li>
							<li><a href="http://gift.darryring.com/">礼品商城</a></li>
							<li><a href="/user/points">我的积分</a></li>
							<li><a href="/user/card">我的卡包</a></li>
							<li><a href="/user/anniversary">纪念日管理</a></li>
							<li style="display: none"><a
								href="http://home.darryring.com/index/index/mid/MTgyNTAwMg==">专属空间</a>
							</li>

							<li style="display: none"><a href="/user/certificate">我的真爱证书</a>
							</li>
						</ul>
					</li>
					<li>
						<h4>
							<span class="myicon_set">账户设置</span>
						</h4>
						<ul class="mydrnav_show">
							<!-- <li>
                            <a href="javascript:;">账户设置</a>
                        </li> -->
							<li><a href="usershow.html">个人资料</a></li>
							<li style="display: none"><a href="/user/account">帐号管理</a></li>
							<li><a href="/user/account/protocols">绑定账号</a></li>
							<li><a href="/user/resetPwd">修改密码</a></li>
							<li><a href="useraddress.html">地址管理</a></li>
						</ul>
					</li>
					<li>
						<h4>
							<span class="myicon_news">系统消息</span>
						</h4>
					</li>
				</ul>
			</div>
			<!--左边公共区域end-->
			<!--右边部分-->
			<div class="mydr_right fr">
				<div class="detailall_cort pd20">
					<h4>订单详情</h4>
					<table class="mydetail_table" border="0">
						<tr height="36px" class="mydetailfirst_two mydetail_specialtwo">
							<td width="770px"><strong class="fl">订单号：${order.orderId}</strong>
								<p class="detail_lxkf fr">
									订单如需加急处理请联系 <a
										href="javascript:showxiaon('kf_9883_1402631963601');"
										class='drsqkfli'>在线客服</a>
								</p></td>
						</tr>
					</table>
					<!--订单流程-->
					<!--开发须知
            	订单状态：加class‘mydetail_first’；
 				支付状态：加class‘mydetail_sec’；
 				定制状态：加class‘mydetail_third’；
 				出库状态：加class‘mydetail_four’；
 				完成状态：加class‘myleval_fiveth’；
 				
            --> 
            <!--订单状态图显示--> 
               <c:if test="${order.status == 1}">
                  <script type="text/javascript">
                  $(function(){
                	  $(".mydetail_process").addClass("mydetail_first");
                  });
                  </script>
               </c:if>
               <c:if test="${order.status == 2}">
                  <script type="text/javascript">
                  $(function(){
                	  $(".mydetail_process").removeClass("mydetail_first");
                      $(".mydetail_process").addClass("mydetail_sec");
                  });  
                  </script>
               </c:if>
               <c:if test="${order.status == 3}">
                  <script type="text/javascript">
                  $(function(){
                	  $(".mydetail_process").removeClass("mydetail_sec");
                      $(".mydetail_process").addClass("mydetail_third");
                  });
                  </script>
               </c:if>
               <c:if test="${order.status == 4}">
                  <script type="text/javascript">
                  $(function(){
                	  $(".mydetail_process").removeClass("mydetail_third");
                      $(".mydetail_process").addClass("mydetail_four");
                  }); 
                  </script>
               </c:if>
               <c:if test="${order.status == 5}">
                  <script type="text/javascript">
                   $(function(){
                	   $(".mydetail_process").removeClass("mydetail_four");
                       $(".mydetail_process").addClass("myleval_fiveth");
                   }); 
                  </script>
               </c:if>
               
					<ul class="mydetail_process">
						<li class="detailprocess_one">
							<p>订单提交成功</p>
						</li>
						<li class="lineone"></li>
						<li class="detailprocess_two">
							<p>支付完成</p>
						</li>
						<li class="linetwo"></li>
						<li class="detailprocess_three">
							<p>
								匠心定制中 <br /> 请耐心等待
							</p>
						</li>
						<li class="linethree"></li>
						<li class="detailprocess_four">
							<p>商品已出库</p>
						</li>
						<li class="linefour"></li>
						<li class="detailprocess_five">
							<p>交易完成</p>
						</li>
					</ul>
					<!--订单流程end-->
					<!--订单信息-->
					<table class="mydetail_table" border="0">
						<tr height="36px" class="mydetailfirst_two mydetail_specialtwo">
							<td colspan="3"><strong>订单信息</strong></td>
						</tr>
						<tr class="mydetailfirst_same">
							<td width="496px" class="DetailfirstTd DetailspecialTd">
							<c:if test="${order.status == 0}">
								<p>订单状态： 已取消</p>
							</c:if>
							<c:if test="${order.status == 1}">
								<p>订单状态： 待审核</p>
							</c:if>
							<c:if test="${order.status == 2}">
								<p>订单状态： 已支付</p>
							</c:if>
							<c:if test="${order.status == 3}">
								<p>订单状态： 制作中</p>
							</c:if>
							<c:if test="${order.status == 4}">
								<p>订单状态： 已发货</p>
							</c:if>
							<c:if test="${order.status == 5}">
								<p>订单状态：已确认收货</p>
							</c:if>
								<p class="createTime">下单时间：<fmt:formatDate value="${order.createTime}" type="both"/></p> <!-- <p class="thirdColor">取消时间：2015-07-25 18:19:18</p>
						<p class="thirdColor">取消原因：过期未付款</p> -->
							</td>
							<c:if test="${order.status == 0}">
							<td width="120px" align="center">
							</td>
							</c:if>
							<c:if test="${order.status == 1}">
							<td width="120px" align="center"><a href="javascript:;"
								class="firstColor cancelOrder" data-id="399505">取消订单</a>
							</td>
							</c:if>							
							<td width="150px" align="center">
							<c:choose>
							   <c:when test="${order.status == 0}">
							      <c:forEach items="${order.orderIitems}" var="orderit">
							      <a href="<%=basePath %>Dr_ProductServlet?method=ringDetail&pid=${orderit.dp.productId}" class="button_sure button_other">重新购买</a>
							      </c:forEach>
							   </c:when>
							   <c:when test="${order.status == 1}">
							      <a href="<%=basePath %>Dr_ProductServlet?method=pay" class="button_sure button_other pay_now" data-id="399505">立即支付</a>
								  <p class="thirdColor">剩余
									<span class="time" style="display:none"> 2018/09/29 15:09:46 </span><i></i>支付<br /> 否则系统将自动取消订单
								  </p> 
							   </c:when>
							   <c:otherwise>
							      <span  class="" >订单已完成</span>
							</c:otherwise>
							</c:choose>
							</td>
						</tr>
					</table>
					<!--订单信息end-->
					<!--收货人信息-->
					<table class="mydetail_table" border="0">
						<tr height="36px" class="mydetailfirst_two mydetail_specialtwo">
							<td width="770px"><strong>收货人信息</strong></td>
						</tr>
						<tr class="mydetailfirst_same">
							<td width="770px" class="DetailfirstTd DetailspecialTd">
								<p>收货人：${addr.receiver}</p>
								<p>收货人地址：${addr.address}</p>
								<p>
									<span>手机号码：${addr.phone}</span>
								</p>
								<p>备注留言：</p>
							</td>
						</tr>
					</table>
					<!--收货人信息end-->
					<!--两个商品时-->
					<table class="mydetail_table" border="0">
					<c:forEach items="${order.orderIitems}" var="orderit">
						<tr height="36px" class="mydetailfirst_two">
							<td colspan="2" width="434px" align="center">商品信息</td>
							<td width="70px" align="center">手寸/尺寸</td>
							<td width="100px" align="center"></td>
							<td width="140px" align="center">价格</td>
						</tr>
						<tr class="mydetailfirst_same mydetail_more">
							<td width="394px" class="DetailfirstTd havedashed">
							<a href="/goods-jewelry-111?sku=Z0030236789811" class="opacity_href"></a>
								<div class="mydetailImg fl">
									<img src="<%=basePath %>qian/${orderit.dp.imageRoute}" width="100" height="100" />
								</div>
								<div class="fl">
									<a href="/goods-jewelry-111?sku=Z0030236789811"><h6>${orderit.dp.shopName}</h6></a>
									<p>材质：白18K金</p>
								</div></td>
							<td width="40px" class="" align="center">X${orderit.quantity}</td>
							<td width="80px" align="center">
								<p>客定</p>
							</td>
							<td width="100px" align="center">
								<p></p>
							</td>
							<td width="150px" align="center" class="haveborder"><i
								class="fourcolor">¥${orderit.dp.price}</i></td>
						</tr>
						</c:forEach>
					</table>
					<!--两个商品时end-->
					<!--物流详情-->
					<!-- <div class="DRlogistics_list">
					<div class="DRlogistics_word">
						<strong>包裹1</strong>
						<strong>顺丰速运</strong>
						<strong>单号:783659840548</strong>
					</div>
					<div class="logistics_line"></div>
					<ul class="logistics_process">
						<li class="active">
							<span></span><p>2017-11-14 16:51:00  快件交给黄立群，正在派送途中（联系电话：13539112025）</p>
						</li>
						<li>
							<span></span><p>2017-11-14 16:51:00  快件交给黄立群，正在派送途中（联系电话：13539112025）</p>
						</li>
						<li>
							<span></span><p>2017-11-14 16:51:00  快件交给黄立群，正在派送途中（联系电话：13539112025）</p>
						</li>
						<li>
							<span></span><p>2017-11-14 16:51:00  快件交给黄立群，正在派送途中（联系电话：13539112025）</p>
						</li>
						<li>
							<span></span><p>2017-11-14 16:51:00  快件交给黄立群，正在派送途中（联系电话：13539112025）</p>
						</li>
						<li>
							<span></span><p>2017-11-14 16:51:00  快件交给黄立群，正在派送途中（联系电话：13539112025）</p>
						</li>
						<li>
							<span></span><p>2017-11-14 16:51:00  快件交给黄立群，正在派送途中（联系电话：13539112025）</p>
						</li>
						<li>
							<span></span><p>2017-11-14 16:51:00  快件交给黄立群，正在派送途中（联系电话：13539112025）</p>
						</li>
					</ul>
					<div class="whritebk"></div>
				</div> -->

					<!--物流详情end-->

					<!--返回订单列表-->
					<div class="return_list fix">
						<a href="<%=basePath %>Dr_ProductServlet?method=findOr&value=1" class="fr">返回订单列表>></a>
					</div>
					<!--返回订单列表end-->
				</div>
				<!--订单详情end-->
			</div>
			<!--右边部分end-->
		</div>
		<!--个人中心区域end-->
		<!--弹框begin-->
		<div class="dr_sametc">
			<!--关闭按钮-->
			<a href="javascript:;" class="Popup_close"></a>
			<!--关闭按钮end-->
			<div class="dr_sametcborder">
				<!--确认收货弹窗-->
				<div class="Thecomment" id="confirm_mdOK">
					<img src="<%=basePath %>qian/images/indexPic/dr_logo.png" />
					<div class="Verifica_delTips">
						<p>确认收货成功！</p>
					</div>
				</div>
				<!--确认收货弹窗end-->
			</div>
		</div>
		<!--弹框end-->
		<!--弹框begin-->
		<div class="dr_sametc" id="verTips">
			<!--关闭按钮-->
			<a href="javascript:;" class="Popup_close btn_cancle"></a>
			<!--关闭按钮end-->
			<div class="dr_sametcborder">
				<!--确认删除订单-->
				<div class="Verifica_all Verifica_delDay" id="delCOrderTips">
					<img src="<%=basePath%>qian/images/indexPic/dr_logo.png" />
					<div class="Verifica_delTips">
						<p>是否确认删除此订单？</p>
					</div>
					<div class="Verifica_button">
						<a href="javascript:;" id="confirm_delCOrder">确认</a> <a
							href="javascript:;" class="btn_cancle">取消</a>
					</div>
				</div>
				<!--确认删除订单end-->
			</div>
		</div>
		<!--弹框end-->
		<!--签字单据弹窗-->
		<!--签字单据弹窗 end-->

		<!--底部-->
		<div class="dr_footer">
			<div class="dr_footer-top"></div>
			<!--底部图标-->
			<ul class="dr_footer-icon w1000">
				<li><a href="/help/28"> <i class="footer-icon1"></i> <span>专业认证</span>
				</a></li>
				<li><a href="/help/42"> <i class="footer-icon2"></i> <span>一钻双证</span>
				</a></li>
				<li><a href="/help/41"> <i class="footer-icon3"></i> <span>终生保养</span>
				</a></li>
				<li><a href="/help/43"> <i class="footer-icon4"></i> <span>以小换大</span>
				</a></li>
				<li><a href="/help/45"> <i class="footer-icon5"></i> <span>15天退换</span>
				</a></li>
				<li><a href="/help/36"> <i class="footer-icon6"></i> <span>全国免运费</span>
				</a></li>
				<li><a href="/help/44"> <i class="footer-icon7"></i> <span>全程保险</span>
				</a></li>
			</ul>
			<!--底部图标end-->
			<!--灰色区域end-->
			<!--黑色区域-->
			<div class="dr_tint">
				<div class="w1000">
					<!--服务-->
					<ul class="dr_servie">
						<li>
							<h4>关于我们</h4> <a href="/help/28">专业认证</a> <a href="/help/30">合作专区</a>
							<a href="/help/148">公司简介</a>
						</li>
						<li>
							<h4>购物指南</h4> <a href="/help/34">购买流程</a> <a href="/help/35">支付方式</a>
							<a href="/help/36">配送流程</a>
						</li>
						<li>
							<h4>售后服务</h4> <a href="/help/37">退货流程</a> <a href="/help/38">办理售后</a>
							<a href="/help/45">15天退换</a>
						</li>
						<li>
							<h4>帮助中心</h4> <a href="/help/33">注册流程</a> <a
							class="droline_showkf" href="javascript:;">联系客服</a> <a
							href="/drmap">网站地图</a>
						</li>
						<li>
							<h4>服务条款</h4> <a href="/help/41">终生保养</a> <a href="/help/46">注册协议</a>
							<a href="/help/47">隐私声明</a>
						</li>
						<li>
							<h4>DR资讯</h4> <a href="/news">资讯中心</a> <a href="/brand">品牌专题</a>
							<a href="/tags">DR标签</a>
						</li>
					</ul>
					<!--服务end-->
					<!--关注我们-->
					<div class="drfocus">
						<h3>关注我们</h3>
						<p>一个让你相信真爱的地方，给你实用的情感指南，为你的爱情终身服务。</p>
						<a href="javascript:;" class="wechat"> <img
							src="//res.darryring.com/webimg/common/gzh_wx.png" />
						</a> <a href="https://weibo.com/2249451585/" class="weibo"
							target="_blank"></a>
					</div>
				</div>
				<!--中英文切换，网站声明-->
				<div class="dr_declare fix">
					<div class="w1360">
						<div class="dr_langues fl">
							<span>选择站点</span>
							<p class="dr_langueBtn">
								<a href="javascript:void(0);">简体</a>
							</p>
							<div class="dr_langueList" id="langueList">
								<a class="active" href="/">简体</a> <a href="/hk">繁体</a> <a
									href="/en">English</a>
								<p>
									<label>简体</label>
								</p>
							</div>
							<a href="/help/47">隐私政策</a> <a href="/drmap">网站地图</a> <a
								href="/links">友情链接</a>
						</div>
						<div class="dr_decItem fr">
							<a
								href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=44030302000934"
								target="_blank"><img
								src="//res.darryring.com/webimg/common/icon_police.png" />粤公网安备
								44030302000934号/</a> <span><a
								href="http://www.miitbeian.gov.cn" target="_blank">粤ICP备11012085号-2</a>/Copyright©2006-2018
								www.darryring.com 戴瑞珠宝 All Rights Reserved. </span> <img
								src="/bundles/acmefrontend/img/kxzd.png" alt="" />
						</div>
					</div>
				</div>
				<!--中英文切换，网站声明end-->
			</div>
			<!--黑色区域end-->
		</div>
		<!--底部end-->
	</div>
	<script language='javascript' type='text/javascript'>
	$(function(){
		countTime();
	});
         //订单期限倒计时
         function countTime(){
        	 //获取当前时间
        	 var today = new Date();
        	//订单创建时间2018-9-26 10:56:45
             var createTime = $(".createTime").text().substring(5);
             var str1 = createTime.substring(0,7);
             var day = parseInt(createTime.substring(7,9))+3;
             var str2= createTime.substring(9);
        	 //设置截止时间
        	 var endDate = new Date(str1+day+str2);
        	 //时间差
             var leftTime = endDate.getTime()-today.getTime();
             //定义变量 d,h,m,s保存倒计时的时间           
             var d=0,h=0,m=0,s=0;            
             if (leftTime>=0) {                
            	 d = Math.floor(leftTime/1000/60/60/24);                
            	 h = Math.floor(leftTime/1000/60/60%24);                
            	 m = Math.floor(leftTime/1000/60%60);                
            	 s = Math.floor(leftTime/1000%60);   
            	  //清除定时    
            	 if(d==0 && h==0 && m==0 && s==0){
            		 clearInterval(timeId); 
            	  }
            	 }
             
             $(".time").text(d+"天"+h+"时"+m+"分"+s+"秒").show();
             setTimeout("countTime()",1000);
         }
       
    </script>
</body>
</html>
