<!DOCTYPE>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="baidu-site-verification" content="l0c5KddqRr" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta itemprop="name" content="Darry Ring(DR)戒指|戴瑞珠宝|求婚钻戒-Darry Ring官网"/>
        <meta itemprop="image" content="http://static.darryring.com/comm/drlogo.png" /> 
    <meta name="renderer" content="webkit">
    <title>我的DR</title>
    <meta content="telephone=no" name="format-detection" />
    <meta name="Description" content="" />
    <meta name="Keywords" content="" />
	<script type="text/javascript" src="js/common.js" id='aws_mjs' aws-account='DarryRing-PC'></script>
    <link rel="stylesheet" href="css/common.css" />
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="stylesheet" href="css/MyDr.css" />
    <script type="text/javascript" src="js/jquery-1.8.3.min.js"></script>
     <script type="text/javascript">
    $(function(){
 	   //显示个人中心
	    $(".dr_member-left").mouseover(function (){
	    	$(".loginIn").show();
	    }).mouseout(function () {
	    	$(".loginIn").hide();
	    });
	   //登录验证
	   	 $.post("../UserServlet?action=islogin",callBack);
			function callBack(data){
				if(data=="false"){
					alert("你还未登录，请先登录!");
					location.href="login.html";
				}
			} 
    });
    </script>
</head>
<body>
	<div class="w1360">
    <!--头部-->
<!--黑色透明遮罩-->
<div class="dr_blackwall"></div>
<!--黑色透明遮罩end-->
<!--头部导航-->

<div class="acitve_show w1360">
    <div class="leftLogo">
		<a th:href="@{index}">
            <img src="//pkquutas9.bkt.clouddn.com/logo.png"/>
        </a>
    </div>
    <div class="rightNav">
        <div class="searchRing fl">
            <input type="text" placeholder="男戒" value="" />
            <a href="javascript:;"></a>
        </div>     
    	        <a href="/user">
            <div class="themeber fl"></div>
				</a>
    	    </div>
</div>
<!--头部-->
<div class="dr_header">
    <div class="fix">
        <div class="dr_logo fl">
			<a th:href="@{index}">
                <img src="//pkquutas9.bkt.clouddn.com/logo.png"/>
            </a>
        </div>
        <!--店铺定位-->
        <div class="drmember_shop fl">
       	 	<a class="drmember_gps">全国</a>
            <a class="drmember_shopBtn" href="/shopyd">全国店铺 ></a>
        </div>
        <!--店铺定位 end-->
        <div class="dr_member fr">
            <div class="drmember_sec">
				<div class="dr_member-left fl" id="long_status" th:if="${session.user==null}">
					<a th:href="@{login}">登录</a>
					<a th:href="@{regist}" class="drtojoin">注册</a>
				</div>
				<div class="dr_member-left fl" id="loginInInfo" th:unless="${session.user==null}">
					<a th:href="@{usershow}" class="userName">欢迎<span th:text="${user.loginName}"></span></a>
					<div class="loginIn fix" id="loginInaAtion">
						<a href="Dr_ProductServlet?method=findOr&value=1">我的订单</a>
						<a href="usercart.html">购物车</a>
						<a href="/user/collect">我的收藏</a>
						<a th:href="@{usershow}">个人中心</a>
						<a href="/logout?forword=">退出</a>
					</div>
				</div>
               <div class="dr_member-left fl">
                    <a href="https://shequ.darryring.com/" target="_blank">DR社区</a>
                </div>
                <!--新加App地址end-->
                <ul class="dr_member-right drLang fl" id="dr-country">
                    <li>
                        <a href="/">中文(简体)</a>
                    </li>
                    <li id="dr-english">
                        <a href="https://www.darryring.com/en">English</a>
                        <a href="https://www.darryring.com/hk">中文(繁體)</a>
                    </li>
                </ul>
                <div class="dr_member-left fl">
					<i>
						<img src="//pkquutas9.bkt.clouddn.com/phone.png"/>
						400 01 13520
					</i>
				</div>
                <div class="dr_member-left drnobk fl">
                    <a href="https://detail.tmall.com/item.htm?id=554127196978&amp;sku_properties=9066257:3979774">天猫旗舰店</a>
                </div>
            </div>
            
            <!--验证框-->
            <form method="post" name="form1" class="aspnetForm" action="/love/query/result" >
                <input type="hidden" name="cskey" value="gH4YSXxu">
                <div class="drmember_yz">
                    <!--提示-->
                    <div class="drmember_yz-word index_yz-word" id="dr_sfwrong" style="display: none;">
                        <p>Darry Ring严格规定男士凭身份证一生仅能定制一枚，象征男人一生真爱的最高承诺。输入身份证号码即可查询购买记录。</p>
                    </div>
                    <!--提示end-->
                    <!--报错(把drmember_yz-wrong的样式加到上面的提示就是报错了)-->
                    <div class="drmember_yz-wrong">
                        <p>身份证有误，请重新输入。</p>
                    </div>
                    <!--报错end-->
                    <div class="drmember_yzborder">
                        <input type="text" placeholder="请输入身份证号验证真爱承诺" name="identity" value="" class="txtIDCardw"/>
                        <input type="text" value="" style="display:none">
                        <i class="trueLoveSeach"></i>
                    </div>
                </div>
            </form>
            <!--验证框end-->
        </div>
    </div>	
</div>
<!--头部end-->
<!--头部end-->
<!--导航-->
<div class="dr_navbk fix">
    <ul class="dr_nav">
        <li class="activate">
            <a href="/user">我的Darry Ring</a>
        </li>
        <li >
            <a href="/user/anniversary">我们的纪念日</a>
        </li>
        <li  style="display: none">
            <a href="/user/certificate">我的真爱证书</a>
        </li>
       	        	<li  style="display: none">
                        <a href="https://home.darryring.com/index/index/mid/MTgyNTAwMg==">专属空间</a>
                </li>
                     
        
    </ul>
</div><!--导航end-->
<!--个人中心区域-->
<div class="mydr_cort fix">
		<!--左边公共区域-->
		<div class="mydr_left fl">
	<ul class="mydr_leftNav">
		<li>
			<h4>
				<span class="myicon_shop">购物</span>
			</h4>
			<ul class="mydrnav_show">
				<li>
					<a href="usercart.html">我的购物车</a>
				</li>
				<li>
					<a href="/user/giftlist">我的礼物清单</a>
				</li>
				<li>
					<a href="/user/collect" >我的收藏</a>
				</li>
				<li>
					<a href="/user/pink/reserve" >我的粉钻预约</a>
				</li>
				<li>
					<a href="/user/shop/reserve" >我的进店预约</a>
				</li>
                                			</ul>
		</li>
		<li>
			<h4>
				<span class="myicon_detail">订单中心</span>
			</h4>
			<ul class="mydrnav_show">
				<li>
					<a href="<%=basePath %>Dr_ProductServlet?method=findOr&value=1" >我的订单</a>
				</li>
				<li>
					<a href="/user/comment" >评价/晒单</a>
				</li>
			</ul>
		</li>
		<li>
			<h4>
				<span class="myicon_people">客户服务</span>
			</h4>
			<ul class="mydrnav_show">
				<li>
					<a href="/user/return">退换货办理</a>
				</li>
			</ul>
		</li>
		<li>
			<h4>
				<span class="myicon_member">DR真爱俱乐部</span>
			</h4>
			<ul class="mydrnav_show">
				<li>
					<a href="/user/club" >我的会员</a>
				</li>
				<li>
					<a href="http://gift.darryring.com/">礼品商城</a>
				</li>
				<li>
					<a href="/user/points" >我的积分</a>
				</li>
				<li>
					<a href="/user/card" >我的卡包</a>
				</li>
				<li>
					<a href="/user/anniversary" >纪念日管理</a>
				</li>
                				<li  style="display: none">
					<a href="http://home.darryring.com/index/index/mid/MTgyNTAwMg==">专属空间</a>
				</li>
 
                                 				<li  style="display: none">
					<a href="/user/certificate" >我的真爱证书</a>
				</li>
			</ul>
		</li>
		<li>
			<h4>
				<span class="myicon_set">账户设置</span>
			</h4>
			<ul class="mydrnav_show">
				<!-- <li>
					<a href="javascript:;">账户设置</a>
				</li> -->
				<li >
					<a href="usershow.html" >个人资料</a>
				</li>
				<li style="display: none">
					<a href="/user/account" >帐号管理</a>
				</li>
				<!-- <li>
					<a href=" /user/bingMobile" >绑定手机</a>
				</li>
				<li>
					<a href="/user/bingEmail" >绑定邮箱</a>
				</li> -->
				<li>
					<a href="/user/account/protocols" >绑定账号</a>
				</li>
				<li >
					<a href="/user/resetPwd" >修改密码</a>
				</li>
				<li>
					<a href="useraddress.html" >地址管理</a>
				</li>
			</ul>
		</li>
		<li>
			<h4>
				<span class="myicon_news">系统消息</span>
			</h4>
		</li>
	</ul>
</div>		<!--左边公共区域end-->
		<!--右边部分-->
		<div class="mydr_right fr">
			<!--我的DR-->
			<div class="memberDR_cort">
				<div class="myDRcort_top fix">
				<!-- 没有购买钻戒 -->
										<div class="myDRcorttop_left fl">
						<a href="javascript:;" class="myDRTX">
							<img src="<%=basePath %>${user.touRoute}" id="bgSurface"/>						
						</a>
						<p><a href="javascript:;">${user.loginName}</a></p>
					</div>
					
					<div class="myDRcorttop_right fl">
						<p class="myDRcorttop_more">
							<a href="/user/club">查看</a>
							<i>会员等级</i>
						<span class="levalSame leval_first">注册会员</span></p>
						<p class="myDRcorttop_more">
							<a href="/user/points">查看</a>
							<i>会员积分</i>
							<span class="havejf">0</span>
						</p>
						<p class="myDRcorttop_more">
							<a href="/user/card">查看</a>
							<i>礼物卡</i>
							<em>0</em>
						</p>
						<div class="meberSecurity" >
							<i class="fl">账户安全</i>
							<div class="password_aq fl">
																<span class="ps_w23 security"></span>
								<span class="ps_w30 security"><em>弱</em></span>
								<span class="ps_w40"></span>
								<span class="ps_w50"></span>
								<span class="ps_w60"></span>
															</div>
							<a href="/user/resetPwd" class="fl">修改密码</a>
						</div>
					</div>
				</div>
					<!--物流详情end-->


											<!--订单-->
						<div class="DRmydetail">
							<h5 class="fix">
								近一个月订单
								<a href="/user/order" class="fr">更多 ></a>
							</h5>
																						<!--一个商品时-->
																																<table class="mydetail_table" border="0">
									<tr height="36px" class="mydetailfirst_two">
										<td colspan="5">
											<span><strong>订单号：</strong>P201809111358241825002</span>
											<span>下单时间：2018/09/11 13:58:24</span>
										</td>
									</tr>

									<tr class="mydetailfirst_same">
										<td width="394px" class="DetailfirstTd havedashed">
											<a href="/goods-jewelry-4402" class="opacity_href"></a>
											<div class="mydetailImg fl"><img src="https://static.darryring.com/images/2018-03-14/1521023914.jpg" width="100" height="100" /></div>
											<div class="fl">
												<h6>《国民老公》求婚系列 I SWEAR系列 经典款 30分 F色</h6>
												<p><span>钻石重量(ct):30</span><span>钻石颜色(color):F</span></p>

												<p></p>
												<p>白18K金</p>
											</div>
										</td>
										<td width="40px" align="center">X1</td>
										<td width="80px" align="center">
											<p>￥15439</p>
											<p>(免运费)</p>
										</td>
										<td width="100px" align="center">
																						<p>待审核</p>
																						<p><a href="/user/order/detail?id=393058" class="firstColor">订单详情</a></p>
																						<a href="javascript:;" class="firstColor cancelOrder" data-id="393058">取消订单</a>
																																</td>
										<td width="150px" align="center" class="haveborder">
																					<a href="/order/pay?id=393058" class="button_sure button_other">立即支付</a>
											<p class="thirdColor">剩余<span style="display:none;" class='time'> 2018/09/14 13:58:24 </span><i></i>支付<br/>
											否则系统将自动取消订单</p>
																																																	</td>
									</tr>
								</table>
								<!--一个商品时end-->
																													<!--一个商品时-->
																																<table class="mydetail_table" border="0">
									<tr height="36px" class="mydetailfirst_two">
										<td colspan="5">
											<span><strong>订单号：</strong>P201809111326061825002</span>
											<span>下单时间：2018/09/11 13:26:06</span>
										</td>
									</tr>

									<tr class="mydetailfirst_same">
										<td width="394px" class="DetailfirstTd havedashed">
											<a href="/goods-jewelry-579" class="opacity_href"></a>
											<div class="mydetailImg fl"><img src="https://static.darryring.com/images/2016-08-04/1470291672.jpg" width="100" height="100" /></div>
											<div class="fl">
												<h6>JUST YOU系列 经典款 30分 F色</h6>
												<p><span>钻石重量(ct):30</span><span>钻石颜色(color):F</span></p>

												<p></p>
												<p>白18K金</p>
											</div>
										</td>
										<td width="40px" align="center">X1</td>
										<td width="80px" align="center">
											<p>￥14309</p>
											<p>(免运费)</p>
										</td>
										<td width="100px" align="center">
																						<p>待审核</p>
																						<p><a href="/user/order/detail?id=393046" class="firstColor">订单详情</a></p>
																						<a href="javascript:;" class="firstColor cancelOrder" data-id="393046">取消订单</a>
																																</td>
										<td width="150px" align="center" class="haveborder">
																					<a href="/order/pay?id=393046" class="button_sure button_other">立即支付</a>
											<p class="thirdColor">剩余<span style="display:none;" class='time'> 2018/09/14 13:26:06 </span><i></i>支付<br/>
											否则系统将自动取消订单</p>
																																																	</td>
									</tr>
								</table>
								<!--一个商品时end-->
																													<!--一个商品时-->
																																<table class="mydetail_table" border="0">
									<tr height="36px" class="mydetailfirst_two">
										<td colspan="5">
											<span><strong>订单号：</strong>P201809111139261825002</span>
											<span>下单时间：2018/09/11 11:39:26</span>
										</td>
									</tr>

									<tr class="mydetailfirst_same">
										<td width="394px" class="DetailfirstTd havedashed">
											<a href="/goods-jewelry-155" class="opacity_href"></a>
											<div class="mydetailImg fl"><img src="https://static.darryring.com/images/2017-11-06/1509964641.jpg" width="100" height="100" /></div>
											<div class="fl">
												<h6>LOVE LINE系列 简奢款 50分 H色</h6>
												<p><span>钻石重量(ct):50</span><span>钻石颜色(color):H</span></p>

												<p></p>
												<p>分色18K金</p>
											</div>
										</td>
										<td width="40px" align="center">X1</td>
										<td width="80px" align="center">
											<p>￥31219</p>
											<p>(免运费)</p>
										</td>
										<td width="100px" align="center">
																						<p>已取消</p>
																						<p><a href="/user/order/detail?id=393000" class="firstColor">订单详情</a></p>
																																</td>
										<td width="150px" align="center" class="haveborder">
																																																														<a href="/goods-jewelry-155" class="button_sure">重新购买</a>
																			</td>
									</tr>
								</table>
								<!--一个商品时end-->
																				</div>
						<!--订单end-->
					

					
									</div>
			</div>
			<!--我的DRend-->
			<!--邀请开通主子账号-->
			<div class="memberDR_invite" style="display: none">
				<p>绑定伴侣账号后，您跟您伴侣账号中的积分和卡券即可互通使用，同时还绑定专属空间哦~<a href="javascript:;" class="orange knowmore">了解详情</a></p>
				<h3>方式一：短信邀请</h3>
				<div class="infobox fix">
					<span class="orange fl must">*</span><span class="fl">手机号码</span>
					<div class="usertel fl">
						<span class="telIco"><img src="/bundles/acmefrontend/img/MyDr/telIco.png" alt=""></span>
						<input type="text" placeholder="请输入手机号码" id="tel-user">
					</div>
				</div>
				<div class="sendmessage">
					<a href="javascript:;" class="send">发送邀请短信</a>
				</div>
				<h3>方式二：微信邀请</h3>
				<div class="wxshare" style="padding-left: 175px;text-align: left;">
					<a href="javascript:;" class="wxTc"><img src="/bundles/acmefrontend/img/MyDr/wxico.png" alt=""></a>
				</div>
			</div>
			<!--邀请开通主子账号end-->
		</div>
		<!--右边部分end-->
</div>
<!--个人中心区域end-->
<!--二维码-->
<div class="drmedal_ewm">
	<span></span>
	<!-- <img src="http://pan.baidu.com/share/qrcode?w=150&h=150&url=http://m.darryring.com/mobile/market/drMedal" /> -->
	<img src="/bundles/acmefrontend/img/drMedal.png" />
	<p>微信扫一扫，立即领取</p>
</div>
<!--二维码end-->

<!--心意卡弹窗-->
<div class="drmedal_xyk">
	<div class="xygif1">
		<img src="//res.darryring.com/webimg/MyDr/xyk1.gif" alt="">
	</div>
	<div class="xytxt">
		<p>也许你的DR钻戒不是最大的,<br/>
			但这颗钻戒<br/>
			是凭身份证定制的、独一无二的；</p>
	</div>
	<div class="xygif2">
		<img src="//res.darryring.com/webimg/MyDr/xyk2.gif" alt="">
	</div>
	<div class="xykshow">
		<img src="//res.darryring.com/webimg/MyDr/xykshow.png" alt="">
	</div>
	<div class="xyuseRule">
		<h3>※ 使用规则 ※</h3>
		<p>1、领取DR心意卡的用户，在有效期内在DR官网购买任一求婚钻戒时，使用此卡后，即可获得DR专属精美礼品一份。</p>
		<p>2、每人仅能领取一次，领取后在“个人中心--我的卡包”查看，使用后概不退还。</p>
		<p>3、仅适用DR官网简体站，此卡自领取之日起，有效期为90天，逾期作废。</p>
		<p>4、DR保证不向第三人或者其他组织泄露您的个人信息。</p>
		<p>5、如有疑问，请联系DR真爱大使：400-01-13520</p>
		<form action="" method="">
			<div class="">
				<span>客户姓名：</span><input type="text" name="username" id="username" placeholder="请输入姓名" autofocus value="FyEMUc" />
			</div>
			<div>
				<span>手机号码：</span><input type="text" name="phonenumber" id="phoneNum" placeholder="请输入手机号" value="15211449258">
			</div>
					</form>
		<div class="get_xyk">
			<a href="javascript:;">立即领取</a>
		</div>
	</div>
	</div>
<!--心意卡弹窗 end-->
<!--心意弹窗关闭按钮-->
<div class="xyclosebtn">
	<img src="/bundles/acmefrontend/img/MyDr/xyclosebtn.png" alt="">
</div>
<!--心意弹窗关闭按钮 end-->
<!--同步绑定关系弹窗提示-->
<div class="drBindTc drBindTc1" style="display: none">
	<div class="bindBox">
		<div class="userbox fix">
			<div class="binduser fl">
				<a href="javascript:;" class="myDRTX ">
					<img src="https://static.darryring.com/comm/defaultAvatar.png" id="bgSurface"/>
				</a>
				<p><a href="javascript:;">FyEMUc</a></p>
			</div>
			<div class="nobinduser fl">
				<img src="http://res.darryring.com/webimg/MyDr/nobinduser.png" alt="">
			</div>
		</div>
		<div class="knowbox" >
			<div class="bind_intro">
				<p class="orange">专属空间伴侣绑定功能升级！</p>
				<p>同步专属空间的绑定关系，账号之间积分和卡券即可互通使用</p>
			</div>
			<a href="javascript:;" class="iknow">知道了</a>
		</div>
		<!--<div class="tapbindbox" style="display: none">-->
			<!--<a href="javascript:;" class="tapbindbtn">同步专属空间绑定关系</a>-->
			<!--<p><a href="javascript:;" class="knowmore">了解详情</a></p>-->
		<!--</div>-->

	</div>
	<span class="close_bind"></span>
</div>
<!--确定同步提醒弹窗-->
<div class="drBindTc drBindTc2" style="display: none">
	<div class="bindBox">
		<div class="logo"><img src="https://res.darryring.com/webimg/MyDr/darryRing1.png" alt=""></div>
		<h3>是否确定同步专属空间绑定关系？</h3>
		<div class="btnbox">
			<a href="javascript:;" class="surebtn">确定同步</a>
			<a href="javascript:;" class="cancelbtn">取消</a>
		</div>
	</div>
	<span class="close_bind"></span>
</div>
<!--同步详情说明弹窗-->
<div class="drBindTc drBindTc3" style="display: none">
	<div class="bindBox">
		<h3>详情说明</h3>
		<p>1、已购买DR求婚钻戒的账号（主账号）将可绑定一个唯一子账号，视为伴侣账号，<br/>
			且双方共用一个用户等级；</p>
		<p>2、主账号和伴侣账号共享积分和卡券，但不能重复领取或使用；</p>
		<p>3、<span class="cRed">伴侣账号不可购买DR求婚钻戒，但可定制任意一款DR真爱礼物；</span></p>
		<p>4、<span class="cRed">主账号与伴侣账号绑定后，任何一方将共享对方的专属空间、DR真爱协议、爱的确认书，<br/>且双方账号及资料一经绑定不可解绑；</span>
		</p>
		<p>5、除以上积分、卡券、用户等级、真爱协议、爱的确认书等，主账号和伴侣账号<br/>
			其他信息<span  class="cRed">（如个人资料、地址管理、订单信息、购物车等）</span>独立。</p>
	</div>
	<span class="close_bind"></span>
</div>
<!--同步成功弹窗-->
<div class="drBindTc drBindTc4" style="display: none">
	<div class="bindBox">
		<div class="logo"><img src="https://res.darryring.com/webimg/MyDr/darryRing1.png" alt=""></div>
		<div class="bingo"><img src="http://res.darryring.com/webimg/MyDr/bingo.png" alt=""></div>
		<h3>同步成功</h3>
	</div>
	<span class="close_bind"></span>
</div>
<!--伴侣绑定成功弹窗-->
<div class="drBindTc drBindTc5" style="display: none">
	<div class="bindBox">
		<div class="logo"><img src="https://res.darryring.com/webimg/MyDr/darryRing1.png" alt=""></div>
		<div class="bingo"><img src="http://res.darryring.com/webimg/MyDr/bingo.png" alt=""></div>
		<h3>伴侣账号已成功绑定</h3>
	</div>
	<span class="close_bind" data-id="0"></span>
</div>

<!--微信分享弹窗-->
<div class="drBindTc drBindTc6" style="display: none">
	<div class="bindBox">
		<h3>微信扫一扫</h3>
		<div class="ewm">
			<img src="https://passport.darryring.com/api/ewm?width=120&url=https://m.darryring.com/account/bindother?id=TVRneU5UQXdNZz09" alt="">
		</div>
		<p class="p1">微信分享步骤</p>
		<p class="p2">1、使用微信扫描此二维码&nbsp;&nbsp;&nbsp;&nbsp;   2、打开页面后，右上角可直接分享啦</p>
	</div>
	<span class="close_bind"></span>
</div>
<!--规则说明弹窗1-->
<div class="drBindTc drBindTc7"style="display: none" >
	<div class="bindBox">
		<h3>规则说明</h3>
		<p>1、已购买DR求婚钻戒的账号（主账号）将可绑定一个唯一子账号，视为伴侣账号，<br/>
			且双方共用一个用户等级；</p>
		<p>2、主账号和伴侣账号共享积分和卡券，但不能重复领取或使用；</p>
		<p>3、<span class="cRed">伴侣账号不可购买DR求婚钻戒，但可定制任意一款DR真爱礼物；</span></p>
		<p>4、<span class="cRed">主账号与伴侣账号绑定后，任何一方将共享对方的专属空间、DR真爱协议、爱的确认书，<br/>且双方账号及资料一经绑定不可解绑；</span>
		</p>
		<p>5、除以上积分、卡券、用户等级、真爱协议、爱的确认书等，主账号和伴侣账号<br/>
			其他信息<span  class="cRed">（如个人资料、地址管理、订单信息、购物车等）</span>独立。</p>
		<div class="BindTc-btn">
			<a href="javascript:;" class="cancelBtn">取消</a>
			<a href="javascript:;" class="continueBtn">了解并继续</a>
		</div>
	</div>s
	<span class="close_bind"></span>
</div>
<!--规则说明弹窗-->
<!--规则说明弹窗2-->
<div class="drBindTc drBindTc8"style="display: none" >
	<div class="bindBox">
		<h3>规则说明</h3>
		<p>1、已购买DR求婚钻戒的账号（主账号）将可绑定一个唯一子账号，视为伴侣账号，<br/>
			且双方共用一个用户等级；</p>
		<p>2、主账号和伴侣账号共享积分和卡券，但不能重复领取或使用；</p>
		<p>3、<span class="cRed">伴侣账号不可购买DR求婚钻戒，但可定制任意一款DR真爱礼物；</span></p>
		<p>4、<span class="cRed">主账号与伴侣账号绑定后，任何一方将共享对方的专属空间、DR真爱协议、爱的确认书，<br/>且双方账号及资料一经绑定不可解绑；</span>
		</p>
		<p>5、除以上积分、卡券、用户等级、真爱协议、爱的确认书等，主账号和伴侣账号<br/>
			其他信息<span  class="cRed">（如个人资料、地址管理、订单信息、购物车等）</span>独立。</p>
		<div class="BindTc-btn">
			<a href="javascript:;" class="cancelBtn">取消</a>
			<a href="javascript:;" class="continueBtn">了解并继续</a>
		</div>
	</div>s
	<span class="close_bind"></span>
</div>
<!--规则说明弹窗-->

<input type="hidden" id="xykType" value=-1></input>

</div>
<!--粉色底end-->
<!--底部-->
<div class="dr_footer">
	<div class="dr_footer-top"></div>
	<!--底部图标-->
	<ul class="dr_footer-icon w1000">
		<li>
			<a href="/help/28">
				<i class="footer-icon1"></i>
				<span>专业认证</span>
			</a>
		</li>
		<li>
			<a href="/help/42">
				<i class="footer-icon2"></i>
				<span>一钻双证</span>
			</a>
		</li>
		<li>
			<a href="/help/41">
				<i class="footer-icon3"></i>
				<span>终生保养</span>
			</a>
		</li>
		<li>
			<a href="/help/43">
				<i class="footer-icon4"></i>
				<span>以小换大</span>
			</a>
		</li>
		<li>
			<a href="/help/45">
				<i class="footer-icon5"></i>
				<span>15天退换</span>
			</a>
		</li>
		<li>
			<a href="/help/36">
				<i class="footer-icon6"></i>
				<span>全国免运费</span>
			</a>
		</li>
		<li>
			<a href="/help/44">
				<i class="footer-icon7"></i>
				<span>全程保险</span>
			</a>
		</li>
	</ul>
	<!--底部图标end-->
	<!--灰色区域end-->
	<!--黑色区域-->
	<div class="dr_tint">
		<div class="w1000">
			<!--服务-->
			<ul class="dr_servie">
				<li>
					<h4>关于我们</h4>
					<a href="/help/28">权威认证</a>
					<a href="/help/30">合作专区</a>
					<a href="/help/148">公司简介</a>
				</li>
				<li>
					<h4>购物指南</h4>
					<a href="/help/34">购买流程</a>
					<a href="/help/27">支付方式</a>
					<a href="/help/36">配送流程</a>
				</li>
				<li>
					<h4>售后服务</h4>
					<a href="/help/37">退货流程</a>
					<a href="/help/38">办理售后</a>
					<a href="/help/45">15天退换</a>
				</li>
				<li>
					<h4>帮助中心</h4>
					<a href="/help/33">注册流程</a>
					<a class="droline_showkf" href="javascript:;">联系客服</a>
					<a href="/drmap">网站地图</a>
				</li>
				<li>
					<h4>服务条款</h4>
					<a href="/help/41">终生保养</a>
					<a href="/help/46">注册协议</a>
					<a href="/help/47">隐私声明</a>
				</li>
				<li>
					<h4>DR资讯</h4>
					<a href="/news">资讯中心</a>
					<a href="/brand">品牌专题</a>
					<a href="/tags">DR标签</a>
				</li>
			</ul>
			<!--服务end-->
			<!--关注我们-->
			<div class="drfocus">
				<h3>关注我们</h3>
				<p>一个让你相信真爱的地方，给你实用的情感指南，为你的爱情终身服务。</p>
				<a href="javascript:;" class="wechat">
					<img src="//res.darryring.com/webimg/common/gzh_wx.png" />
				</a>
				<a href="https://weibo.com/2249451585/" class="weibo" target="_blank"></a>
			</div>
     	</div>	
		<!--中英文切换，网站声明-->
		<div class="dr_declare fix">
			<div class="w1360">
				<div class="dr_langues fl">
					<span>选择站点</span>
					<p class="dr_langueBtn"><a href="javascript:void(0);">简体</a></p>
					<div class="dr_langueList" id="langueList">
						<a class="active" href="/">简体</a>
						<a href="/hk">繁体</a>
						<a href="/en">English</a>
						<p><label>简体</label></p>
					</div>
					<a href="/help/47">隐私政策</a>
					<a href="/drmap">网站地图</a>
					<a href="/links">友情链接</a>
				</div>
				<div class="dr_decItem fr">
					<a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=44030302000934"><img src="//res.darryring.com/webimg/common/icon_police.png"/>粤公网安备 44030302000934号/</a>
					<span>粤ICP备11012085号-2/Copyright©2006-2018 www.darryring.com 戴瑞珠宝 All Rights Reserved. </span>
					<img src="//pkquutas9.bkt.clouddn.com/kxzd.png" alt="" />
				</div>
			</div>
		</div>


		<!--中英文切换，网站声明end-->
	</div>
	<!--黑色区域end-->
</div>
<!--底部end-->
</body>
</html>