a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    font-style: normal
}

a {
    text-decoration: none
}

input {
    outline: 0
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block
}

body {
    line-height: 1;
    font-family: "microsoft yahei", arial;
    font-size: 14px;
    color: #888;
    background: #fff
}

li, ol, ul {
    list-style: none;
    margin: 0;
    padding: 0
}

blockquote, q {
    quotes: none
}

blockquote:after, blockquote:before, q:after, q:before {
    content: '';
    content: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400
}

i {
    font-style: inherit
}

.fl {
    float: left;
    display: inline
}

.fr {
    float: right;
    display: inline
}

.fix:after {
    content: " ";
    display: block;
    visibility: hidden;
    clear: both;
    height: 0;
    line-height: 0
}

.w1000 {
    width: 1000px;
    margin: 0 auto
}

.w1360 {
    width: 1360px;
    margin: 0 auto
}

.same_mg80 {
    padding-top: 80px
}

.same_mg60 {
    padding-top: 60px
}

.nopadding {
    padding: 0
}

.mar-b20 {
    margin-bottom: 20px
}

.mar-b40 {
    margin-bottom: 40px
}

.mar-r20 {
    margin-right: 20px
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color: #c9c9c9
}

input:-moz-placeholder, textarea:-moz-placeholder {
    color: #c9c9c9
}

input::-moz-placeholder, textarea::-moz-placeholder {
    color: #c9c9c9
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
    color: #c9c9c9
}

.cart_head {
    position: relative;
    height: 81px;
    border-bottom: 1px solid #666
}

.dr_member {
    font-size: 0
}

.dr_member-left, .dr_member-right {
    height: 20px;
    line-height: 20px
}

.dr_member img {
    vertical-align: middle
}

.cart_head .dr_logo {
    position: absolute;
    left: 12px;
    top: 13px;
    margin: 0
}

.cart_head .dr_logo img {
    width: 70px
}

.cart_head .dr_member-left a, .cart_head .dr_member-left i {
    font-size: 12px;
    color: #8d8d8d;
    background: 0 0;
    padding: 0 14px
}

.cart_head .drmember_sec {
    margin-top: 30px
}

.cart_head .dr_member-left .drtojoin {
    display: inline-block;
    background: #8b766c;
    color: #fff
}

a.help-right {
    padding-left: 4px;
    padding-right: 0;
    background: 0 0
}

.help-right span {
    display: inline-block;
    width: 10px;
    height: 10px;
    background: url(//res.darryring.com/webimg/common/bread_right.png) right center no-repeat !important;
    opacity: .6;
    filter: alpha(opacity=60)
}

.dr_banner {
    height: 565px;
    position: relative
}

.dr_bannerul {
    position: relative;
    width: 100%;
    margin: 0 auto
}

.dr_bannerul li {
    position: absolute;
    top: 0;
    width: 100%;
    overflow: hidden;
    display: none
}

.dr_bannerul img {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -960px
}

.dr_bannerul li:first-child {
    display: block
}

.dr_bannerul a {
    display: block;
    height: 565px
}

.drbanner_btn {
    position: absolute;
    bottom: 10px;
    left: 50%;
    width: 840px;
    margin-left: -420px;
    text-align: right;
    z-index: 2
}

.drbanner_btn a {
    display: inline-block;
    width: 28px;
    height: 28px;
    background: url(//res.darryring.com/webimg/passport/ico-jt.png) no-repeat
}

.drbanner_btn a.bannerPrev {
    background-position: 1px 1px
}

.drbanner_btn a.bannerNext {
    background-position: -35px 1px
}

.drbanner_btn a.bannerPrev:hover {
    background-position: 1px -34px
}

.drbanner_btn a.bannerNext:hover {
    background-position: -35px -34px
}

.dr_footer {
    position: relative;
    padding-top: 76px;
    background-color: #fff
}

.dr_footer-top {
    background: url(//res.darryring.com/webimg/common/footer_rp.png) repeat-x;
    height: 16px
}

.dr_footer-icon {
    overflow: hidden;
    padding: 30px 0
}

.dr_footer-icon li {
    float: left;
    width: 80px;
    text-align: center;
    margin: 0 31px
}

.dr_footer-icon a, .dr_footer-icon span {
    display: inline-block;
    color: #666;
    font-size: 14px;
    text-align: center
}

.dr_footer-icon span {
    margin-top: 16px
}

.dr_footer-icon i {
    display: inline-block;
    width: 60px;
    height: 60px;
    background-image: url(//res.darryring.com/webimg/common/icon_footer.png);
    background-repeat: no-repeat
}

.footer-icon1 {
    background-position: 0 0
}

.footer-icon1:hover {
    background-position: 0 -60px
}

.footer-icon2 {
    background-position: -60px 0
}

.footer-icon2:hover {
    background-position: -60px -60px
}

.footer-icon3 {
    background-position: -120px 0
}

.footer-icon3:hover {
    background-position: -120px -60px
}

.footer-icon4 {
    background-position: -180px 0
}

.footer-icon4:hover {
    background-position: -180px -60px
}

.footer-icon5 {
    background-position: -240px 0
}

.footer-icon5:hover {
    background-position: -240px -60px
}

.footer-icon6 {
    background-position: -300px 0
}

.footer-icon6:hover {
    background-position: -300px -60px
}

.footer-icon7 {
    background-position: -360px 0
}

.footer-icon7:hover {
    background-position: -360px -60px
}

.dr_tint {
    background: #f8f8f8;
    padding-top: 56px
}

.dr_tint .w1000 {
    padding-bottom: 50px
}

.dr_servie {
    overflow: hidden;
    font-size: 12px;
    line-height: 22px
}

.dr_servie li {
    float: left;
    border-left: 2px solid #dbdbdb;
    padding: 6px 50px
}

.dr_servie li:first-child {
    border: none;
    margin-left: 20px
}

.dr_servie h4 {
    font-weight: 700;
    color: #666;
    font-size: 14px
}

.dr_servie a {
    color: #666;
    display: block
}

.drfocus {
    text-align: center;
    font-size: 0;
    margin-top: 28px
}

.drfocus h3 {
    font-size: 14px;
    margin-bottom: 18px;
    font-weight: 700;
    color: #666
}

.drfocus p {
    font-size: 12px;
    margin-bottom: 18px;
    color: #666
}

.drfocus a {
    display: inline-block;
    background: url(//res.darryring.com/webimg/common/share_focus.png);
    width: 44px;
    height: 44px;
    margin: 0 15px
}

.drfocus .wechat {
    position: relative;
    background-position: 0 0
}

.drfocus .wechat img {
    display: none;
    position: absolute;
    left: -144px;
    top: -46px
}

.drfocus .wechat:hover {
    background-position: 0 -53px
}

.drfocus .wechat:hover img {
    display: block
}

.drfocus .weibo {
    background-position: -44px 0
}

.drfocus .weibo:hover {
    background-position: -44px -53px
}

.drfocus .twiter {
    background-position: -88px 0
}

.drfocus .twiter:hover {
    background-position: -88px -53px
}

.drfocus .facebook {
    background-position: -132px 0
}

.drfocus .facebook:hover {
    background-position: -132px -53px
}

.dr_langues {
    position: relative;
    font-size: 0;
    height: 70px;
    margin-left: 50px
}

.dr_langues a {
    margin-right: 14px
}

.dr_langues span {
    color: #efefef
}

.dr_declare .dr_langues a {
    color: #c5c5c5
}

.dr_langueBtn {
    display: inline-block;
    width: 100px;
    height: 44px;
    text-align: center;
    line-height: 44px
}

.dr_langueBtn a {
    display: inline-block;
    padding-right: 22px;
    background: url(//res.darryring.com/webimg/common/icon_up1.png) no-repeat right center
}

.dr_langueList {
    display: none;
    position: absolute;
    bottom: 13px;
    left: 54px;
    width: 100px;
    padding-top: 6px;
    line-height: 32px;
    background: #333
}

.dr_declare .dr_langueList a {
    display: inline-block;
    width: 70px;
    height: 32px;
    padding-left: 30px;
    color: #fff;
    font-size: 12px;
    line-height: 32px;
    margin: 0
}

.dr_langueList a.active {
    background: url(//res.darryring.com/webimg/common/icon-right1.png) no-repeat 10px center
}

.dr_langueList p {
    height: 44px;
    text-align: center;
    margin-top: 4px;
    line-height: 44px
}

.dr_langueList p label {
    background: url(//res.darryring.com/webimg/common/icon_down1.png) no-repeat right center;
    color: #fff;
    font-size: 12px;
    padding-right: 22px
}

.dr_declare {
    height: 70px;
    background: #868686;
    font-family: SimSun;
    line-height: 70px
}

.dr_declare a, .dr_declare span {
    font-size: 12px;
    color: #ddd
}

.dr_decItem {
    font-size: 0;
    height: 70px;
    margin-right: 50px
}

.dr_decItem a, .dr_decItem span {
    vertical-align: middle
}

.dr_decItem a img {
    width: auto;
    margin-right: 6px;
    margin-bottom: 4px
}

.dr_decItem img {
    width: 68px;
    vertical-align: middle;
    margin-left: 8px
}

.dr_quickservice {
    display: none;
    position: fixed;
    right: 30px;
    bottom: 0;
    background: #dbc7ba;
    width: 50px;
    text-align: center;
    z-index: 3
}

.droline_kf {
    background: #d9b39b;
    width: 58px;
    position: relative;
    top: -34px;
    left: -4px;
    font-size: 12px;
    color: #fff;
    line-height: 16px;
    padding-bottom: 14px;
    cursor: pointer
}

.droline_kf span {
    display: block
}

.dr_quickservice .dr_quick1 {
    background-position: 0 0;
    width: 30px;
    height: 26px;
    margin-top: 0;
    margin-bottom: 4px
}

.droline_yleft, .droline_yright {
    position: absolute;
    display: block;
    width: 4px;
    height: 4px;
    bottom: -4px
}

.droline_yleft {
    background: url(//res.darryring.com/webimg/passport/icon_yleft.png) no-repeat;
    left: 0
}

.droline_yright {
    background: url(//res.darryring.com/webimg/passport/icon_yright.png) no-repeat;
    right: 0
}

.droline_kf:hover {
    background: #cea88f
}

.dr_quick-cort {
    position: relative;
    height: 50px;
    line-height: 50px;
    margin: 17px 0;
    z-index: 1
}

.dr_quick-word {
    display: none;
    position: absolute;
    width: 4em;
    height: 50px;
    background: #fff;
    padding: 0 10px;
    color: #bc9e8a;
    font-size: 12px;
    top: 0;
    right: 0;
    z-index: -1;
    opacity: 0;
    filter: alpha(opacity=0)
}

.dr_quick-word.em3 {
    width: 3em
}

.dr_quickcort-hover {
    background: #fff
}

.dr_quick-ewm {
    width: 100px;
    height: 100px;
    padding: 10px
}

.dr_quickservice a {
    display: inline-block;
    background-image: url(//res.darryring.com/webimg/passport/icon_servie.png);
    background-repeat: no-repeat;
    margin: 0 auto;
    margin-top: 10px
}

.dr_quickservice .dr_quick2 {
    background-position: 0 -33px;
    width: 30px;
    height: 29px
}

.dr_quickcort-hover .dr_quick2 {
    background-position: -41px -33px
}

.dr_quick3 {
    background-position: -3px -74px;
    width: 24px;
    height: 30px
}

.dr_quickcort-hover .dr_quick3 {
    background-position: -44px -74px
}

.dr_quick4 {
    background-position: 0 -120px;
    width: 30px;
    height: 27px
}

.dr_quickcort-hover .dr_quick4 {
    background-position: -41px -120px
}

.dr_quick5 {
    background-position: -2px -159px;
    width: 26px;
    height: 29px
}

.dr_quickcort-hover .dr_quick5 {
    background-position: -43px -159px
}

.dr_quick6 {
    background-position: -6px -199px;
    width: 18px;
    height: 30px
}

.dr_quickcort-hover .dr_quick6 {
    background-position: -47px -199px
}

.dr_quick7 {
    background-position: -3px -239px;
    width: 24px;
    height: 30px
}

.dr_quickcort-hover .dr_quick7 {
    background-position: -44px -239px
}

.dr_quickservice a.dr_totop {
    background: url(//res.darryring.com/webimg/passport/totop.jpg) no-repeat;
    width: 50px;
    height: 50px;
    margin-top: 0
}

.dr_quickcort-hover a.dr_totop {
    background-position: -50px 0
}

.comShare {
    width: 230px;
    font-size: 0
}

.comShare a {
    display: inline-block;
    width: 26px;
    height: 26px;
    background: url(//res.darryring.com/webimg/passport/ico-shares.png) no-repeat;
    margin-top: 12px;
    margin-left: 5px
}

.comShare a.shareWeibo {
    background-position: 0 0
}

.comShare a.shareWeibo:hover {
    background-position: 0 -68px
}

.comShare a.shareQzone {
    background-position: -31px 0
}

.comShare a.shareQzone:hover {
    background-position: -31px -68px
}

.comShare a.shareQweibo {
    background-position: -62px 0
}

.comShare a.shareQweibo:hover {
    background-position: -62px -68px
}

.comShare a.shareRenren {
    background-position: -93px 0
}

.comShare a.shareRenren:hover {
    background-position: -93px -68px
}

.comShare a.shareDouban {
    background-position: 0 -34px
}

.comShare a.shareDouban:hover {
    background-position: 0 -102px
}

.comShare a.shareFacebook {
    background-position: -31px -34px
}

.comShare a.shareFacebook:hover {
    background-position: -31px -102px
}

.comShare a.shareTeitter {
    background-position: -62px -34px
}

.comShare a.shareTeitter:hover {
    background-position: -62px -102px
}

.dr_passprt {
    position: absolute;
    top: 40px;
    left: 50%;
    margin-left: 110px;
    width: 310px;
    height: 380px;
    border-radius: 3px;
    border: 1px solid #e4e6e8;
    background: #fff;
    overflow: hidden;
    z-index: 1
}

.dr_passprt-h {
    height: auto;
    padding-bottom: 10px
}

.dr_passprt-c {
    height: 406px
}

.dr_form {
    width: 254px;
    margin: 0 auto
}

.dr_formTabTitle li {
    width: 49%;
    height: 46px;
    font-family: simsun;
    text-align: center;
    line-height: 46px;
    cursor: pointer
}

.dr_formTabTitle li.dr_formTableft {
    margin: 0px auto;

}

.dr_formTabTitle li.dr_formTableft {
    color: #493428;
    background: #fff;
    font-weight: 700;
}

.changeLeft{
    color: #626262;
    border-right: 1px solid #d2d5d7;
    border-bottom: 1px solid #d2d5d7;
}
.changeRight{
    color: #493428;
    border-left: 1px solid #d2d5d7;
    border-bottom: 1px solid #d2d5d7;
}

.dr_formTabMain .dr_formTabCon {
    display: none;
    padding-top: 10px
}

.dr_minAction {
    height: 136px;
    overflow: hidden
}

.dr_passprt h3 {
    height: 38px;
    font-size: 18px;
    color: #9b745c;
    font-family: "microsoft yahei";
    text-align: center;
    line-height: 38px;
    margin-top: 14px
}

.dr_passprt input.ipTxt {
    display: block;
    width: 249px;
    height: 41px;
    border: 1px solid #e6e6e6;
    border-radius: 4px;
    margin-top: 12px;
    color: #666;
    line-height: 38px;
    padding-left: 38px
}
.dr_passprt input.ipTxt2 {
    display: block;
    width: 210px;
    height: 41px;
    border: 1px solid #e6e6e6;
    border-radius: 4px;
    margin-top: 12px;
    color: #666;
    line-height: 38px;
    padding-left: 38px
}


.dr_passprt input.ipTxt.error {
    border: 1px solid #ff7373
}
.dr_passprt input.ipTxt2.error {
    border: 1px solid #ff7373
}

.dr_passprt input.ipTxt.inputCode {
    float: left;
    width: 130px
}
.dr_passprt input.ipTxt2.inputCode {
    float: left;
    width: 90px
}

.dr_passprt input.ico-user {
    background: url(//res.darryring.com/webimg/passport/ico-uinput.png) no-repeat 12px 12px
}

.dr_passprt input.ico-pwd {
    background: url(//res.darryring.com/webimg/passport/ico-uinput.png) no-repeat 12px -24px
}

.dr_passprt input.ico-phone {
    background: url(//res.darryring.com/webimg/passport/ico-uinput.png) no-repeat 14px -60px
}

.dr_passprt input.ico-send {
    background: url(//res.darryring.com/webimg/passport/ico-uinput.png) no-repeat 11px -96px
}

.dr_passprt input.ico-email {
    background: url(//res.darryring.com/webimg/passport/ico-uinput.png) no-repeat 12px -132px
}

.dr_actionPwd {
    margin-top: 8px;
    color: #888;
    font-size: 12px;
    line-height: 12px
}

.dr_actionPwd input {
    vertical-align: middle;
    margin: 0;
    margin-right: 4px
}

.dr_actionPwd a {
    color: #888
}

.dr_actionPwd a:hover {
    color: #c57d5c
}

.dr_Btns {
    width: 254px;
    margin: 8px auto;
}

.dr_Btns a, .dr_Btns input {
    display: inline-block;
    width: 246px;
    height: 38px;
    margin-top: 10px;
    line-height: 38px;
    text-align: center;
    cursor: pointer
}

.dr_Btns .defaultBtn {
    border: 1px solid #8b766c;
    color: #8b766c;
    background: #FAFAFA;
}

.dr_Btns .defaultBtn:hover {
    border: 1px solid #a88f82;
    color: #fff;
    background: #a88f82
}

.dr_Btns .colorBtn {
    border: 1px solid #8b766c;
    background: #8b766c;
    color: #fff
}

.dr_Btns .colorBtn:hover {
    border: 1px solid #a88f82;
    background: #a88f82
}

.getCodeBtn {
    float: right;
    width: 115px;
    height: 40px;
    margin: 12px 5px 0 0;
    border: 1px;
    border-radius: 5px;
    color: #9b745c;
    text-align: center;
    font-size: 12px;
    line-height: 40px;
    background-color:white;
}

.getCodeBtn:hover {
    background-position: 0 -40px;
    background-color:#CCCCCC;
    color:#8f7e74
}

.getCodeBtn.sending {
    background-position: 0 -80px;
    color: #999
}

.getCodeBtn.sending:hover {
    background-position: 0 -80px;
    color: #999
}

.msg_tip {
    font: 12px/12px simsun;
    margin-top: 10px;
    color: #666;
    text-align: center
}

.msg_tip a {
    color: #c57d5c !important
}

.dr_otherLogin {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 45px;
    background: #fefefe;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    text-align: center
}

.dr_otherLogin h4 {
    position: absolute;
    top: -7px;
    left: 0;
    width: 100%;
    color: #9b745c;
    font-size: 12px;
    text-align: center;
    background: url(//res.darryring.com/webimg/passport/otherLoginHr.png) no-repeat center center
}

.dr_otherLogin a {
    display: inline-block;
    width: 21px;
    height: 16px;
    margin: 18px 8px 0;
    background: url(//res.darryring.com/webimg/passport/ico-otherLogin.png) no-repeat
}

.regOtherLogin {
    float: left;
    padding: 0;
    margin: 0;
    display: inline-block;
    text-align: left;
    font-size: 0
}

.regOtherLogin a {
    display: inline-block;
    width: 21px;
    height: 16px;
    margin-left: 16px;
    background: url(//res.darryring.com/webimg/passport/ico-otherLogin.png) no-repeat
}

.regOtherLogin a:first-child {
    margin-left: 0
}

.dr_otherLogin a.qqdl, .regOtherLogin a.qqdl {
    background-position: 0 0
}

.dr_otherLogin a.qqdl:hover, .regOtherLogin a.qqdl:hover {
    background-position: 0 -27px
}

.dr_otherLogin a.wxdl, .regOtherLogin a.wxdl {
    background-position: -42px 0
}

.dr_otherLogin a.wxdl:hover, .regOtherLogin a.wxdl:hover {
    background-position: -42px -27px
}

.dr_otherLogin a.wbdl, .regOtherLogin a.wbdl {
    background-position: -87px 0
}

.dr_otherLogin a.wbdl:hover, .regOtherLogin a.wbdl:hover {
    background-position: -87px -27px
}

.dr_otherLogin a.zfbdl, .regOtherLogin a.zfbdl {
    background-position: -130px 0
}

.dr_otherLogin a.zfbdl:hover, .regOtherLogin a.zfbdl:hover {
    background-position: -130px -27px
}

.checkTerms {
    margin-top: 10px;
    font-size: 12px
}

.checkTerms input {
    vertical-align: middle;
    margin: 0;
    margin-right: 4px
}

.checkTerms a {
    color: #9b745c
}

.checkTerms a:hover {
    color: #9b745c
}

.errorMsg {
    display:none;
    border: 1px solid #ff7373;
    background: #fff2f2 url(//res.darryring.com/webimg/passport/ico-error.png) no-repeat 4px center;
    padding: 4px 0 4px 25px;
    color: #666;
    font-size: 12px;
    line-height: 16px;
    margin-bottom: -10px
}

.errorMsg a {
    color: #c57d5c
}

.warnMsg {
    background: #fff8ed;
    border: 1px solid #febe77;
    text-indent: 8px;
    padding-left: 0
}

.higheVssel {
    height: 282px;
    overflow: hidden;
    font-size: 12px
}

.findVssel {
    height: 240px;
    overflow: hidden
}

.findVssel .getCodeBtn {
    margin-bottom: 20px
}

.loginLink {
    margin-top: 12px;
    text-align: right;
    font-size: 12px
}

.loginLink a {
    color: #999
}

.loginLink a:hover {
    color: #8b766c
}

.lowVssel {
    height: 146px
}

.yxCode {
    margin-top: 20px
}

.emailFind {
    height: 140px
}

.dr-result {
    padding-top: 87px;
    text-align: center
}

.dr-result h4, .dr-result h5 {
    line-height: 30px;
    color: #9b745c;
    font-size: 18px;
    font-family: "microsoft yahei"
}

.dr-result h5 {
    font-size: 14px
}

.dr-result p {
    height: 54px;
    line-height: 54px;
    margin-bottom: 12px;
    text-align: center;
    color: #999
}

.dr-result p i {
    color: #ff6262
}

.smallBtns {
    text-align: center
}

.smallBtn {
    display: inline-block;
    width: 68px;
    height: 24px;
    border: 1px solid #8b766c;
    background: #8b766c;
    font-size: 12px;
    color: #fff;
    text-align: center;
    line-height: 24px;
    margin: 0 20px
}

.smallBtn:hover {
    border: 1px solid #a88f82;
    background: #a88f82;
    color: #fff
}

.smallLink {
    display: inline-block;
    margin-top: 10px;
    color: #8b766c;
    font-size: 12px
}

.smallLink:hover {
    color: #8b766c
}

.dr_winConent {
    height: 206px;
    background: #fafafa;
    margin: 40px auto;
    padding-top: 70px;
    border: 1px solid #f1f1f1;
    text-align: center
}

.dr_winConent h3 {
    height: 30px;
    line-height: 30px;
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 700;
    color: #493428
}

.dr_winConent h3 i {
    display: inline-block;
    width: 31px;
    height: 28px;
    margin-right: 10px;
    background: url(//res.darryring.com/webimg/passport/ico-win.png) no-repeat;
    vertical-align: middle
}

.dr_winAdv {
    margin-bottom: 60px
}

.dr_winAdv ul li {
    display: inline-block;
    margin-left: 100px;
    float: left;
    text-align: center
}

.dr_winAdv ul li a {
    position: relative;
    display: block
}

.dr_winAdv li div.mbc {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    opacity: .5;
    filter: Alpha(Opacity=50)
}

.dr_winAdv ul li:hover div.mbc {
    display: block
}

.dr_winAdv li p {
    font-size: 18px;
    color: #000;
    margin-top: 15px
}

.dr_winInfo p {
    font-size: 12px;
    line-height: 24px
}

.dr_winInfo p a, .dr_winInfo p span {
    color: #9b745c
}

.dr_winInfo p a:hover {
    color: #9b745c
}

.drbanner_xdcort {
    text-align: center;
    clear: both;
    position: absolute;
    width: 100%;
    bottom: 20px
}

.drbanner_xd {
    display: inline-block;
    height: 32px
}

.drbanner_xd li {
    width: 36px;
    height: 32px;
    float: left;
    background: url(//res.darryring.com/webimg/passport/line.png) no-repeat center;
    text-align: left
}

.drbanner_xd .nobg {
    width: 5px;
    background: url(//res.darryring.com/webimg/passport/right_d.png) no-repeat left center
}

.drbanner_xd li.drbanner_click span {
    display: inline-block;
    background: url(//res.darryring.com/webimg/passport/bd.png) no-repeat;
    width: 30px;
    height: 30px;
    margin: 1px 0 0 -12px
}

.dr_sametcborder {
    width: 486px;
    padding-bottom: 14px;
    position: relative;
    margin: 0 auto
}

.tcsame_check {
    text-align: left;
    margin: 10px 0;
    font-size: 0;
    line-height: 20px
}

.tcsame_check a, .tcsame_check input, .tcsame_check label {
    vertical-align: middle;
    font-size: 12px;
    color: #888
}

.dr_samezd {
    text-align: center;
    width: 260px;
    margin: 0 auto;
    padding-top: 22px;
    display: none
}

.dr_samezd h3 {
    font-family: "microsoft yahei";
    font-size: 18px;
    color: #9b745c
}

.dr_samezd .smtxt {
    border: 1px solid #e6e6e6;
    border-radius: 3px;
    font-size: 14px;
    width: 100%;
    margin-top: 16px;
    padding: 8px 0;
    text-indent: 3em;
    display: block
}

.tcsame_button {
    font-family: "microsoft yahei"
}

.tcsame_button a {
    display: block;
    width: 100%;
    border-radius: 3px;
    font-size: 14px;
    text-align: center;
    margin-bottom: 10px
}

.Button_dl {
    background: #fff;
    border: 1px solid #8b766c;
    color: #8b766c;
    height: 36px;
    line-height: 36px
}

.Button_dl:hover {
    border: 1px solid #a88f82;
    background: #a88f82;
    color: #fff
}

.Button_join {
    background: #8b766c;
    border: 1px solid #8b766c;
    height: 38px;
    line-height: 38px;
    color: #fff
}

.Button_join:hover {
    border: 1px solid #a88f82;
    background: #a88f82
}

.tcsame_third {
    font-size: 0;
    text-align: left
}

.tcsame_third span {
    font-size: 12px;
    color: #9b745c;
    vertical-align: middle
}

.tcsame_third a {
    background-image: url(//res.darryring.com/webimg/passport/popup/ico-otherLogin.png);
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: middle;
    margin-left: 24px
}

.third_qq {
    width: 16px;
    height: 15px;
    background-position: 0 -1px
}

.third_qq:hover {
    background-position: 0 -28px
}

.third_wx {
    width: 21px;
    height: 16px;
    background-position: -42px -1px
}

.third_wx:hover {
    background-position: -42px -28px
}

.third_wb {
    width: 19px;
    height: 16px;
    background-position: -87px -1px
}

.third_wb:hover {
    background-position: -87px -28px
}

.third_zfb {
    width: 20px;
    height: 16px;
    background-position: -130px -1px
}

.third_zfb:hover {
    background-position: -130px -28px
}

.loginphone {
    background: url(//res.darryring.com/webimg/passport/popup/icon_mb.png) no-repeat 12px -62px
}

.Verificacode {
    text-align: left;
    margin-top: 16px
}

.dr_samezd .loginYzm {
    width: 140px;
    background: url(//res.darryring.com/webimg/passport/popup/icon_mb.png) no-repeat 12px -96px;
    margin: 0
}

.Verificacode span {
    background: #fdfdfd;
    border: 1px solid #e4e4e4;
    display: inline-block;
    width: 104px;
    height: 32px;
    line-height: 32px;
    border-radius: 3px;
    font-size: 12px;
    color: #9b745c;
    text-align: center;
    cursor: pointer
}

.Verificacode .sending {
    background: #f4f4f4;
    color: #999
}

.tchref_color span {
    vertical-align: middle;
    font-size: 12px;
    color: #999
}

.tchref_color a {
    color: #9b745c;
    vertical-align: top
}

.dr_Registered p {
    margin-bottom: 6px
}

.dr_Registered p a {
    font-size: 12px;
    color: #999
}

.dr_Thelogin {
    display: block
}

.loginUser {
    background: url(//res.darryring.com/webimg/passport/popup/icon_mb.png) no-repeat 12px 8px
}

.loginPassword {
    background: url(//res.darryring.com/webimg/passport/popup/icon_mb.png) no-repeat 12px -26px
}

.theSame_wrong {
    background: #fff2f2;
    border: 1px solid #ff7373;
    padding: 4px 0;
    font-size: 12px;
    color: #666;
    margin-top: 10px;
    text-align: left;
    display: none
}

.theSame_wrong span {
    display: inline-block;
    height: 15px;
    line-height: 15px;
    background: url(//res.darryring.com/webimg/passport/popup/wrong.png) no-repeat left center;
    padding-left: 22px;
    margin-left: 4px
}

.thejt_sucess {
    border: 1px solid #febe77;
    background: #fff8ed
}

.thejt_sucess span {
    background: 0 0;
    padding-left: 6px
}

.password_dl {
    display: none
}

.actionwd_same {
    font-size: 12px;
    color: #000;
    text-align: center;
    margin-top: 8px
}

.actionwd_same a {
    color: #9b745c !important;
    text-decoration: underline
}

.dr_passprtFirst .errorMsg {
    width: 228px;
    margin-bottom: -10px;
    margin-left: 28px
}

.dr_Thelogin .actionwd_same {
    margin: 10px auto
}

.dr_passprt .warnMsg {
    width: 248px
}

.icon-douban {
    background-image: url(//res.darryring.com/webimg/passport/popup/sprite.png);
    background-position: 0 0;
    width: 26px;
    height: 26px
}

.icon-doubanH {
    background-image: url(//res.darryring.com/webimg/passport/popup/sprite.png);
    background-position: -36px 0;
    width: 26px;
    height: 26px
}

.icon-renren {
    background-image: url(//res.darryring.com/webimg/passport/popup/sprite.png);
    background-position: 0 -36px;
    width: 26px;
    height: 26px
}

.icon-renrenH {
    background-image: url(//res.darryring.com/webimg/passport/popup/sprite.png);
    background-position: -36px -36px;
    width: 26px;
    height: 26px
}

.icon-sina {
    background-image: url(//res.darryring.com/webimg/passport/popup/sprite.png);
    background-position: -72px 0;
    width: 26px;
    height: 26px
}

.icon-sinaH {
    background-image: url(//res.darryring.com/webimg/passport/popup/sprite.png);
    background-position: -72px -36px;
    width: 26px;
    height: 26px
}

.icon-weibo {
    background-image: url(//res.darryring.com/webimg/passport/popup/sprite.png);
    background-position: 0 -72px;
    width: 26px;
    height: 26px
}

.icon-weiboH {
    background-image: url(//res.darryring.com/webimg/passport/popup/sprite.png);
    background-position: -36px -72px;
    width: 26px;
    height: 26px
}

.icon-zone {
    background-image: url(//res.darryring.com/webimg/passport/popup/sprite.png);
    background-position: -72px -72px;
    width: 26px;
    height: 26px
}

.icon-zoneH {
    background-image: url(//res.darryring.com/webimg/passport/popup/sprite.png);
    background-position: -108px 0;
    width: 26px;
    height: 26px
}

.icons {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    zoom: 1
}

.icon-ico_win {
    width: 31px;
    height: 28px;
    background: url(//res.darryring.com/webimg/passport/ico-win.png) no-repeat
}

.icon-dr {
    width: 28px;
    height: 30px;
    background: url(//res.darryring.com/webimg/passport/icon_dr.png) no-repeat
}

.main {
    margin: 0 auto;
    width: 1000px
}

.crumbs-top {
    height: 40px;
    line-height: 40px;
    padding: 25px
}

.crumbs-top .a01 {
    color: #666;
    font-size: 16px
}

.registerSuccess-part {
    margin-bottom: 40px;
    padding: 85px 40px;
    background: #fafafa;
    text-align: center
}

.registerSuccess-part .p01, .registerSuccess-part .p02 {
    line-height: 36px;
    padding: 10px 0
}

.registerSuccess-part .p01 {
    font-size: 28px;
    color: #666
}

.registerSuccess-part .p02 {
    font-size: 18px;
    color: #8d8e93
}

.registerSuccess-part .size01 {
    font-size: 24px
}

.registerSuccess-part .c01 {
    color: #c67c59
}

.registerSuccess-part .icons {
    margin-right: 16px
}

.registerSuccess-part .icon-dr {
    top: -7px
}

.drIntro .ht {
    position: relative;
    height: 86px;
    border: 1px solid #f1f1f1
}

.drIntro .ht h1 {
    line-height: 86px;
    text-align: center;
    color: #333;
    font-size: 32px
}

.drIntro .share-part {
    position: absolute;
    top: 30px;
    right: 30px;
    height: 26px;
    overflow: hidden
}

.drIntro .share-part .tit {
    float: left;
    display: inline-block;
    line-height: 26px;
    color: #666;
    font-size: 14px;
    vertical-align: middle
}

.drIntro .share-part .share-box {
    float: left;
    display: inline-block;
    vertical-align: middle
}

.drIntro .share-box a {
    display: inline-block;
    width: 26px;
    height: 26px;
    overflow: hidden
}

.drIntro .share-box a .ic {
    display: block
}

.drIntro .share-box a .icH {
    display: none
}

.drIntro .share-box a:hover .ic {
    display: none
}

.drIntro .share-box a:hover .icH {
    display: block
}

.drIntro .btn01, .exploreDr .btn01 {
    display: inline-block;
    width: 128px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    color: #c67c59;
    font-size: 14px;
    border: 1px solid #c67c59;
    overflow: hidden
}

.ad-box img {
    width: auto;
    max-width: 100%
}

.part01-box {
    float: left;
    width: 480px;
    height: 580px;
    padding: 0 5px;
    text-align: center;
    background: #fafafa
}

.part01-box .p01, .part01-box .p02 {
    line-height: 38px;
    color: #666;
    font-size: 18px;
    overflow: hidden
}

.part01-box .p01 {
    height: 114px;
    padding: 30px 0 10px
}

.part01-box .p02 {
    height: 38px;
    padding: 10px 0;
    color: #333
}

.part01-box .lg {
    color: #003;
    font-size: 24px
}

.part01-box .img-box {
    height: 300px
}

.part01-box .img-box a {
    display: block;
    height: 100%
}

.part01-box .img-box img {
    width: 100%;
    height: 100%
}

.exploreDr {
    margin-bottom: 45px;
    padding: 0 10px;
    border: 1px solid #f1f1f1
}

.exploreDr .ht {
    padding: 32px 0 30px;
    text-align: center
}

.exploreDr h1 {
    color: #333;
    font-size: 24px
}

.exploreDr .hr {
    margin: 10px auto;
    width: 50px;
    height: 3px;
    line-height: 0;
    font-size: 0;
    background: #666
}

.exploreDr p {
    margin-bottom: 30px;
    color: #666;
    font-size: 16px
}

.part02-box {
    float: left;
    width: 480px;
    height: 450px;
    text-align: center;
    background: #fafafa;
    border-bottom: 2px solid #e9e9e9
}

.part02-box.mar-r18 {
    margin-right: 18px
}

.part02-box h1 {
    padding: 30px 0 10px
}

.part02-box p {
    padding: 10px 0
}

.part02-box .img-box {
    height: 300px
}

.part02-box .img-box a {
    display: block;
    height: 100%
}

.part02-box .img-box img {
    width: 100%;
    height: 100%
}

.dr-stBanner {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 565px;
    overflow: hidden
}

.dr-stBanner .img01 {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0
}

.login-wrap {
    position: absolute;
    z-index: 1;
    top: 54px;
    right: 106px;
    width: 312px;
    box-shadow: 0 0 8px #ccc
}

.login-box {
    position: relative;
    z-index: 2;
    top: 0;
    left: 0;
    width: 312px;
    height: 382px;
    margin-left: 0;
    background: 0 0;
    border: 0
}

.login-box.dr_passprt-h {
    height: auto
}

.login-box.dr_passprt input.ipTxt {
    background-color: #fff
}
.login-box.dr_passprt input.ipTxt2 {
    background-color: #fff
}

.login-box .dr_formTabTitle li.dr_formTableft.activite {
    border-right: 0;
    border-bottom: 0;
    background: 0 0
}

.login-box .dr_formTabTitle li.dr_formTabright.activite {
    border-left: 0;
    border-bottom: 0;
    background: 0 0
}

.login-box .yxCode {
    margin-top: 12px
}

.login-png {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 3px;
    border: 0;
    background: #fff;
    overflow: hidden;
    filter: alpha(opacity=90);
    -moz-opacity: .9;
    -khtml-opacity: .9;
    opacity: .9
}

.givingLM-pop {
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 50%;
    margin-top: -180px;
    margin-left: -260px;
    display: none;
    width: 490px;
    padding: 15px;
    background: #fff
}

.givingLM-pop .close-btn {
    position: absolute;
    top: 26px;
    right: 28px;
    display: inline-block;
    width: 14px;
    height: 14px;
    background: url(//res.darryring.com/webimg/passport/popup/close.png) 0 0 no-repeat
}

.givingLM-pop .close-btn:hover {
    background-position: 0 -14px
}

.givingLM-pop .con-box {
    text-align: center;
    padding: 40px 20px;
    border: 2px solid #5e5d62
}

.givingLM-pop .con-box .logo-box {
    margin: 0 0 20px
}

.givingLM-pop .con-box .logo-box img {
    width: 90px
}

.givingLM-pop .con-box .p01 {
    margin-bottom: 12px;
    line-height: 40px;
    color: #c67c59;
    font-size: 18px
}

.givingLM-pop .con-box .p02 {
    margin-bottom: 28px;
    color: #666;
    font-size: 12px
}

.givingLM-pop .con-box .a01 {
    display: inline-block;
    width: 78px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    color: #c67c59;
    font-size: 12px;
    border: 1px solid #c67c59
}

.dr_blackwall {
    background: #000;
    position: fixed;
    z-index: 8;
    opacity: .5;
    filter: alpha(opacity=50);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: none
}